body {
  height: auto;
  min-width: 1000px;
  background-color: blue;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.pasapalabra-container {
  height: auto;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout-container {
  height: 450px;
  width: 1000px;
  display: flex;
}

.status-panel-container {
  height: 450px;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

#timer {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 12px solid white;
  background-image: linear-gradient(to top right, crimson, orange);
  font-size: 50px;
  text-shadow: 3px 2px red;
  text-align: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

#correct-answers {
  height: 50px;
  width: 50px;  
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 50%;
  border: 2px solid white; 
  background-image: linear-gradient(to top right, rgb(112, 197, 28), palegreen);
  font-size: 35px;
  text-shadow: 3px 2px rgb(2, 155, 2);
  text-align: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

#wrong-answers {
  height: 50px;
  width: 50px;  
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 50%;
  border: 2px solid white; 
  background-image: linear-gradient(to top right, crimson, red);
  font-size: 35px;
  text-shadow: 3px 2px firebrick;
  text-align: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.rosco-container {
  position: relative;
  height: 400px;
  width: 400px;
  display: flex;
  border-radius: 50%;
  margin: 25px;
}

.dot {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%; left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1.5px solid white;
  background-image: linear-gradient(to top right, rgb(13, 70, 194), rgb(57, 116, 226));
  font-size: 25px;
  text-shadow: 3px 2px darkblue;
  margin: -21.5px;
}

.dotToAnswer {
  position: absolute;
  height: 45px;
  width: 45px;
  top: 50%; left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 50%;
  border: 1.5px solid white;
  background-image: linear-gradient(to bottom left, cornflowerblue, lightskyblue);
  font-size: 25px;
  text-shadow: 3px 2px dodgerblue;
  margin: -24px;
}

.dotCorrect {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%; left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 50%;
  border: 1.5px solid white;
  background-image: linear-gradient(to top right, rgb(112, 197, 28), palegreen);
  font-size: 25px;
  text-shadow: 3px 2px rgb(2, 155, 2);
  margin: -21.5px;
}

.dotWrong {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%; left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 50%;
  border: 1.5px solid white;
  background-image: linear-gradient(to top right, crimson, red);
  font-size: 25px;
  text-shadow: 3px 2px firebrick;
  margin: -21.5px;
}

.dotNextRound {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%; left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 50%;
  border: 1.5px solid white;
  background-image: linear-gradient(to top right, orange, gold);
  font-size: 25px;
  text-shadow: 3px 2px chocolate;
  margin: -21.5px;
}

#a {transform: rotate(-90deg) translate(200px) rotate(90deg);}
#b {transform: rotate(-75.6deg) translate(200px) rotate(75.6deg);}
#c {transform: rotate(-61.2deg) translate(200px) rotate(61.2deg);}
#d {transform: rotate(-46.8deg) translate(200px) rotate(46.8deg);}
#e {transform: rotate(-32.4deg) translate(200px) rotate(32.4deg);}
#f {transform: rotate(-18deg) translate(200px) rotate(18deg);}
#g {transform: rotate(-3.6deg) translate(200px) rotate(3.6deg);}
#h {transform: rotate(10.8deg) translate(200px) rotate(-10.8deg);}
#i {transform: rotate(25.2deg) translate(200px) rotate(-25.2deg);}
#j {transform: rotate(39.6deg) translate(200px) rotate(-39.6deg);}
#l {transform: rotate(54deg) translate(200px) rotate(-54deg);}
#m {transform: rotate(68.4deg) translate(200px) rotate(-68.4deg);}
#n {transform: rotate(82.8deg) translate(200px) rotate(-82.8deg);}
#ñ {transform: rotate(-82.8deg) translate(-200px) rotate(82.8deg);}
#o {transform: rotate(-68.4deg) translate(-200px) rotate(68.4deg);}
#p {transform: rotate(-54deg) translate(-200px) rotate(54deg);}
#q {transform: rotate(-39.6deg) translate(-200px) rotate(39.6deg);}
#r {transform: rotate(-25.2deg) translate(-200px) rotate(25.2deg);}
#s {transform: rotate(-10.8deg) translate(-200px) rotate(10.8deg);}
#t {transform: rotate(3.6deg) translate(-200px) rotate(-3.6deg);}
#u {transform: rotate(18deg) translate(-200px) rotate(-18deg);}
#v {transform: rotate(32.4deg) translate(-200px) rotate(-32.4deg);}
#x {transform: rotate(46.8deg) translate(-200px) rotate(-46.8deg);}
#y {transform: rotate(61.2deg) translate(-200px) rotate(-61.2deg);}
#z {transform: rotate(75.6deg) translate(-200px) rotate(-75.6deg);}

.buttons-container {
  height: 450px;
  width: 300px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.button {
  height: 60px;
  width: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid white;
  background-image: linear-gradient(to left, purple, blueviolet); 
  font-size: 20px;
  text-shadow: 3px 2px indigo;
  text-align: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold; 
}

.button:focus{
  outline: 0;
  border-color: darkviolet;
}

.question-container {
  height: 100px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#question {
  height: 60px;
  width: 880px;
  border-radius: 50px;
  border: 2px solid white;
  background-image: linear-gradient(to left, rgb(13, 70, 194), rgb(57, 116, 226));
  font-size: 18px;
  text-shadow: 3px 2px darkblue;
  text-align: center;
  padding: 10px;
}

.answer-container {
  height: 75px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#answer {
  height: 54px;
  width: 250px;
  display: flex;
  border-radius: 50px;
  border: 2px solid white;
  background-image: linear-gradient(to left, rgb(13, 70, 194), rgb(57, 116, 226));
  font-size: 18px;
  text-shadow: 3px 2px darkblue;
  text-align: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin: 10px;
}

#answer:focus { 
  outline: 0;
  border-color: lightsteelblue;
}