* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#textopantalla {
  width: 400px;
  height: 100px;
  background-color: rgb(49, 78, 82);
  color: white;
  font-size: 50px;
  text-align: right;
  padding-top: 35px;
  padding-right: 20px;
}

.calculadora {
  padding: 0;
  width: 400px;
  height: 480px;
  background-color: #f7f6e7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0;
  margin: 50px;
}

p {
  width: 400px;
  height: 80px;
  margin: 0;
}

.calculadora input {
  width: 100px;
  height: 80px;
  font-size: 30px;
  display: inline-block;
  border: 1px solid #808080;
  flex-basis: auto;
  color: rgb(63, 63, 63);
  background-color: #f7f6e7;
}

.calculadora input:focus {
  outline: none !important;
  border-radius: 0;
}

.calculadora input:active {
  background-color: #e7e6e1;
}

.calculadora input.largo {
  width: 200px;
  text-align: left;
  padding-left: 40px;
  color: rgb(63, 63, 63);
}

.calculadora input.operacion {
  background-color: #f2a154;
  color: white;
}

.calculadora input.operacion:active {
  background-color: #d8914f;
  color: white;
}

.calculadora input.retroceder {
  background: transparent url(../calculadora-html/img/return.png) 0 0 no-repeat;
  background-size: 40px;
  background-position: center;
}

.calculadora input.retroceder:active {
  background: transparent url(../calculadora-html/img/return.png) 0 0 no-repeat;
  background-size: 40px;
  background-position: center;
  background-color: #e7e6e1;
}
