.main-navigator {
    display: flex;
    width: 100vw;
    height: 50px;
    background-color: #232a34;
    &__logo {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list{
        display: flex;
        width: 70%;
        justify-content: space-evenly;
        align-items: center;
    }
}

.link {
    color: white;
    font-weight: 600;
}

// @media (max-width: 414px) {
//     .main-navigator {
//         &__list {
//             .list__item ~ .list__item {
//                 display: none;
//             }
//         }
//     }
// }