<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../dashboard-styles/dashboard-styles.css">
    <title>To Do List</title>
</head>
<body onload = 'onLoad()'>
    <header></header>
    <script src="./dashboard-to-do.js"></script>
    <script src="../../../actions/actions.js"></script>
</body>
</html>