.dashboard {
    background-color:#182430;
    color: #eeeeee;
    padding-top:200px ;
    .container {
        max-width: 1400px;
        margin: 0 auto;

        h1 {
            font-size: 85px;
            margin: 9px 0;
        }

        h2 {
            font-size: 24px;
            color: rgb(139, 139, 139)
        }

        h3 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 30px;
        }
        
    }


}
