*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  min-height: 100%;
}

ul {
  list-style: none;
}

td {
  width: 20px;
  height: 20px;
  border: solid 1px;
  background-color: white;
}

.rules {
  margin-top: 20px;
  text-align: justify;
  text-align: center;
  h2 {
    text-align: center;
  }
}
.game {
  &__space {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-grow: 1;
  }
  &__controls {
    margin: 20px 0;
  }
}

.alive {
  background-color: blue;
}

.dead {
  background-color: white;
}
