body {
  background-color: bisque;
}
button {
  display: flex;
  flex-direction: column;
  width: 75px;
  background-color: aquamarine;
  color: blueviolet;
  font-family: sans-serif;
  text-align: center;
  font-style: italic;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#portada {
  display: block;
  margin: auto;
  width: 400px;
  height: 200px;
}
#linea,
#bingo,
#ranking,
#malNombre {
  display: block;
  margin-top: 40px;
  text-align: center;
  font-size: large;
  font-family: Helvetica;
  color: indigo;
}
.filas {
  display: flex;
  background-color: aquamarine;
  text-align: center;
  font-size: large;
  font-style: oblique;
  margin: auto;
  border: 5px black;
  margin-left: 500px;
}
.columnas {
  display: flex;
  background-color: green;
  text-align: center;
  font-size: large;
  font-style: oblique;
  margin: auto;
  border: 5px black;
  width: 100px;
}
#normas,
#carton,
#contadorTurno,
#bola,
#Aceptar,
#Cancelar {
  display: none;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#contadorTurno {
  margin-left: 680px;
}
#nuevoJuego {
  display: flex;
  visibility: hidden;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
}
#botonJugar {
  display: none;
  margin-top: 30px;
}
#Aceptar,
#Cancelar {
  display: none;
  flex-direction: row;
  width: 85px;
  height: 35px;
  background-color: aquamarine;
  color: blueviolet;
  font-family: sans-serif;
  text-align: center;
  font-style: italic;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
}
#mostrar {
  display: inline-block;
}
#nombre {
  background-color: aquamarine;
  display: flex;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
#bienvenida {
  font-family: "Courier New";
  font-size: medium;
}
#botonesJuego {
  display: flex;
  padding: 20px;
  flex-flow: row wrapper;
  justify-content: center;
  align-items: center;
}
