<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/86db5d5532.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="todolist.css">
    <title>Todo-List</title>
</head>
<body>
    <main class="main">

        <section class="addtask-container">
            <h1>To do list</h1>
            <div class="addTask">
                <input type="text" class="addtask__input--title" placeholder="title" onkeyup="updateTaskTitle()">
                <input type="text" class="addtask__input--description" placeholder="description" onkeyup="updateTaskDescription()">
                <button class="addtask__button" onclick="saveTask()"><i class="fas fa-plus"></i></button>    
            </div>
        </section>
        <section class="todo-list">

        </section>
    </main>
</body>

<script src="./../helpers/html.js"></script>
<script src="./../store/store.js"></script>
<script src="./../actions/actions.js"></script>
<script src="./../actions/actionTypes.js"></script>
<script src="./todolist.js"></script>
</html>