*, *::before, *::after {
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
    
body {
        position: relative;
        display: flex;
        background-color: #fafafa;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100%;
}

.footer {
        position: absolute;  
        display: flex; 
        justify-content: center;
        align-items: center; 
        height: 60px;
        width: 100%;
        background-color: #132435;
        bottom: 0px;
        padding: 0 1rem;
}
.footer p, a {
        font-family: 'Inter', sans-serif;    
        color: rgb(101, 101, 101);
        font-size: 0.8rem;
}

.footer #github-logo {
        width: 50px;
        filter:brightness(70%);
}

div.footer > a {
        margin-left: 1rem;
}
.footer #sky-logo {
        width: 130px;
        margin-left: 1.5rem;
        filter:brightness(70%);
}
.footer p:last-child{
        margin-left: 1rem;
}

.footer p:last-child     a:last-child{
        text-decoration: none;
}
/* ---------------------------------SELECT PLAYER---------------------------------*/

.multi-player-grid {
        display: grid;
        position: relative;
        width: 65%;
        max-width: 800px;;
        min-width: 300px;
        grid-template-columns: minmax(90px, 19%) minmax(200px, 1fr) minmax(90px, 19%);
        grid-template-rows: auto;
        grid-template-areas: 
                "player1 logo player2"
                "player3 select player4"
                "player5 . player6";
        justify-content: center;
        justify-items: center;
        align-content: center;
        gap: 15px 0;
        margin: 5em auto;
        height: 70%;
}

.invisible {
        display: none;
}

.player-box {
        position: relative;
}

#logo-pasapalabra {
        display: none;
        grid-area: logo;
        align-self: flex-start;
        width: 35%;
        min-width: 90px;
}

.p-icon {
        width: 100%; 
        cursor: pointer;

}
.box-bkg-left {
        background-color: #ecf4ff;
        position: absolute;
        width: 200%;
        height: 100%;
        z-index: -1;
        border-bottom-left-radius: 65%;
        border-top-left-radius: 85%;
        border-bottom-right-radius: 70%;
        border-top-right-radius: 50%;

}
.box-bkg-right {
        background-color: #ecf4ff;
        position: absolute;
        width: 200%;
        height: 100%;
        top: 0;
        left: -100%;
        z-index: -2;
        border-bottom-left-radius: 70%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 85%;
        border-top-right-radius: 65%;
}
#player-one {
        grid-area: player1;
}
#player-two {
        grid-area: player2;
}
#player-three {
        grid-area: player3;
}
#player-four {
        grid-area: player4;
}
#player-five {
        grid-area: player5;
}
#player-six {
        grid-area: player6;
}

#select-player-icon{
        display: none;
        width: 12%;
        min-width: 40px;
        background-color: transparent;
        border: none;
        outline: none;
        text-decoration: none;
        grid-area: select;
        align-self: center;
        justify-self:center;
}

.slide-right {
        -webkit-animation: slide-right 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0ms;
                animation: slide-right 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0ms;
}
.slide-left {
        -webkit-animation: slide-left 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0ms;
                animation: slide-left 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0ms;
}

.pulsate-bck {
        -webkit-animation: pulsate-bck 0.8s ease-in-out infinite both;
                animation: pulsate-bck 0.8s ease-in-out infinite both;
}

/* ------------------------------------INPUT PLAYER NAME-------------------------*/

.one-player-grid {
        display: grid;
        align-content: center;
        align-items: flex-end;
        width: 65%;
        max-width: 800px;
        grid-template-columns: minmax(130px, 19%);
        grid-template-rows: 225px 50px 100px 100px;
        justify-content: center;
        padding-bottom: 10%;
        height: 100vh;
        margin-top: 2rem;
}

.bkg-avatar {
        width: 200%;
        height: 93%;
        left: -50%;
}

.img-avatar {
        margin-top: 20px;
        cursor: auto;
        width: 105%;
}

#input-name-icon {
        max-width: 22%;
        place-self: center; 
        align-self: flex-start;
}

.text-input-name {
        margin-top: 0.7rem;
        padding: 8px 13px 8px 13px;
        color: rgba(117,117,117,0.7);
        font-weight: 100;
        font-size: 0.7rem;
        border: 1px solid #e5e7eb;
        border-radius: 10px;
        width: 90%;
        place-self: center;
        text-align: center;
        align-self: flex-start;
}
.text-input-name:focus {
        outline: none;
        border-radius: 10px;
        border: 1px solid rgba(113, 136, 159, 0.6);

}
#play-button {
        margin-top: 2.5rem;
        font-size: 0.8rem;
        padding: 0.7rem 0.6rem;
        border: 1px solid #00A3FF;
        outline: none;
        border-radius: 10px;
        color: #ffffff;
        font-weight: 600;
        letter-spacing: 0.5px;;
        font-family: 'Montserrat', sans-serif;
        background-color: #00A3FF;
        transition: 100ms;
        cursor: pointer;
        align-self: flex-start;
}

#play-button:hover {
        background-color: #1A3B5A;
        border: 1px solid #1A3B5A;
        color: #ffffff;
}
.group {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
}

p.info {
        color: #8b8a8a;
        font-size: 0.75rem;
        text-align: center;
        font-family: 'Montserrat';
        line-height: 1.1rem;
}

.icono-keyboard {
        width: 25%;
        align-self: center;
        margin-bottom: 0.5rem;
        
}

.scale-in-center {
        -webkit-animation: scale-in-center 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
                animation: scale-in-center 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.swing-in-top-fwd {
        -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.18, 0.89, 0.38, 2.3) 0.2s both;
                animation: swing-in-top-fwd 0.4s cubic-bezier(0.18, 0.89, 0.38, 2.3) 0.2s both;
}

/* -------------------------------------PLAYER CARD------------------------------ */
.game-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        min-width: 450px;
        margin: 2% auto;
}

.player-card {
        display: flex;
        position: relative;
        justify-content: center;
        width: 70%;
        background-color: #ffffff;
        border: 1px solid #e5e5e5;
        padding: 50px 50px 105px 50px;
        max-width: 500px;
        margin-bottom: -0.8px;

}
.player-card p, span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 0.9rem;
        color: #dadada;
}
#abort-icono {
        position: absolute;
        width: 25px;
        top: -12px;
        right: -12px;
}
#abort-icono:hover {
        cursor: pointer;
        width: 30px;
        top: -15px;
        right: -15px;
}

#abc1 { 
        position: absolute;
        transform: rotate(-90deg);
        top: 90px;
        left: -105px;
        letter-spacing: 0.6rem;
}
#abc2 { 
        position: absolute;
        top: -22px;
        left: 35px;
        letter-spacing: 0.6rem;
}
#abc3 { 
        position: absolute;
        transform: rotate(90deg);
        top: 100px;
        right: -104px;
        letter-spacing: 0.55rem;
}

.hightlited-red {
        color: #ed0404;
        font-weight: 800;
        text-shadow: 0px 0px 2.0px #fe6868;
}
.hightlited-green {
        color: #1e8804;
        font-weight: 800;
        text-shadow: 0px 0px 2px #87d60c;
}

#player-container {
        position: relative;
        width: 230px;
        height: 220px;;
        background-color: #d8e5f9;
        border-bottom-left-radius: 52%;
        border-top-left-radius: 42%;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 59%;
}

.player-icon { 
        position: relative; 
        width: 75%;
        min-width: 150px;
        height: auto;
        top: 10px;
        left: 23px;
}

#player-name {
        font-family: 'Nothing you could do', sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        color: rgb(45,45,45);
        top: 220px;
        letter-spacing: 0;
        text-align: center;
        width: 100%;
        transform: rotate(-1.6deg);
        margin-top: 10px;
}

.crono {
        position: relative;
}
.timer {
        position: absolute;
        transform: translate(-50%, -50%);
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 2.2rem;
        color: #00a3ff;
        z-index: 10;
}

.timer-border {
        position: absolute;
        transform: translate(-50%, -50%);
        border: 1px solid #e5e7eb;
        border-radius: 10px;
        width: 85px;
        height: 75px;
        background-color: white;
} 

.timer-countdown {
        color: white;
        font-size: 2.2rem;

}

.timer-border-countdown {
        border: 1px solid #ed0404;
        background-color: #ed0404;

}
    .slide-in-top {
         -webkit-animation: slide-in-top 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        animation: slide-in-top 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }
    
    
    /* -----------------------------QUESTION CONTAINER---------------------------- */
    
.question-card {
        background-color: #f5f7fa;
        border: 1px solid #e5e7eb;
        border-radius: 10px;
        width: 90%;
        max-width: 700px;
        padding: 20px 0 20px 0;

}

#question-container {
        display: flex;
        position: relative;
        padding: 0.5rem 1rem;
        justify-content: space-evenly;
        align-items: center;
}
#question {
        font-size: 0.7rem;
        color: transparent;
        width: 40%;
        padding-left: inherit;
        padding-right: inherit;

}
#letter {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 4.5rem;
        color: transparent;
}

#input-wrapper {
        position: relative;
        z-index: -1;
}
.text-input {
        padding: 10px 40% 10px 45px;
        color: rgba(117,117,117,0.7);
        font-weight: 100;
        font-size: 0.7rem;
        border: 1px solid #e5e7eb;
        border-radius: 10px;
        width: 100%;
        min-width: 310px;
}
.text-input:focus {
        outline: none;
        border-radius: 10px;
        border: 1px solid rgba(113, 136, 159, 0.6);

}
#answer-icon {
        position: absolute;
        top: 9px; 
        left: 15px;
        width: 1.2rem;
        height: auto;
        z-index: 10;
}
#input-button {
        position: absolute;
        top: 5px; 
        right: 12px;
        height: auto;
        z-index: 10;
        background-color: transparent;
        border: none;
        outline: none;
        text-decoration: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 0.65rem;
        letter-spacing: 0.5px;
        color: #00a3ff;
        padding: 8px 2px 8px 2px;
}

#input-button:hover, #input-button:focus {
        text-decoration: underline; 
}

#pasa-btn, #exit-btn, #replay-btn {
        margin-top: 2.0rem;
        font-size: 0.8rem;
        padding: 0.7rem 1.5rem;
        border: 1px solid rgb(22, 56, 89, 0.05);
        outline: none;
        border-radius: 23px;
        color: #ffffff;
        font-weight: 600;
        letter-spacing: 0.5px;;
        font-family: 'Montserrat', sans-serif;
        background-color: #00A3FF;
        transition: 100ms;
        cursor: pointer;
}
#pasa-btn {
        margin-top: 2.6rem;
}
#pause-icon {
        width: 30%;
        margin-bottom: -3px;
}

#pasa-btn:hover, #exit-btn:hover, #replay-btn:hover {
background-color: rgba(26,59,90,0.9);
}

#pasa-btn:focus, #exit-btn:focus, #replay-btn:focus, #play-button:focus {
        border: 1px solid rgba(26,59,90,0.9);
}

#pasa-btn.paused {
        padding: 0.7rem 4.6rem;
        background-color: #ed0404;
        animation: pulsate-bck 0.8s ease-in-out infinite both;
}
#pasa-btn.paused:focus {
        border: 1px solid #a72a0b;
}

div#question-container h1{
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 2rem;
        color: rgba(26,59,90,0.9);
        animation: pulsate-bck 0.5s ease-in-out infinite both;
}

.slide-in-top-reverse {
        -webkit-animation: slide-in-top 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) reverse both;
                animation: slide-in-top 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) reverse both;
}

.jello-horizontal {
        -webkit-animation: jello-horizontal 0.4s both;
                animation: jello-horizontal 0.4s both;
}

.ping {
-webkit-animation: ping 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
        animation: ping 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

/* -----------------------------RANKING SCREEN---------------------------- */
.results-screen {
        width: 65%;
        max-width: 700px;;
        margin: 5em auto;
}

.flex-container {
        display: flex;
        justify-content: center;
        
}
#results-player-box {
        position: relative;
        align-self: flex-start;    
        min-width: 135px;    

}


#box-bkg {
        position: absolute; 
        background: linear-gradient(to right, #642b73, #c6426e);
        border-radius: 54% 45% 62% 36% / 47% 44% 58% 51%  ;
        width: 100%;
        height: 100%;
        left: -15%;
        top: -7%;
        z-index: -1;
        
}

#result-icons {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 15%;
        top: 118%;

}
.results img {
        width: 85%;
        padding: 0.4rem;
}
div.results p {
        font-size:  1.3rem;
        color: rgb(45,45,45);
}
.result-screen-icon {
        width: 70%;
}
#ranking {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-left: 5%;
        align-self: stretch;
        background-color: #f5f7fa;
        border: 1px solid #e5e7eb;
        border-radius: 10px;
        padding-bottom: 1.3rem;

}
#ranking h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-style: italic;
        padding: 1.3rem;
        font-size: 1.2rem;
        color: #00a3ff;
        align-self: center;

}
.result-screen p, #player-name {
        color:rgb(45,45,45);

}
#ranking p {
        font-family:'Inter', sans-serif;
        font-size: 0.9rem;
        padding: 0.5rem;
        font-weight: 600;
  
}
.list {
        display: flex;
        border: 1px solid #e5e7eb;
        border-radius: 10px; 
        justify-content: space-between;
        width: 90%;
        padding: 0.1rem;
        align-self: center; 
        background-color: rgba(255, 255, 255, 0.3);
        margin-bottom: 0.4rem;
}
p.user-points {
        margin-left:auto;
}
#exit-btn, #replay-btn {
        margin: 12rem 2rem;
        flex-shrink: 0;
}

#results-player-box #results-player-name {
        position: absolute;
        top: 98%;
        left: -15%;
}

#results-player-name {
        font-family: 'Nothing you could do', sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        color: rgb(45,45,45);
        width: 100%;
        transform: rotate(-1.6deg);
}

#wrong-icono {
        width: 62%;
}

#exit-icon {
        width: 22%;
        margin-right: -13px; 
}
#replay-icon {
        width: 22%;
}
div.results {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 115%;
        left: 10%;
        margin-top: 1rem;
}
.results .flex-container{
        align-items: center;
}

.list img{
        width: 1.2rem;
        margin-top: 0.5rem 0 0 0;
}


/*--------------------------------KEY FRAMES--------------------------------------*/

/* ----------------------------------------------
* Generated by Animista on 2021-2-12 11:16:36
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-right
* ----------------------------------------
*/
@-webkit-keyframes slide-right {
        0% {
                -webkit-transform: translateX(0);
                        transform: translateX(-800px);
        }
        100% {
                -webkit-transform: translateX(0px);
                        transform: translateX(0px);
        }
        }
        @keyframes slide-right {
        0% {
                -webkit-transform: translateX(0);
                        transform: translateX(-800px);
        }
        100% {
                -webkit-transform: translateX(0px);
                        transform: translateX(0px);
        }
}

/* ----------------------------------------------
* Generated by Animista on 2021-2-12 11:16:36
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-left
* ----------------------------------------
*/
@-webkit-keyframes slide-left {
        0% {
                -webkit-transform: translateX(0);
                        transform: translateX(800px);
        }
        100% {
                -webkit-transform: translateX(0px);
                        transform: translateX(800px);
        }
        }
        @keyframes slide-left {
        0% {
                -webkit-transform: translateX(0);
                        transform: translateX(800px);
        }
        100% {
                -webkit-transform: translateX(0px);
                        transform: translateX(0px);
        }
}

/* ----------------------------------------------
* Generated by Animista on 2021-2-27 8:15:25
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation pulsate-bck
* ----------------------------------------
*/
@-webkit-keyframes pulsate-bck {
        0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        }
        50% {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
        }
        100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        }
        }
        @keyframes pulsate-bck {
        0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        }
        50% {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
        }
        100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        }
}


/* ----------------------------------------------
* Generated by Animista on 2021-2-13 20:41:35
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation scale-in-center
* ----------------------------------------
*/
@-webkit-keyframes scale-in-center {
        0% {
                -webkit-transform: scale(0);
                        transform: scale(0);
                opacity: 1;
        }
        100% {
                -webkit-transform: scale(1);
                        transform: scale(1);
                opacity: 1;
        }
        }
        @keyframes scale-in-center {
        0% {
                -webkit-transform: scale(0);
                        transform: scale(0);
                opacity: 1;
        }
        100% {
                -webkit-transform: scale(1);
                        transform: scale(1);
                opacity: 1;
        }
}



/* ----------------------------------------------
* Generated by Animista on 2021-2-14 22:12:37
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation swing-in-top-fwd
* ----------------------------------------
*/
@-webkit-keyframes swing-in-top-fwd {
        0% {
                -webkit-transform: rotateX(-100deg);
                        transform: rotateX(-100deg);
                -webkit-transform-origin: top;
                        transform-origin: top;
                opacity: 0;
        }
        100% {
                -webkit-transform: rotateX(0deg);
                        transform: rotateX(0deg);
                -webkit-transform-origin: top;
                        transform-origin: top;
                opacity: 1;
        }
        }
        @keyframes swing-in-top-fwd {
        0% {
                -webkit-transform: rotateX(-100deg);
                        transform: rotateX(-100deg);
                -webkit-transform-origin: top;
                        transform-origin: top;
                opacity: 0;
        }
        100% {
                -webkit-transform: rotateX(0deg);
                        transform: rotateX(0deg);
                -webkit-transform-origin: top;
                        transform-origin: top;
                opacity: 1;
        }
}

/* ----------------------------------------------
* Generated by Animista on 2021-2-15 8:14:10
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-in-top
* ----------------------------------------
*/
@-webkit-keyframes slide-in-top {
        0% {
                -webkit-transform: translateY(-900px);
                        transform: translateY(-900px);
                opacity: 0;
        }
        100% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                opacity: 1;
        }
        }
        @keyframes slide-in-top {
        0% {
                -webkit-transform: translateY(-900px);
                        transform: translateY(-900px);
                opacity: 0;
        }
        100% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                opacity: 1;
        }
}
/**
* ----------------------------------------
* animation slide-in-top
* ----------------------------------------
*/
@-webkit-keyframes slide-in-top-reverse {
        0% {
                -webkit-transform: translateY(-1000px);
                        transform: translateY(-1000px);
                opacity: 0;
        }
        100% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                opacity: 1;
        }
        }
        @keyframes slide-in-top-reverse {
        0% {
                -webkit-transform: translateY(-1000px);
                        transform: translateY(-1000px);
                opacity: 0;
        }
        100% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                opacity: 1;
        }
}


/* ----------------------------------------------
* Generated by Animista on 2021-2-15 15:52:14
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation jello-horizontal
* ----------------------------------------
*/
@-webkit-keyframes jello-horizontal {
        0% {
                -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
        }
        30% {
                -webkit-transform: scale3d(1.25, 0.75, 1);
                        transform: scale3d(1.25, 0.75, 1);
        }
        40% {
                -webkit-transform: scale3d(0.75, 1.25, 1);
                        transform: scale3d(0.75, 1.25, 1);
        }
        50% {
                -webkit-transform: scale3d(1.15, 0.85, 1);
                        transform: scale3d(1.15, 0.85, 1);
        }
        65% {
                -webkit-transform: scale3d(0.95, 1.05, 1);
                        transform: scale3d(0.95, 1.05, 1);
        }
        75% {
                -webkit-transform: scale3d(1.05, 0.95, 1);
                        transform: scale3d(1.05, 0.95, 1);
        }
        100% {
                -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
        }
}
@keyframes jello-horizontal {
        0% {
                -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
        }
        30% {
                -webkit-transform: scale3d(1.25, 0.75, 1);
                        transform: scale3d(1.25, 0.75, 1);
        }
        40% {
                -webkit-transform: scale3d(0.75, 1.25, 1);
                        transform: scale3d(0.75, 1.25, 1);
        }
        50% {
                -webkit-transform: scale3d(1.15, 0.85, 1);
                        transform: scale3d(1.15, 0.85, 1);
        }
        65% {
                -webkit-transform: scale3d(0.95, 1.05, 1);
                        transform: scale3d(0.95, 1.05, 1);
        }
        75% {
                -webkit-transform: scale3d(1.05, 0.95, 1);
                        transform: scale3d(1.05, 0.95, 1);
        }
        100% {
                -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
        }
}


@media screen and (min-width: 1300px) {     
        .game-wrapper {
                margin: 8% auto;
        }

        .results-screen {
                width: 65%;
                max-width: 1000px;;
                margin: 8% auto;
        }

        .text-input-name {

                font-size: 0.8rem;
                width: 100%;
        }

        #question {
                font-size: 0.8rem;
        }
        .text-input {
                font-size: 0.8rem;
        }

        .question-card {
                max-width: 800px;
        }

        #input-button {
                font-size: 0.72rem;
        } 

        #logo-pasapalabra {
                width: 32%;
        }
                
}

@media screen and (max-width: 1300px) {
        #player-container {
                width: 190px;
                height: 180px;
        }

        #abort-icono {
                width: 20px;
                top: -10px;
                right: -10px;
        }
        #abort-icono:hover {
                width: 25px;
                top: -12px;
                right: -12px;
        }

        .player-card {
                width: 65%;
                margin-bottom: -0.9px;
        }

        #abc2 { 
                top: -22px;
                left: 10px;
                letter-spacing: 0.6rem;
        }
                
        .multi-player-grid {

                max-width: 620px;;
                height: 75%;
                gap: 8px;
                margin: 2rem auto;
        }

        .player-box {
                width: 92%;
        }
        #exit-btn, #replay-btn {
                margin: 6rem 2rem;
        }
        #pasa-btn {
                margin-top: 1.2rem;
        }

        .footer {
                height: 50px;
        }
        .footer p, a {
                font-size: 0.7rem;
        }

        .footer #github-logo {
        width: 40px;
        }

        div.footer > a {
                margin-left: 0.6rem;
        }
        .footer #sky-logo {
                width: 110px;
                margin-left: 1.5rem;

        }
        .timer {   
                font-size: 2rem;
                color: #00a3ff;
                z-index: 10;
        }

        .timer-border {
                width: 75px;
                height: 65px;
                background-color: white;
        }

        .timer-countdown {
                color: white;
                font-size: 2.2rem;

        }

        .timer-border-countdown {
                border: 1px solid #ed0404;
                background-color: #ed0404;

        }

        #results-player-name {
                font-size: 1.2rem;
                
        }
        div.results p {
                font-size: 1rem;
        }
        .results #ok-icono, .results #wrong-icono {
                width: 60%;
        }
        .text-input {
                min-width: 210px;
        }

}
  