@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(57, 57, 57)
}


main {
    padding: 50px 40px;
    max-width: 800px;
}


form {
    label {
        margin-right: 10px;
    }
    .input-field {
        padding: 0 10px;
        width: 250px;
        height: 25px;
    }


}
.btn {
    padding: 10px 30px;
    margin-left: 35px;
    border: none;
    cursor: pointer;
    background-color:rgb(31, 201, 31);
    border-radius: 30px;
    color: white;
    font-weight: bolder;
}

.tasks {
    margin-top: 30px;

    h1 {
        text-transform: uppercase;

    }
    .tasks__list {
        margin-top: 20px;
        list-style: none;

        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0;
            padding: 10px 8px;
            background-color: rgb(247, 247, 247);
            box-shadow: 4px 4px 10px -10px rgba(0, 0, 0, 0.6);
        
            .task-button {
                color: white;
                border-radius: 5px;;
                margin: 0 2px;
                padding: 5px 10px;
                cursor: pointer;
                font-size: 12px;


                &__edit {
                    background-color: rgba(39, 41, 176, 0.8);
                    margin-left: auto;
                }

                &__delete {
                    background-color: rgba(223, 26, 26, 0.8);

                }
            }
            p {
                margin: 0 5px;
            }
        }
        
    }

}








