* {
    font-size: 1em;
}
.form-block {
    display: flex;
    color: #f3f3f3;


    .form-block__input {
        height: 30px;
        font-size: 1.2em;
        font-family: 'Raleway';
        padding: 0.5em;
        border-radius: 10px;
        outline-style: none;

    }
    .form-block__btn {
        background-color: rgba(88, 179, 70, 0.9);
        margin-left: 15px;
        outline-style: none;
        border: none;
        padding: 5px 30px;
        border-radius: 10px;
        color: #f3f3f3;
        font-weight: bolder;
        cursor: pointer;

        &:hover {
            background-color: rgba(88, 179, 70, 1);
        }
    }
}

