@mixin nav-style {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 10px;
}

@mixin movie-pictures {
  width: 100%;
  display: flex;
  list-style: none;
  li {
    img {
      height: 100%;
      width: 100%;
      margin: 0px;
    }
  }
}

@mixin yellow-border {
  border: 4px solid #ffe300;
  cursor: pointer;
}

@mixin transparent-border {
  border: 4px solid transparent;
  padding: 0px;
}
