@import "./colors";
@import "./form";
* {
  margin: 0px;
}

.header-container-fixed {
  display: flex;
  position: fixed;
  justify-content: row;
  background-color: black;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1.3vmin;
  max-height: 30px;
  font-family: "Noto Sans", sans-serif;
  align-items: center;
}

#beggining-header {
  width: 9px;
}

.first-header-part {
  @include nav-style;
  color: $header-font-color;
  width: 440px;
}

#logo img {
  width: 110px;
  margin-bottom: 18px;
}

#cinema:hover,
#gratis:hover,
#suscripciones:hover {
  color: $header-hover-color;
}

.second-header-part {
  width: 1296px;
}

input {
  background: #333333;
  border-color: black;
  height: 25px;
  width: 200px;
  border-style: groove;
}

input:active {
  background-color: white;
}

.third-header-part {
  @include nav-style;
  align-content: flex-end;
  color: $header-font-color;
  width: 370px;
}

#ayuda {
  color: $header-grey-color;
}

#ayuda:hover,
#entrar:hover {
  color: $header-hover-color;
}

#registrate {
  background: $header-hover-color;
  font-family: "Noto Sans", sans-serif;
  border-color: black;
  border-radius: 10%;
  padding-right: 8px;
  padding-left: 8px;
  min-height: 30px;
  font-size: 11px;
}

#registrate:hover {
  background-color: rgb(194, 194, 5);
}

#end-header {
  padding-left: 20px;
}

ul {
  list-style: none;
}

#img-slice-1 {
  width: 100px;
  height: 100px;
}
