* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.header-container-fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  background-color: black;
  width: 100vw;
  height: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-header-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: white;
  width: 440px;
}

.first-header-part .triangle-white {
  display: inline;
  width: 6px;
}

.first-header-part .triangle-yellow {
  display: none;
}

.first-header-part .cinema-list {
  display: none;
  position: absolute;
  list-style: none;
  color: white;
  font-size: 8px;
  font-weight: lighter;
  padding-top: 15px;
  background-color: black;
}

.first-header-part .cinema-list li {
  padding-top: 10px;
  cursor: pointer;
  color: white;
}

#cinema:hover .triangle-white {
  display: none;
}

#cinema:hover .triangle-yellow {
  display: inline;
  width: 6px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

#cinema:hover .cinema-list {
  display: block;
}

#cinema:hover .cinema-list li:hover {
  color: #ffe300;
}

#logo img {
  width: 110px;
  margin-bottom: 18px;
}

#cinema:hover,
#gratis:hover,
#suscripciones:hover {
  color: #ffe300;
}

.second-header-part {
  width: 100%;
}

input {
  background: #333333;
  border-color: black;
  height: 25px;
  width: 200px;
  border-style: groove;
}

input:active {
  background-color: white;
}

.third-header-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 10px;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  color: white;
  width: 370px;
}

#ayuda {
  color: grey;
}

#ayuda:hover,
#entrar:hover {
  color: #ffe300;
}

#registrate {
  background: #ffe300;
  font-family: "Noto Sans", sans-serif;
  border-color: black;
  border-radius: 10%;
  padding-right: 8px;
  padding-left: 8px;
  min-height: 30px;
  font-size: 11px;
}

#registrate:hover {
  background-color: #c2c205;
}

@media (max-width: 979px) {
  .second-header-part,
  .third-header-part,
  #registrate,
  .first-header-part {
    display: none;
  }
  #logo img {
    margin-top: 20px;
  }
}

main {
  width: 100%;
  overflow: hidden;
  background-color: black;
  padding-left: 15px;
  padding-right: 15px;
}

.row-movies {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 350px;
}

.row-movies li img {
  height: 100%;
  width: 100%;
  margin: 0px;
}

#img-row-1,
#img-row-2,
#img-row-3,
#img-row-4,
#img-row-5 {
  border: 4px solid transparent;
  padding: 0px;
}

#img-row-1:hover,
#img-row-2:hover,
#img-row-3:hover,
#img-row-4:hover,
#img-row-5:hover {
  border: 4px solid #ffe300;
  cursor: pointer;
}

h2 {
  margin-top: 20px;
  padding-bottom: 10px;
  color: white;
  font-size: 17px;
}

.scroll-movies {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.scroll-movies li img {
  height: 100%;
  width: 100%;
  margin: 0px;
}

#img-scroll-1,
#img-scroll-2,
#img-scroll-3,
#img-scroll-4,
#img-scroll-5,
#img-scroll-6,
#img-scroll-7,
#img-scroll-8 {
  border: 4px solid transparent;
  padding: 0px;
}

#img-scroll-1:hover,
#img-scroll-2:hover,
#img-scroll-3:hover,
#img-scroll-4:hover,
#img-scroll-5:hover,
#img-scroll-6:hover,
#img-scroll-7:hover,
#img-scroll-8:hover {
  border: 4px solid #ffe300;
  cursor: pointer;
}
/*# sourceMappingURL=rakuten.css.map */