@import "./colors";
@import "./form";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.header-container-fixed {
  display: flex;
  position: fixed;
  justify-content: row;
  background-color: black;
  width: 100vw;
  height: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  align-items: center;
  padding-right: 35px;
}

.first-header-part {
  @include nav-style;
  color: $header-font-color;
  width: 460px;
  .triangle-white {
    display: inline;
    width: 6px;
  }
  .triangle-yellow {
    display: none;
  }
  .cinema-list {
    @include slice-list-class;
  }
  .cinema-list li {
    @include slice-list-li;
  }
}

#cinema:hover {
  @include slice-list-hover;
  .cinema-list {
    display: block;
  }
  .cinema-list li:hover {
    color: $header-hover-color;
  }
}

#logo img {
  width: 110px;
  margin-bottom: 18px;
}

#cinema:hover,
#gratis:hover,
#suscripciones:hover {
  color: $header-hover-color;
}

.second-header-part {
  width: 100%;
}

input {
  background: #333333;
  border-color: black;
  height: 25px;
  width: 200px;
  border-style: groove;
}

input:active {
  background-color: white;
}

.third-header-part {
  @include nav-style;
  align-content: flex-end;
  color: $header-font-color;
  width: 370px;
}

#ayuda {
  color: $header-grey-color;
}

#ayuda:hover,
#entrar:hover {
  color: $header-hover-color;
}

#registrate {
  background: $header-hover-color;
  font-weight: bold;
  border-color: black;
  border-radius: 10%;
  padding-right: 8px;
  padding-left: 8px;
  min-height: 30px;
  font-size: 11px;
}

#registrate:hover {
  background-color: rgb(194, 194, 5);
}

@media (max-width: 1100px) {
  #ayuda {
    display: none;
  }
}
@media (max-width: 979px) {
  .second-header-part,
  .third-header-part,
  #registrate,
  .first-header-part {
    display: none;
  }
  #logo img {
    margin-top: 20px;
  }
}

main {
  width: 100%;
  overflow: hidden;
  background-color: black;
  padding-left: 15px;
  padding-right: 15px;
}

.row-movies {
  @include movie-pictures;
  margin-top: 350px;
}

#img-row-1,
#img-row-2,
#img-row-3,
#img-row-4,
#img-row-5 {
  @include transparent-border;
}

#img-row-1:hover,
#img-row-2:hover,
#img-row-3:hover,
#img-row-4:hover,
#img-row-5:hover {
  @include yellow-border;
}

h2 {
  margin-top: 20px;
  padding-bottom: 10px;
  color: white;
  font-size: 17px;
}

.scroll-movies {
  @include movie-pictures;
}

#img-scroll-1,
#img-scroll-2,
#img-scroll-3,
#img-scroll-4,
#img-scroll-5,
#img-scroll-6,
#img-scroll-7,
#img-scroll-8 {
  @include transparent-border;
}

#img-scroll-1:hover,
#img-scroll-2:hover,
#img-scroll-3:hover,
#img-scroll-4:hover,
#img-scroll-5:hover,
#img-scroll-6:hover,
#img-scroll-7:hover,
#img-scroll-8:hover {
  @include yellow-border;
}
