.todolist-tittle {
  display: flex;
  justify-content: center;
  font-size: 200%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffe3fe;
  background-color: #440a67;
  padding: 15px;
}

body {
  background-image: url('https://wallpapercave.com/wp/wp6655569.jpg');
}