.table {
    width: 480px;
    height: 591px;
    font-size: 55px;
    font-family: Sans-serif;
    border-collapse: collapse;
    border-radius: 0px;
    overflow: hidden;
    margin: 5% auto;
    box-shadow: 5px 10px 18px #888888;
    table-layout:fixed;
}

td {
    width: 90px;
    height: 104px;
    border: solid 1px #b8860b;
}

td:hover:not(.screen) {
    cursor: pointer;
    color:#b8860b;
    box-shadow: 5px 10px 18px #888888;
}

.head {
    text-align: right;
    font-size: 95px;
    background-color: #808080;
    color: white;  
}

.body {
    text-align: center;
    color: white;
    background-color: #d3d3d3;  
}

.operators, .equal, .percentage {
    cursor: pointer;
    background-color: #f4a460;
}

.OperatorActive {
    background-color: #f1c39b;
}

.screen, .screenTwo, .screenThree, .screenFour {
   width: 360px;
   height: 135px;
   padding: 15px 20px 0px 0px;
}

.screenTwo  {
    font-size: 75px;
}

.delete, .screenThree  {
    font-size: 60px;
}

.multi, .screenFour  {
    font-size: 45px;
}

.reset, .delete, .percentage {
    background-color: #d8ac85;
}

.reset, .zero {
    text-align: center;
}


