@import './../../styles/mixin.scss';
@import '../../styles/colors.scss';

.category{
    columns: 5 200px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 30px 5%;
    &__item{
        position:relative;
        margin: 0 1.5rem 1.5rem 0;
        display: inline-block;
        width: 100%;
        padding: 5px;
        img{
            width: 100%;
            border-radius: 20px;
        }
        &:hover{
            position: relative;
            cursor: pointer;
            &::before {
                content: '';
                display: block;
                position: absolute;
                height: calc(100% - 13px);
                top: 5px;
                left: 5px;
                border-radius: 20px;
                background: $color-red-dark;
                opacity: .5;
                width: calc(100% - 10px);
            }
            .detail-name{
                visibility: visible;
            }
        }
    }
    .detail-name{
        position:absolute;
        color: white;
        padding: 20px;
        bottom: 0;
        margin-bottom: 30px;
        visibility: hidden;
    }
    
}

