.logout-button{
    background: none;
    border: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}
.user-text{
    font-size: 12px; 
}

.logout-icon{
    height: 12px;
    margin-right: 5px;
}

.login-button{
    background: none;
    border: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin-right: 5px;
}

.login-icon{
    height: 18px;
}