@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

nav {
    height: 50px;
    width: 100%;
    position: sticky;
    background-color: #F8F8F8;
    position: fixed;
    top: 0;
}

nav a {
    color: #2E2925;
    text-decoration: none;
}

.nav-container {
    display: flex;
    max-width: 1080px;
    height: 50px;
    width: 100%;
    margin: 0 auto;
    align-items: center; 
    border: 2px solid red;
}

ul.main-icons {
    align-self: stretch;
    display: flex;
    list-style: none;
    cursor: pointer;
}

ul.main-icons li {
    margin-right: 4px;
    width: 70px;
    height: 70px;
}
ul.main-icons li.ma {
    width: 80px;
    height: 140px;
    background-color: #ff5959;
}
ul.main-icons li.cu {
    
    background-color: #6199AF;
}
ul.main-icons li.mu {
    
    background-color: #F6B436;
}

.login a {
    font-size: 13px;
}
.icon-login {
    width: 34px;
    height: 34px;
}

main {
    padding: 50px 0px;
    height: 2000px;
    background-color: white;
}