@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

nav {
    height: 50px;
    width: 100%;
    position: sticky;
    background-color: #F8F8F8;
    position: fixed;
    top: 0;
}

nav a {
    color: #2E2925;
    text-decoration: none;
}

.nav-container {
    display: flex;
    max-width: 1080px;
    height: 50px;
    width: 100%;
    margin: 0 auto;
    align-items: center; 
}

.main-icons {
    align-self: stretch;
    display: flex;
    list-style: none;
    cursor: pointer;
}

.main-icons li {
    margin-right: 4px;
    width: 70px;
    height: 70px;
}

.main-icons li:hover {
    height: 140px;
}
.main-icons li.ma {
    width: 80px;
    height: 140px;
    background-color: #ff5959;
}
.main-icons li.cu {
    
    background-color: #6199AF;
}
.main-icons li.mu {
    
    background-color: #F6B436;
}

.login {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 50px;
}

.login a {
    font-size: 13px;
    display: flex;
    align-items: center;

}
.login a:hover {
    color: #ff5959;
}
.login .icon {
    width: 35px;
    height: 35px;  
    background: url('./images/sprite.svg') 0 0 no-repeat; 
}
.login .icon:hover {  
    background: url('./images/sprite.svg') -37px 0 no-repeat; 
}

.social-icons{
    display:flex;
    list-style: none;
    padding-left: 50px;
    padding-right: 50px;
}
.social-icons a {
    cursor: pointer;
}.social-icons a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}.social-icons li {
    margin-right: 15px;
}

.shopping-cart-group img{
    width: 35px;
    height: 35px;
}

.shopping-cart-group {
    display: flex;
    align-self: stretch;
}
.cart-element {
    background-color: #FFFFFF;
    padding: 10px;
}
.cart-element.qty {
    background-color: #ff5959;
}
.cart-element span {
    padding: 10px;
    color: #FFFFFF;
    font-size: 20px;
}

.cart-element:hover {
    background-color: #ff5959;

}
main {
    padding: 50px 0px;
    height: 2000px;
    background-color: grey;
}
header {
    height: 260px;
    background-color: #FFFFFF;
}
.content-container {
    max-width: 1080px;
    display: flex;
    align-items: flex-end;
    margin: 0 auto; 
    height: 260px;
}
header .logo img{
    margin-bottom: 65px;
}



