@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@100;400;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
    padding: 30px 50px;
    max-width: 800px;
    .input-task-elements{
        margin-bottom: 30px;
        &__input {
            width: 300px;
            padding: 10px 50px;
            border: none;
            border-radius: 40px;
            background-color: rgb(238, 238, 238);
            color: rgb(47, 47, 47);
            margin-right: 15px;
        }

        &__button {
            border: 1px solid rgb(0, 206, 0);
            background: none;
            font-size: 20px;
            padding: 10px 20px;
            color: rgb(0, 206, 0);
            cursor: pointer;
        }

        &__button:hover {
            background-color: rgb(0, 206, 0);
            color:white
        }
    }

    h1 {
        margin-bottom: 25px;
        color: rgb(47, 47, 47);
    }

    .task-list  {
        list-style: none;

        .element {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.2rem;
            margin-bottom: 20px;
            padding: 10px 30px;
            background-color:  rgba(185, 185, 185, 0.06);

            p {
                font-family: 'Caveat', cursive;
                font-size: 1.7rem;
            }

            &__button {
                border: none;
                padding: 10px 20px;
                cursor: pointer;
                &--delete {
                    margin-left: auto;
                    background-color: rgba(214, 73, 73,0.7);
                    
                }

                &--delete:hover{
                    background-color: rgba(214, 73, 73,1);

                }
                
                &--done {
                    margin-left: 15px;
                    background-color: rgba(31, 206, 31, 0.5);

                }

                &--done:hover{
                    background-color: rgba(31, 206, 31, 1);

                }
            }

        }
    }
}

