.main {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.resume {
    display:flex;
    flex-direction: row;
    &__right{
        width: 40%;
        margin: 0 40px;
        margin-right: 60px;
        .skills{
            list-style: none;
            padding:0;
            .container {
                background-color: rgba(0, 0, 0, .1);
                border-radius: 9999px;
            }     
            .container__progress {
                height: 15px;    
                background-color: #0093E9;
                background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
                border-radius: 9999px;
                transition: all 1s;
            }
        }
    }
    &__left{
        width:60%;
        margin: 0 40px;
        .education{
            list-style: none;
            padding:0;
            &__title{
                padding-left: 10px;
                font-weight: bold;
                font-size: 18px;
            }
        }
        .experience{
            list-style: none;
            padding:0;
        }
    }
}

.container {
    /* Used to position the left vertical line */
    position: relative;
    margin-left: 100px;
}

.container__line {
    /* Border */
    border-right: 2px solid #0093E9;

    /* Positioned at the left */
    left: 6px;
    position: absolute;
    top: 0px;

    /* Take full height */
    height: 100%;
}

.container__items {
    /* Reset styles */
    position: relative;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.container__item-left{
    position: absolute;
    left: -100px;
    width: 100px;
    height: 60px;
}

.container__item {
    margin-bottom: 15px;
}

.container__top {
    /* Center the content horizontally */
    align-items: center;
    display: flex;
}

.container__circle {
    /* Rounded border */
    background-color: #0093E9;
    border-radius: 9999px;

    /* Size */
    height: 15px;
    width: 15px;
}

.container__title {
    /* Take available width */
    flex: 1;
}

.container__desc {
    /* Make it align with the title */
    margin-left: 25px;
}
