.mainTable {
    background-color:#fce38a;
    color: #6a2c70;
}

.play {
    margin: 20px 0 0 5px;
    background-color: #f38181;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #6a2c70;
}
