$background-color-nav: #000000;
$background-color-main: #171717;
$background-color-input: #333333;
$background-color-footer: #212121;
$color-main: #ffffff;
$color-secondary: #171717;
$color-highlite: #ffe300;
