.sidenav {
    height: 100%;
    width: 25%; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    color: #0F1111;
    background-color: #FFFFFF; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav__close-button {
    position: absolute;
    float: left;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav__user-bar {
    width: 100%;
    height: 7%;
    color: #FFFFFF;
    background-color: #232f3e;
}

.sidenav__user-icon {
    margin: 0 10px 0 36px;
    background-position: -137px -340px;
}