html,
body {
  height: 100%;
}

.game {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px;
  font: bold 15px "Reem Kufi", sans-serif;
  color: white;
  text-align: center;
  background-color: #4074ca;
}

.main-menu,
.donut,
.ranking,
.player-space,
.end-game-buttons,
.player-results,
.current-player-result,
.timer {
  display: none;
}

.timer {
  font-size: 60px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* top: 353px; */
  /* left: 291px; */
  left: calc(49% - 8px);
  top: calc(43% - 8px);
}

.donut {
  height: 530px;
  margin: auto;
  width: 500px;
  list-style: none;
}

.circle {
  position: absolute;
  left: calc(50% - 8px);
  top: calc(45% - 8px);
  margin: 6px;
  border: 2px solid white;
  border-radius: 12px;
  box-shadow: 1px 1px 1px black;
  font: bold 15px/13px "Reem Kufi", sans-serif;
  height: 16px;
  width: 16px;
  padding: 4px 3px 0 3px;
  text-align: center;
}

.unanswered {
  background: radial-gradient(5px -9px, circle, white 8%, rgb(0, 60, 255) 26px);
  background: -moz-radial-gradient(
    5px -9px,
    circle,
    white 8%,
    rgb(0, 60, 255) 26px
  );
  background: -ms-radial-gradient(
    5px -9px,
    circle,
    white 8%,
    rgb(0, 60, 255) 26px
  );
  background: -o-radial-gradient(
    5px -9px,
    circle,
    white 8%,
    rgb(0, 60, 255) 26px
  );
  background: -webkit-radial-gradient(
    5px -9px,
    circle,
    white 8%,
    rgb(0, 60, 255) 26px
  );
}

.correct {
  background: radial-gradient(5px -9px, circle, white 8%, rgb(60, 255, 0) 26px);
  background: -moz-radial-gradient(
    5px -9px,
    circle,
    white 8%,
    rgb(60, 255, 0) 26px
  );
  background: -ms-radial-gradient(
    5px -9px,
    circle,
    white 8%,
    rgb(60, 255, 0) 26px
  );
  background: -o-radial-gradient(
    5px -9px,
    circle,
    white 8%,
    rgb(60, 255, 0) 26px
  );
  background: -webkit-radial-gradient(
    5px -9px,
    circle,
    white 8%,
    rgb(60, 255, 0) 26px
  );
}

.incorrect {
  background: radial-gradient(5px -9px, circle, white 8%, red 26px);
  background: -moz-radial-gradient(5px -9px, circle, white 8%, red 26px);
  background: -ms-radial-gradient(5px -9px, circle, white 8%, red 26px);
  background: -o-radial-gradient(5px -9px, circle, white 8%, red 26px);
  background: -webkit-radial-gradient(5px -9px, circle, white 8%, red 26px);
}

h1 {
  font-size: 3em;
}

#play-buttons {
  padding-top: 2%;
}

.normal-button {
  border: solid 2px white;
  color: white;
  background-color: #4074ca;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 2%;
}

input {
  height: 20px;
}

.letterA {
  transform: translateY(-250px);
}

.letterB {
  transform: rotate(14.4deg) translateY(-250px) rotate(-14.4deg);
}

.letterC {
  transform: rotate(28.8deg) translateY(-250px) rotate(-28.8deg);
}

.letterD {
  transform: rotate(43.2deg) translateY(-250px) rotate(-43.2deg);
}

.letterE {
  transform: rotate(57.6deg) translateY(-250px) rotate(-57.6deg);
}

.letterF {
  transform: rotate(72deg) translateY(-250px) rotate(-72deg);
}

.letterG {
  transform: rotate(86.4deg) translateY(-250px) rotate(-86.4deg);
}

.letterH {
  transform: rotate(100.8deg) translateY(-250px) rotate(-100.8deg);
}

.letterI {
  transform: rotate(115.2deg) translateY(-250px) rotate(-115.2deg);
}

.letterJ {
  transform: rotate(129.6deg) translateY(-250px) rotate(-129.6deg);
}
.letterL {
  transform: rotate(144deg) translateY(-250px) rotate(-144deg);
}

.letterM {
  transform: rotate(158.4deg) translateY(-250px) rotate(-158.4deg);
}

.letterN {
  transform: rotate(172.8deg) translateY(-250px) rotate(-172.8deg);
}

.letterÑ {
  transform: rotate(187.2deg) translateY(-250px) rotate(-187.2deg);
}

.letterO {
  transform: rotate(201.6deg) translateY(-250px) rotate(-201.6deg);
}

.letterP {
  transform: rotate(216deg) translateY(-250px) rotate(-216deg);
}

.letterQ {
  transform: rotate(230.4deg) translateY(-250px) rotate(-230.4deg);
}

.letterR {
  transform: rotate(244.8deg) translateY(-250px) rotate(-244.8deg);
}

.letterS {
  transform: rotate(259.2deg) translateY(-250px) rotate(-259.2deg);
}

.letterT {
  transform: rotate(273.6deg) translateY(-250px) rotate(-273.6deg);
}
.letterU {
  transform: rotate(288deg) translateY(-250px) rotate(-288deg);
}

.letterV {
  transform: rotate(302.4deg) translateY(-250px) rotate(-302.4deg);
}

.letterX {
  transform: rotate(316.8deg) translateY(-250px) rotate(-316.8deg);
}

.letterY {
  transform: rotate(331.2deg) translateY(-250px) rotate(-331.2deg);
}

.letterZ {
  transform: rotate(345.6deg) translateY(-250px) rotate(-345.6deg);
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table-header {
  color: white;
  text-shadow: 1px 1px 1px black;
}

th {
  letter-spacing: 2px;
  border-bottom: solid 2px black;
}
td {
  color: white;
  padding: 10px;
}

.player-results {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 999999;
  background-color: rgba(11, 11, 15, 0.466);
}
