body {
  font-size: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: white;
  background-image: linear-gradient(
    110.3deg,
    rgba(73, 93, 109, 1) 4.3%,
    rgba(49, 55, 82, 1) 96.7%
  );
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  padding: 20px 0;
  color: white;
  font-weight: bold;
}

.tablero-player-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tablero {
  border: 2px solid gray;
  margin: 0;
  min-width: 504px;
}

.column {
  border: 1px solid gray;
  padding: 0 10px;
  outline: none;
  background-color: rgb(150, 150, 150);
}

.player-red-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 18px;
  padding: 0 40px;
  align-items: center;
}

.player-red {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: radial-gradient(circle, rgb(255, 80, 80) 0%, red 90%);
}

.player-blue-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 18px;
  padding: 0 40px;
  align-items: center;
}
.player-blue {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: radial-gradient(circle, rgb(61, 61, 255) 0%, blue 90%);
  opacity: 0;
}

p {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

.base {
  margin-bottom: 0;
  height: 150px;
  font-size: 60px;
  padding: 50px;
  text-transform: uppercase;
}

#playerColor {
  font-size: 18px;
  padding: 30px;
  width: 100px;
  color: red;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winner-text {
  font-size: 20px;
  padding: 30px;
  text-transform: uppercase;
  height: 25px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.reset {
  padding: 10px;
  border-style: none;
  border-radius: 20px;
  margin-bottom: 40px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  display: block;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  text-decoration: none;
  outline: none;
}

.reset:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
