.logo {
  width: 200px;
}

.nav__container {
  display: flex;
  justify-content: space-around;
}

.nav__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  background-color: blue;
}

.nav__button-link {
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}