$color-black-dark: #0b090aff;
$color-black-light: #161a1dff;

$color-red-dark: #660708ff;
$color-red-dark-hover:rgba(102, 7, 9, 0.5);
$color-red-medium-dark: #a4161aff;
$color-red-medium-light: #ba181bff;
$color-red-light: #e5383bff;

$color-gray-dark: #b1a7a6ff;
$color-gray-medium: #d3d3d3ff;
$color-gray-ligth: #f5f3f4ff;
$color-white: #ffffffff;