@mixin flex-content ($display:flex, $flex-direction:row, $justify-content:unset, $align-items:unset){
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin font ($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}