@import './variables';

header {
    width: 100%;
    position: fixed;
    z-index: 1;
}
body {
    margin: 0;
    font-family: "NotoSans-Bold",Arial,sans-serif;
}

nav {
    background-color: $black-corporation;
}
#nav-items {
    background-color: $black-corporation;
    display: flex;
    height: 61px;
    padding: 0 20px;
    margin: 0 auto;
    justify-content: space-between;
}

#navs {
    display: flex;
}

#menu-items, #navigation-button {
    color: $white-corporation;
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

#cinema::after, #suscripciones::after {
    content: '▼';
    font-size: 10px;
    padding-left: 5px;
}

#cinema:hover, #suscripciones:hover, #gratis:hover {
    color: $yelow-corporation;
}
.item-menu {
    padding: 20px 5px;
    text-shadow: 0px 0px 2px #aaa;
}


#nav-logo img {
    width: 140px;
    padding: 10px 0;
}

#input-menu-search {
    background: $dark-gray-corporation;
    padding: 10px;
    margin: 10px;
    border: none;
    width: 300px;
    border-radius: 2px;
}

#input-menu-search:focus {
    border: none;
    background-color: $white-corporation;
    border-radius: 2px;
}

.navigation-item {
    padding: 20px;
}

#ayuda {
    color: $light-gray-corporation;
}

#registrarse {
    background-color: $yelow-corporation;
    color: $dark-gray-corporation;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    top: 10px;
}
#ayuda:hover, #entrar:hover {
    color: $yelow-corporation;
}

.slide img {
    width: 100%;
}

#items {
    display: flex;
    width: 100%;
    overflow: scroll;
}

#content {
    background-color: $dark-gray-corporation;
}

#upper {
    text-transform: uppercase;
}

.section-title h2 {
    color: white;
}

#films-items {
    overflow: scroll;
}

#films-items ul {
    display:flex;

}

#films-items ul li{
    list-style: none;
    border: 3px solid transparent;
    margin: 0 5px;
    cursor: pointer;
}


#films-items ul li:hover{
    border: 3px solid $yelow-corporation;
    
}

#slide-information img {
    width: 100%;
}

#slide-information {
    background-color: $gray-product-aside;
}
#card {
    width: 70%;
}

aside {
    width: 30%;
}

#text-description {
    background-color: white;
    font-size: 16px;
    line-height: 180%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    .slick-list {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
      top: 61px;
    }
    .slick-prev, .slick-next {
      font-size: 20px;
      line-height: 0;
      position: absolute;
      top: 40%;
      display: block;
      width: 30px;
      height: 30px;
      padding: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
      z-index: 1;
    }
    .slick-prev:before {
      font-family: 'slick';
      font-size: 3em;
      font-weight: bolder;
      line-height: 1;
      color:white;
      -webkit-font-smoothing: antialiased;
      content: '<';
    }
    .slick-next:after {
      font-family: 'slick';
      font-size: 3em;
      font-weight: bolder;
      line-height: 1;
      color:white;
      -webkit-font-smoothing: antialiased;
      content: '>';
      right:0;
    }
    .slick-prev {
      left:10px;
    }
    .slick-next {
      right:50px;
    }
    .slick-dots {
        position: relative;
        bottom: 50px;
        display: flex;
        list-style: none;
    }
  }