@import './variables';

header {
    width: 100%;
    position: fixed;
}
body {
    margin: 0;
    font-family: "NotoSans-Bold",Arial,sans-serif;
}

nav {
    background-color: $black-corporation;
}
#nav-items {
    background-color: $black-corporation;
    display: flex;
    height: 61px;
    padding: 0 20px;
    margin: 0 auto;
    justify-content: space-between;
}

#navs {
    display: flex;
}

#menu-items, #navigation-button {
    color: $white-corporation;
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

#cinema::after, #suscripciones::after {
    content: '▼';
    font-size: 10px;
    padding-left: 5px;
}

#cinema:hover, #suscripciones:hover, #gratis:hover {
    color: $yelow-corporation;
}
.item-menu {
    padding: 20px 5px;
    text-shadow: 0px 0px 2px #aaa;
}


#nav-logo img {
    width: 140px;
    padding: 10px 0;
}

#input-menu-search {
    background: $dark-gray-corporation;
    padding: 10px;
    margin: 10px;
    border: none;
    width: 300px;
    border-radius: 2px;
}

#input-menu-search:focus {
    border: none;
    background-color: $white-corporation;
    border-radius: 2px;
}

.navigation-item {
    padding: 20px;
}

#ayuda {
    color: $light-gray-corporation;
}

#registrarse {
    background-color: $yelow-corporation;
    color: $dark-gray-corporation;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    top: 10px;
}
#ayuda:hover, #entrar:hover {
    color: $yelow-corporation;
}

#slide img {
    width: 100%;
}

#items {
    display: flex;
    width: 100%;
}

#content {
    background-color: $dark-gray-corporation;
}

#upper {
    text-transform: uppercase;
}

.section-title h2 {
    color: white;
}

#films-items ul {
    display:flex;

}

#films-items ul li{
    list-style: none;
    border: 3px solid transparent;
    margin: 0 5px;
    cursor: pointer;
}


#films-items ul li:hover{
    border: 3px solid $yelow-corporation;
    
}

#slide-information img {
    width: 100%;
}

#slide-information {
    background-color: $gray-product-aside;
}
#card {
    width: 70%;
}

aside {
    width: 30%;
}

#text-description {
    background-color: white;
    font-size: 16px;
    line-height: 180%;
}