html {
  height: 100%;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

body {
  padding: 0;
  margin: 0;
}

.calculator {
  margin-top: 100px;
  margin-left: 500px;
  margin-right: 500px;

  display: grid;
  justify-content: center;
  align-items: center;

  grid-template-columns: repeat(4, 70px);
  grid-template-rows: minmax(150px, auto) repeat(5, 60px);

  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

  border-radius: 15px;
  box-shadow: 0px 10px 15px rgba(120, 30, 0, 50);
}

.screen {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  position: relative;
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;

  font-size: 17px;
  line-height: 40px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: right;
  letter-spacing: 1px;
}

button {
  cursor: pointer;
  font-size: medium;
  background: #a296d6;
  border-radius: 3px;
}

button:hover {
  background: #dfa9d3;
}

#clear {
  position: relative;
  grid-column: span 4;
  background-color: #ffcc70;
  font-weight: 600;
}

#clear:hover {
  background-color: aquamarine;
}

.showResult {
  background-color: #ffcc70;
}

.showResult:hover {
  background-color: aquamarine;
}

.operator {
  background-color: rgb(214, 90, 204);
}

.operator:hover {
  background-color: rgb(165, 127, 255);
}
