@mixin flex-content($flex-direction:row,$justify-content:unset,$align-items:unset) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin background-img ($background-image,$background-size,$background-position){
    background-image: $background-image;
    background-position: $background-position;
    background-repeat: no-repeat;
    background-size: $background-size;
}