<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./../styles/todolist.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&family=Londrina+Solid&display=swap"
      rel="stylesheet"
    />
  </head>
  <body onload="createList()">
    <main class="main"></main>
    <script src="./todolist.js"></script>
    <script src="./../actions/actions.js"></script>
    <script src="./../dispatcher/dispatcher.js"></script>
    <script src="./../store/store.js"></script>
  </body>
</html>
