<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./../styles/todolist.css" />
  </head>
  <body onload="createList()">
    <main class="main"></main>
    <script src="./todolist.js"></script>
    <script src="./../actions/actions.js"></script>
    <script src="./../dispatcher/dispatcher.js"></script>
    <script src="./../store/store.js"></script>
  </body>
</html>
