$general-background: #3A2D32;
$mid-color: #c73270;
$light-color: #e66198;

.title {
    text-align: center;
}

.list {
    list-style: none;

    &__element {
        background-color: $mid-color;
        color: $general-background;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1em;
        border-radius: 1.5em;
        justify-content: center;
    }
}

.task-content {
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75em;
    padding-left: 8em;
}

.task-content__title {
    font-size: 2em;
    padding: 0.35em;
}

.task-content__description {
    font-size: 1em;
    padding: 0 2em 1em 2em;
    overflow-wrap: anywhere;
}

.inputs {

    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 1em 0;

    &__edit-title {
        background-color: $light-color;
        font-size: 1.5em;
        border-radius: 0.35em;
        border-style: none;
        outline: none;
        padding: 0.35em;
        margin-bottom: 0.35em;


        &::placeholder{
            color: $general-background;
        }
    }

    &__edit-description {
        background-color: $light-color;
        font-size: 1em;
        height: 2em;
        border-radius: 0.5em;
        border-style: none;
        outline: none;
        padding: 0.35em;


        &::placeholder{
            color: $general-background;
        }
    }
}


.buttons {

    display: flex;
    flex-direction: row;
    padding: 0em 2em;
    border-style: none;

    button {
        cursor: pointer;
        outline: none;
        border-style: none;
        background-color: transparent;
        padding: 0.5em 0em;
    }

    img {
        width: 2em;
        padding: 0 0.2em;
    }
}

.fa-star {
    color: yellow;
}

.fas, .far {
    font-size: 2em;
    padding: 0.2em;
}

.fa-trash, 
.fa-edit, 
.fa-check-circle, 
.fa-undo-alt, 
.fa-save {
    &:hover {
        color: yellow;
    }
}