<h2>Profile</h2>
<div *ngIf="hero">
    <form [formGroup]="profileForm">
        <label>
            id:
            <input type="text" placeholder="id" formControlName="id" [ngModel]="hero._id">
        </label>

        <label>
            name:
            <input type="text" placeholder="name" formControlName="name" [ngModel]="hero.name">
            <p *ngIf="name?.hasError('minlength')">minlength required {{name?.errors?.minlength?.actualLength}}/{{name?.errors?.minlength?.requiredLength}}</p>
            <p *ngIf="name?.hasError('maxlength')">maxlength required {{name?.errors?.maxlength?.actualLength}}/{{name?.errors?.maxlength?.requiredLength}}</p>
        </label>

        <div formArrayName="aliases">
            <h3>Aliases</h3>
                <button (click)="addAlias()">add alias</button>
            <p *ngFor="let alias of aliases?.controls; let i = index">
                <input type="text" [formControlName]="i">
            </p>
        </div> 

        <!-- <div formGroupName="address">
            <h3>Address</h3>
            <label>
                street:
                <input type="text" placeholder="street" formControlName="street">
            </label>
            <label>
                number:
                <input type="text" placeholder="number" formControlName="number">
            </label>
            <label>
                cp:
                <input type="text" placeholder="cp" formControlName="cp">
            </label>
            <label>
                city:
                <input type="text" placeholder="city" formControlName="city">
            </label>

        </div>
        <button [disabled]="profileForm.invalid" (click)="save(profileForm.value)">save</button> -->
    </form>
</div>