.header-container{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(164, 252, 218);
    width: fill;

    .icon {

       width: 80px;
       height:80px;
       border-radius: 50%;
       background-color: aqua; 
    }

    .header-list {
        display: flex;
        flex-direction: row;
        li{
            width: 100px;
            cursor: pointer;
            list-style-type: none;
            color: rgb(153, 153, 153);
        }
    }
}

