.mode-game{
    background-color: #023047;
    border-radius: 25px;
    color: #fa1919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    height: 50vh;
    &__difficult{
        width: 10vw;
        margin-bottom: 3vh;
    }
    &__type{
        width: 10vw;
    }
    &__accept {
        background-color: #023047;
        width: 5vw;
        border: none;
        cursor: pointer;
        margin-left: 20vw;
    }
}