body {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
}

header {
    background-color: #f8f8f8;
    height: 50px;
}

#first_icons {
    display: flex;
}

.color_icons {
    padding-right: 5px;
}

#ma, #cu, #mu {
    cursor: pointer;
    height: 70px;
}

#ma {
    background-color: #ff5959;
    height: 150px;
}

#cu {
    background-color: #6199af;
}

#mu {
    background-color: #f6b436;
}

#icons {
    display: flex;
    justify-content: space-evenly;
}

#login img {
    width: 30px;
    margin-top: 5px;
}

#rrss img {
    width: 20px;
}

#rrss {
    display: flex;
    width: 250px;
    justify-content: space-evenly;
    margin-top: 13px;
}

#basket img {
    width: 35px;
}

#basket {
    margin-top: 5px;
    display: flex;
}

#basket div {
    margin: 0 5px;
}

#basket-items {
    font-size: 20px;
}

#content {
    display: flex;
    justify-content: space-evenly;
}

#menu-buscador, #menu-items {
    display: flex;
}

#menu-items {
    justify-content: space-evenly;
}

.item-menu img {
    width: 50px;
}

.content-div {
    width: 50%;
}

#logo {
    padding-left: 120px;
}

#novedades, #ofertas {
    text-transform: uppercase;
    align-items: center;
    display: flex;
    padding: 0 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin: 0 2px;
}

#novedades img, #ofertas img {
    width: 30px;
}

#novedades {
    background-color: #9faa4d;
}

#ofertas {
    background-color: #8e789d;
}