body {
  margin: 0;
  font-family: "Source sans pro";
  font-size: 12px;
}

header {
  /*background-color: #f8f8f8;*/
  height: 310px;
}

#first_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.color_icons {
  padding-right: 5px;
}

#ma, #cu, #mu {
  cursor: pointer;
  height: 70px;
  text-align: center;
}

#ma:hover, #cu:hover, #mu:hover {
  height: 150px;
}

#cu:hover img, #mu:hover img {
  position: relative;
  top: 80px;
}

#ma {
  background-color: #ff5959;
  height: 150px;
  width: 80px;
}

#ma img {
  position: relative;
  top: 75px;
}

#cu {
  background-color: #6199af;
  width: 70px;
}

#mu {
  background-color: #f6b436;
  width: 70px;
}

#icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1080px;
  margin: 0 auto;
}

#header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#login {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  position: relative;
  top: 10px;
}

#login span {
  margin: 5px 0 0 15px;
}

#login:hover span {
  color: #ff5959;
}

#img-login {
  width: 28px;
  height: 28px;
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 0;
}

#login:hover #img-login {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -37px 0;
}

#facebook {
  width: 20px;
  height: 20px;
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -5px 175px;
}

#facebook:hover {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -5px 215px;
}

#twitter {
  width: 20px;
  height: 20px;
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -42px 175px;
}

#twitter:hover {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -42px 215px;
}

#instagram {
  width: 20px;
  height: 20px;
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -78px 175px;
}

#instagram:hover {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -78px 215px;
}

#pinterest {
  width: 20px;
  height: 20px;
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -110px 175px;
}

#pinterest:hover {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -110px 215px;
}

#youtube {
  width: 20px;
  height: 20px;
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -185px 175px;
}

#youtube:hover {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -185px 215px;
}

#rrss img {
  width: 20px;
}

#rss-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 195px;
}

#rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 275px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 13px;
  cursor: pointer;
}

#basket img {
  width: 35px;
}

#basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

#basket-icon {
  width: 30px;
  height: 30px;
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -78px 0;
  position: relative;
  top: 10px;
}

#bsk:hover #basket-icon {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -117px 0;
}

#bsk {
  width: 50px;
  height: 50px;
  background-color: white;
}

#bsk:hover {
  background-color: #ff5959;
}

#basket div {
  margin: 0 auto;
}

#basket-items {
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: #ff5959;
  color: white;
}

#basket-items span {
  position: relative;
  top: 13px;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#menu-buscador, #navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  position: relative;
  top: -70px;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navigation {
  padding-top: 20px;
}

#menu-items {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-menu {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: #f2f2f2;
  margin-right: 5px;
  cursor: pointer;
}

.item-information {
  text-transform: uppercase;
  position: relative;
  top: 40px;
  font-weight: bold;
  font-size: 13px;
}

#blog .item-information {
  top: 8px;
}

.item-menu:hover {
  background-color: #ff5959;
}

#utensilios, #ingredientes, #fiestas, #marcas {
  background-size: 50px auto;
  background-repeat: no-repeat;
  width: 50px;
  height: 67px;
  margin: 0 auto;
  position: relative;
  top: 15%;
}

#utensilios {
  background-image: url(../images/utensiliosML.png);
}

.item-menu:hover #utensilios {
  background-image: url(../images/utensiliosML-hover.png);
}

#ingredientes {
  background-image: url(../images/magdalena.png);
}

.item-menu:hover #ingredientes {
  background-image: url(../images/magdalena-hover.png);
}

#fiestas {
  background-image: url(../images/tarta-cumpleanos.png);
}

.item-menu:hover #fiestas {
  background-image: url(../images/tarta-cumpleanos-hover.png);
}

#marcas {
  background-image: url(../images/delantal.png);
}

.item-menu:hover #marcas {
  background-image: url(../images/delantal-hover.png);
}

#blog {
  background-color: #ff5959;
  width: 100px;
  height: 100px;
}

#blog-icon {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/menu.svg) -400px 0;
  width: 100px;
  height: 100px;
  text-align: center;
  cursor: pointer;
}

#logo {
  padding-left: 120px;
  width: 40%;
}

#menu {
  width: 55%;
}

#input-buscador {
  height: 30px;
  width: 275px;
}

#lupa-buscador {
  background-color: #BBB8B6;
  width: 50px;
}

#buscador-icon {
  width: 30px;
  height: 30px;
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -308px 3px;
}

#buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#novedades, #ofertas {
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 6px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin: 0 2px;
}

#nov-img {
  width: 30px;
  height: 30px;
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -242px 3px;
}

#ofe-img {
  width: 30px;
  height: 30px;
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 75px 3px;
}

#novedades {
  background-color: #9faa4d;
}

#ofertas {
  background-color: #8e789d;
}

#menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#slider {
  width: 100%;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#a6cd9a), color-stop(50%, #a6cd9a), color-stop(50%, #8bbb7d), to(#8bbb7d));
  background: linear-gradient(to right, #a6cd9a 0%, #a6cd9a 50%, #8bbb7d 50%, #8bbb7d 100%);
}

#titulo-seccion {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
  color: #2E2925;
}

#title-icon {
  background: url(../images/utensiliosML.png);
  background-size: 140px;
  background-repeat: no-repeat;
  height: 150px;
  width: 11%;
  margin: 0 auto;
}

#title h1 {
  letter-spacing: 6px;
  font-weight: bold;
  font-size: 22px;
  padding: 25px 0;
  border-top: 2px solid #2E2925;
  border-bottom: 2px solid #2E2925;
  width: 15%;
  margin: 0 auto;
}

#title {
  padding-top: 40px;
}

.carousel-item img {
  width: 80% !important;
  margin: 0 auto;
}

#items-section .col-2 {
  max-width: unset !important;
  width: 50% !important;
}

.description-item {
  position: absolute;
  top: 50%;
  width: 250px;
  background: #fff;
  opacity: 0.8;
  height: 150px;
  padding: 10px;
}

.description-item::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 150px solid #fff;
  border-right: 100px solid transparent;
  position: absolute;
  right: -100px;
  top: 0;
}

.description-item h2 {
  color: #67635F;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-item p {
  font-size: 15px;
  line-height: 18px;
}

.row {
  padding: 30px 10px;
}

.row #superior {
  padding-bottom: 15px;
}

.vertical {
  top: 80%;
}

#item_horitzontal_inferior {
  left: 135%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=styles.css.map */