footer {
  width: 100%;
  height: 50px;
  background-color: #161A1D;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer__content {
  padding-left: 10%;
}