@import './../../../styles/colors.scss';
@import './../../../styles/mixin.scss';

footer {
  width: 100%;
  height: 50px;
  background-color: $color-black-light;
  color: $color-white;
  @include flex-content(flex, null, flex-start, center);
}

.footer__content {
  padding-left: 10%;
}