.list-tittle {
    font-size: 200%;
    text-transform:uppercase;
    color: #8CBE24;
    font-family: 'Open Sans', sans-serif;
}

.products-list__product {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #40394a;
}