@import './../../../styles/mixin.scss';
@import './../../../styles/colors.scss';

.header {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}
