$gris-claro: #ccc;
$gris-medio: #555;
$gris-obscuro: #333;
$negro: #010101;
$naranja: #f90;
$naranrojo: #ff2244;

$text-color: $negro;
$text-important: $naranrojo;
$border-color: $gris-obscuro;
$bacground-color: $gris-claro;