$gris-claro: #ccc;
$gris-medio: #555;
$gris-oscuro: #333;
$negro: #010101;
$naranja: #ff9900;

$text-color: $negro;
$border-color: $gris-oscuro;
$background-color: $gris-claro;
$generic-border-color: $gris-medio;
$text-important: $naranja;
