@import './colors';
@import './mixins';
@import './values';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #eaeaea;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	margin: 20px;
}

.main {
	@include common-tags(row);
}
.sidebar {
	@include common-tags(column, $text-important);

	&-title {
		color: $text-important;
	}
}

.form {
	@include common-tags(column, $generic-border-color);
}
