.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #232a34;
    color: white;
    min-height: 100vh;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.technology-logo {
    width: 100px;
    height: 100px;
}

.stack-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
}