
.task-list {
    list-style: none;
    margin: 50px 0 0 0;
}

.task-item {
    display: flex;
    justify-content: space-between;

    &__name--active {
        color: red;
        text-decoration: line-through;

    }

    .delete-btn {
        margin-left: auto;
    }
}

