html,
body {
  height: 100%;
  font: bold 15px "Reem Kufi", sans-serif;
  color: #eeeeee;
}

.game {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px;
  text-align: center;
  background-color: #00adb5;
}

.user-interaction-warning,
.game-results,
.full-column,
.special-thanks,
.game-mode {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 999999;
  background-color: rgba(11, 11, 15, 0.466);
}

.hidden {
  display: none;
}

.board {
  background-color: #393e46;
  border: 2px solid black;
}

.row,
.insert-piece-button {
  display: flex;
  color: black;
}

.cell {
  width: 100px;
  height: 100px;
  border: 5px solid #222831;
  border-radius: 50%;
}

.empty-cell {
  background-color: white;
}

.player1-cell {
  background-color: rgb(192, 17, 17);
}

.player2-cell {
  background-color: rgb(17, 113, 192);
}

.button {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.button button,
.play-button {
  width: 100%;
  padding: 10px;
  border: none;
  margin: 2px;
}

i {
  color: #eeeeee;
}

.end-game-buttons,
.game-mode-buttons {
  display: flex;
  justify-content: space-around;
}

.button-no-style,
.button button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.modal-window-flex {
  display: flex;
  justify-content: space-between;
}

.modal-window {
  background-color: #393e46;
  padding: 20px;
  border-radius: 2%;
  border: solid 2px;
  width: 400px;
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
}

.results {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.close-button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  height: 32px;
  width: 32px;
  position: relative;
}

.right-x-line {
  background-color: #eeeeee;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(0%, -50%) rotate(45deg);
  height: 1px;
  width: 100%;
}

.left-x-line {
  background-color: #eeeeee;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translate(-50%, 0%) rotate(45deg);
  height: 100%;
  width: 1px;
}
