* {
    font-family: -apple-system;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#04054e, #a82b2b);
}

.container {
    background: rgb(209, 200, 104);
    border-radius: 14px;
    border: 1px solid black;
    box-shadow : inset -2px -2px 7px black, inset 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.display{
    background-color: rgb(0, 0, 0);
    height: 105px;
    font-size: 31px;
    margin: 7% 3% 3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 9px;
    color: cyan;
    text-shadow: 0 0 30px #0ff, 0 0 120px #0ff;
    overflow: hidden;
}

.buttons{
    max-width: 380px;
    display:flex;
    flex-wrap: wrap;
    margin: 7% 5% 7%;
}

button{
    flex: 1 25%;
    padding: 17px;
    font-size: 26px;
    border-radius: 9px;
    cursor: pointer;
    box-shadow : inset -2px -2px 3px black, inset 2px 2px 3px rgba(94, 104, 121, 0.288);
}   

button:hover {
    opacity: 0.5;
}

.number_key {
    background-color:rgb(255, 255, 255);
}
  
.operator {
    background-color:rgb(14, 76, 248);
    color: white;
}

.all_clear {
    background-color:rgb(255, 51, 0);
    color: white;
    flex-basis: 50%;
}

.clear {
    background-color:rgb(255, 51, 0);
    color: white;
}

#number_key_0 {
    background-color:rgb(255, 255, 255);
    flex-basis: 50%;
}

.equal {
    background-color:rgb(14, 76, 248);
    color: white;
}