* {
    font-family: monospace;
}

body {
    background-color:black;
}

p {
    font-size: 25px;
    color:white;
    float: right;
    margin: 20px 5px  ;
}

#console {
    background-color: black ;
    height: 80px ;
    width: 238px ;
    border:1px solid white ;    
    justify-content : flex-end ;
    overflow : hidden ;
}

#console p {
    margin: 40px 5px 1px 1px;
}


.calculator {
    background-color: white;
    height: 374px;  
    width: 240px;
    border: 2px solid white;
    margin: 0 auto;
}

.dobleSquare {
    background-color:rgb(48, 48, 63);
    height: 50px;
    width: 122px;
    border: 1px solid white;
}
 
.simpleSquare {
    background-color:rgb(48, 48, 63);
    height: 50px;
    width: 60px;
    border: 1px solid white;
}

.flex {
    display: flex;
}

.operatorButton {
    background-color:rgb(37, 37, 48);
}

#skin {
    background-color: rgb(37, 37, 48);
    height: 30px;
    width: 238px;
    border: 1px solid white;
}

#skin p {
    margin: 0px 42px;
}