*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  display: flex;
}
.header-fix {
  display: flex;
  background-color: grey;
  justify-content: space-between;
}
.social-navigator {
  display: flex;
}
.nav-web {
  display: flex;
  flex-direction: column;
}
.searching {
  display: flex;
}
.firstIMG {
  background: red;
}
.secondIMG {
  background: blue;
}
.secondIMG:hover {
  height: 100px;
}
.thirdIMG:hover {
  height: 100px;
}
.thirdIMG {
  background: yellow;
}
.header-webpage {
  display: flex;
  justify-content: space-between;
}
.icons {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
}
.icon5 {
  margin-left: 50px;
}
.news {
  background-color: greenyellow;
  color: white;
}
.offer {
  background-color: purple;
  color: white;
}
.lupa,
.lupa2 {
  height: 22px;
  width: 22px;
  margin-right: 90px;
}
.person-search {
  display: flex;
}
.star,
.circle {
  width: 20px;
  height: 20px;
}
.register {
  margin-right: 125px;
}
.cart-image {
  display: flex;
  margin-left: 100px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
}
.cart-image:hover,
.icon1:hover,
.icon2:hover,
.icon3:hover,
.icon4:hover,
.icon5:hover {
  background-color: rgb(219, 93, 93);
}
.social-media1:hover,
.social-media2:hover,
.social-media3:hover,
.social-media4:hover,
.social-media5:hover {
  color: rgb(219, 93, 93);
}
