*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: none;
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  color: #67635f;
}
.header-container {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  display: flex;
}
.header-fix {
  display: flex;
  background-color: #f8f8f8;
  width: 100%;
  height: 50px;
  justify-content: space-between;
}
.letter-logo {
  display: flex;
  margin-left: 20000px;
}
.social-navigator {
  display: flex;
  align-items: center;
}
.text {
  margin-top: 10px;
  margin-left: 10px;
}
.nav-web {
  display: flex;
  flex-direction: column;
}
.searching {
  display: flex;
}
.login,
.social1,
.social2,
.social3,
.social4,
.social5 {
  height: 30px;
  width: 30px;
}
.firstIMG {
  background: #ff5959;
  width: 100%;
  height: 100px;
}
.secondIMG {
  background: #6199af;
  width: 100%;
}
.thirdIMG {
  background: #f6b436;
  width: 100%;
}
.secondIMG:hover {
  height: 100px;
}
.thirdIMG:hover {
  height: 100px;
}
.header-webpage {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-right: 150px;
}
.icons {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
  margin-top: 25px;
}
.description-icons {
  margin-top: 10px;
}
.description1,
.description2,
.description3 {
  font-weight: bold;
  margin-left: 30px;
}
.description4 {
  font-weight: bold;
  margin-left: 60px;
}
.description5 {
  font-weight: bold;
  margin-left: 110px;
}
.icon5 {
  margin-left: 50px;
  background-color: #ff5959;
}
.logotipe {
  margin-top: 30px;
  margin-left: 30px;
  height: 110px;
}
.news {
  display: flex;
  background-color: #9faa4d;
  color: white;
  margin-right: 10px;
  width: 130px;
  height: 30px;
  border: none;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 8px;
}
.offer {
  display: flex;
  background-color: #8e789d;
  color: white;
  margin-right: 10px;
  width: 130px;
  height: 30px;
  border: none;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 8px;
}
.star,
.circle {
  justify-self: flex-start;
  margin-right: 5px;
  margin-bottom: ;
}
.textfield {
  width: 200px;
  height: 25px;
  margin-right: 5px;
}
.lupa,
.lupa2 {
  height: 25px;
  width: 50px;
  margin-right: 90px;
}
.person-search {
  display: flex;
}
.star,
.circle {
  width: 20px;
  height: 20px;
}
.register {
  margin-right: 125px;
}
.cart {
  display: flex;
  margin-left: 50px;
}
.cart-image {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 10px;
}
.social-navigator {
  margin-right: 250px;
}
.num-of-cart {
  background-color: #ff5959;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: auto;
  padding: 19px;
}
.elements {
  font-size: large;
  display: flex;
  margin: auto;
  width: 50px;
  height: 50px;
}
.num-of-cart:hover {
  background: white;
}
.icon1,
.icon2,
.icon3,
.icon4 {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  background: #f8f8f8;
}
.icon5 {
  width: 100px;
  height: 100px;
}
.cart-image:hover,
.icon1:hover,
.icon2:hover,
.icon3:hover,
.icon4:hover {
  background-color: #ff5959;
}
.icon5:hover {
  background-color: white;
}
.social-media1:hover,
.social-media2:hover,
.social-media3:hover,
.social-media4:hover,
.social-media5:hover {
  color: #ff5959;
}
