@import './mixin.scss';

.header{
    background: #F8F8F8;
    display: flex;
    height: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
    width: 71.5%;
    min-width: 100px;
    justify-content: space-between;
}

.list-container {
    width: 252px;
    color: #2E2925;
}

.ul-content {
    display: flex;
    list-style: none;
    height: 140px;
}

.ma-link-container{
    @include link-size(140px, 80px);
    background: url('../img/maria-lunarillos.png') #FF5959 bottom center no-repeat;
}

.cu-link-container{
    @include link-size(70px, 70px);
    transition: height;
    background: url('../img/cucute.png') #6199AF bottom center no-repeat;;
}

.mu-link-container{
    @include link-size(70px, 70px);
    transition: height;
    background: url('../img/mumuchu.png') #F6B436 bottom center no-repeat;
}

.mu-link-container:hover,  .cu-link-container:hover{
    height: 140px;

}

.header-links-container {
    display: flex;
    align-content: center;
    margin-right: 76px;
    text-decoration: none;
    height: 49px;
}

.enter-register-container{
        display: flex;
        margin-right: 76px;
        align-items: center;
}

.register-container{  
     display: flex;
     align-items: center;
     text-decoration: none;
     color: black;
}

.register-container:hover{
    $register-background-position-init: $register-background-position-hover;
    color: #FF5959;    
}

.image-enter-register {
    @include image-register-display($register-background-position-init);
}

.image-enter-register:hover {
    @include image-register-display($register-background-position-hover);
}

.register-container-text {
    display: flex;
    justify-content: center;
}

.link-social-media {
    align-items: center;
    display: flex;
    height: 20px;
    margin: 15px 7px;
    width: 195px;
}

.fb-link {
    @include link-social-media-content(-3px -540px);
}

.tw-link {
    @include link-social-media-content(-38px -540px);
}

.ig-link {
    @include link-social-media-content(-74px -540px);
}

.pi-link {
    @include link-social-media-content(-111px -540px);
}

.yt-link {
    @include link-social-media-content(-183px -540px);

}

.fb-link:hover {
    @include link-social-media-content(-3px -500px);
}

.tw-link:hover {
    @include link-social-media-content(-38px -500px);
}

.ig-link:hover {
    @include link-social-media-content(-74px -500px);
}

.pi-link:hover {
    @include link-social-media-content(-111px -500px);
}

.yt-link:hover {
    @include link-social-media-content(-183px -500px);
}

.buy-container {
    width: 100px;
    display: flex;
}

.buy-display {
    background: url(../img/sprite.svg) transparent 0 0 no-repeat;
    background-position: -64px 12px;
    padding: 20px;
    padding-left: 30px;
}

.buy-display:hover {
    background: #FF5959 url(../img/sprite.svg)no-repeat;
    background-position: -103px 11px;
    padding: 20px;
    padding-left: 30px;
}

.counter-container {
    width: 50px;
    display: flex;
    font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    color: #fff;
    background: #FF5959;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    width: 71.5%;
    margin-top: -41px;
    justify-content: space-between;
}

.logo-container {
    margin-top: 74px;
}

.quick-acces-container  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quick-acces {
    display: flex;
    border: red solid;
    height: fit-content;
    justify-content: space-around;
}

.quick-acces-menu {
    border: black solid;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.quick-acces-menu__list {
    @include common-quick-acces(10px);
    &--icon{
        background: yellow;        
        height: 100px;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 40px;
    };
    
    &--text{
        display: flex;
        justify-content: center;
        list-style: none;
        border: solid blueviolet;
        };
}
.quick-acces-menu-blog {
    margin-left: 60px;
}