.header-container {
    position: fixed;
    background: #F8F8F8;
    width: 100%;
    height: 50px;
    // color: #67635F;
    display: flex;
    justify-content: center;
}

.header-links {
    display: flex;
    width: 70%;
    min-width: 100px;
}

.list-container {
    width: 140px;
}
.ul-content {
    display: flex;
  
    list-style: none;
    @include links-display;
}

@mixin  links-display{
    border: solid red;
    width: 80px;
    height: 140px;
}