.header {
  background: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 71.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-container {
  width: 252px;
  color: #2E2925;
}

.ul-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 140px;
}

.ma-link-container {
  float: left;
  height: 140px;
  margin-right: 4px;
  width: 80px;
  background: url("../img/maria-lunarillos.png") #FF5959 bottom center no-repeat;
}

.cu-link-container {
  float: left;
  height: 70px;
  margin-right: 4px;
  width: 70px;
  -webkit-transition: height;
  transition: height;
  background: url("../img/cucute.png") #6199AF bottom center no-repeat;
}

.mu-link-container {
  float: left;
  height: 70px;
  margin-right: 4px;
  width: 70px;
  -webkit-transition: height;
  transition: height;
  background: url("../img/mumuchu.png") #F6B436 bottom center no-repeat;
}

.mu-link-container:hover, .cu-link-container:hover {
  height: 140px;
}

.header-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 76px;
  text-decoration: none;
  height: 49px;
}

.enter-register-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 76px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
}

.register-container:hover {
  color: #FF5959;
}

.image-enter-register {
  background: url(../img/sprite.svg) 0 0 no-repeat;
  background-position: 4px 5px;
  padding: 20px;
  color: black;
}

.image-enter-register:hover {
  background: url(../img/sprite.svg) 0 0 no-repeat;
  background-position: -33px 5px;
  padding: 20px;
  color: black;
}

.register-container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-social-media {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  margin: 15px 7px;
  width: 195px;
}

.fb-link {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -3px -540px;
  height: 20px;
  margin-right: 15px;
  padding-right: 17px;
  width: 25px;
}

.tw-link {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -38px -540px;
  height: 20px;
  margin-right: 15px;
  padding-right: 17px;
  width: 25px;
}

.ig-link {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -74px -540px;
  height: 20px;
  margin-right: 15px;
  padding-right: 17px;
  width: 25px;
}

.pi-link {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -111px -540px;
  height: 20px;
  margin-right: 15px;
  padding-right: 17px;
  width: 25px;
}

.yt-link {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -183px -540px;
  height: 20px;
  margin-right: 15px;
  padding-right: 17px;
  width: 25px;
}

.fb-link:hover {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -3px -500px;
  height: 20px;
  margin-right: 15px;
  padding-right: 17px;
  width: 25px;
}

.tw-link:hover {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -38px -500px;
  height: 20px;
  margin-right: 15px;
  padding-right: 17px;
  width: 25px;
}

.ig-link:hover {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -74px -500px;
  height: 20px;
  margin-right: 15px;
  padding-right: 17px;
  width: 25px;
}

.pi-link:hover {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -111px -500px;
  height: 20px;
  margin-right: 15px;
  padding-right: 17px;
  width: 25px;
}

.yt-link:hover {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -183px -500px;
  height: 20px;
  margin-right: 15px;
  padding-right: 17px;
  width: 25px;
}

.buy-container {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buy-display {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -64px 12px;
  padding: 20px;
  padding-left: 30px;
}

.buy-display:hover {
  background: #FF5959 url(../img/sprite.svg) no-repeat;
  background-position: -103px 11px;
  padding: 20px;
  padding-left: 30px;
}

.counter-container {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  color: #fff;
  background: #FF5959;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 71.5%;
  margin-top: -41px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-container {
  margin-top: 74px;
}

.quick-acces-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quick-acces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: red solid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.quick-acces-menu {
  border: black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.quick-acces-menu__list {
  width: 100px;
  list-style: none;
  margin-right: 10px;
}

.quick-acces-menu__list--icon {
  background: yellow;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 40px;
}

.quick-acces-menu__list--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  border: solid blueviolet;
}

.quick-acces-menu-blog {
  margin-left: 60px;
}
/*# sourceMappingURL=header.css.map */