@import './mixin.scss';

.main-container {
    @include column-container;
    align-items: center;
}

.footer-container {
    @include column-container;
}

.carousel-container {
    display: flex;
    border: blue solid;
    height: 500px;
    width: 100%;
}

.articles-container {
    @include column-container;
    align-items: center;
    border: springgreen solid;    
    width: 71.5%;
}

.icon {
    border: red solid;
    height: 50px;
    width: 50px;
}

.common-tittle-article {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    margin: 10px;
    text-align: center;
}

.link-display {
    border: teal solid;
    display: flex;
    width: 100%;
}

.row-link {
    border: tomato solid;
    display: flex;
    height: 400px;
    width: 30%;
}

.column-link{
    @include column-container;
    height: 400px;
    width: 70%;
    &__top{
        border: yellow solid;
        height: 200px;
    };
    &__bottom{
        border: blue solid;
        height: 200px;
    };
}

.common-button {
    background: red;
    height: fit-content;
    margin: 20px;
    padding: 15px;
}

.firm-container {
    @include column-container;
}

.firm-display {
    display: flex;
    flex-wrap: wrap;
}