$register-background-position-init: 4px 5px;
$register-background-position-hover: -33px 5px;
$register-color-text-init: black;
$register-color-text-hover: red;

@mixin column-container {
    display: flex;
    flex-direction: column;
}

@mixin link-size ($heigh, $width){
    height: $heigh;
    margin-right: 4px;
    width: $width;
}

@mixin link-social-media-content ($background-position) {
    background: url(../img/sprite.svg) transparent 0 0 no-repeat;
    background-position: $background-position;
    height: 20px;
    margin-right: 15px;
    padding-right: 17px;
    width: 25px;
}

@mixin image-register-display($background-position) {
    background: url(../img/sprite.svg) 0 0 no-repeat;
    background-position: $background-position;
    color: $register-color-text-init;
    padding: 20px;
}

@mixin common-quick-acces ($margin-right) {
    list-style: none;
    margin-right: $margin-right;
    width: 100px;
}

@mixin common-quick-acces-icon {
    background: yellow;        
    display: flex;
    flex-direction: column-reverse;
    height: 100px;
    margin-top: 40px;
}

@mixin common-quick-acces-text {
    border: solid blueviolet;
    display: flex;
    justify-content: center;
    list-style: none;
}