@import './header';
@import './mixin.scss';
@import './main.scss';
@import './footer.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 13px/1.55 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    color: #67635F;
}

