@import './header';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 12px/1.55 'Source Sans Pro', sans-serif;
    // color: #67635F;
    display: flex;
    flex-direction: column;
}

