.header-container {
  position: fixed;
  background: #F8F8F8;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 71.5%;
  min-width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-container {
  width: 252px;
}

.ul-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 140px;
}

.ma-link-container {
  float: left;
  height: 140px;
  margin-right: 4px;
  width: 80px;
  background: url("../img/maria-lunarillos.png") #FF5959 bottom center no-repeat;
}

.cu-link-container {
  float: left;
  height: 70px;
  margin-right: 4px;
  width: 70px;
  -webkit-transition: height;
  transition: height;
  background: url("../img/cucute.png") #6199AF bottom center no-repeat;
}

.mu-link-container {
  float: left;
  height: 70px;
  margin-right: 4px;
  width: 70px;
  -webkit-transition: height;
  transition: height;
  background: url("../img/mumuchu.png") #F6B436 bottom center no-repeat;
}

.mu-link-container:hover, .cu-link-container:hover {
  height: 140px;
}

.header-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.enter-register-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 76px;
}

.register-container {
  background: url(../img/sprite.svg) 0 0 no-repeat;
  height: 27px;
  width: 27px;
  padding: 10px;
}

.register-container-text {
  padding-left: 10px;
  padding-right: 10px;
}

.link-social-media {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  margin: 15px 7px;
  width: 195px;
}

.fb-link {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -3px -540px;
  height: 20px;
  margin-right: 15px;
  padding-right: 17px;
  width: 25px;
}

.tw-link {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -38px -540px;
  height: 20px;
  margin-right: 15px;
  padding-right: 17px;
  width: 25px;
}

.ig-link {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -74px -540px;
  height: 20px;
  margin-right: 15px;
  padding-right: 17px;
  width: 25px;
}

.pi-link {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -111px -540px;
  height: 20px;
  margin-right: 15px;
  padding-right: 17px;
  width: 25px;
}

.yt-link {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -183px -540px;
  height: 20px;
  margin-right: 15px;
  padding-right: 17px;
  width: 25px;
}

.buy-container {
  width: 100px;
}

.buy-display {
  background: url(../img/sprite.svg) transparent 0 0 no-repeat;
  background-position: -72px -74px;
  height: 20px;
  margin-right: 15px;
  padding-right: 17px;
  width: 25px;
  background-position: -74px 4px;
  height: 8px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
  width: 50px;
}

.buy-display:hover {
  background-position: -154px 4px;
}

.counter-container {
  width: 50px;
  padding: 18px;
  height: 50px;
  font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  color: #fff;
  background: #FF5959;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 13px/1.55 'Source Sans Pro', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #67635F;
}
/*# sourceMappingURL=style.css.map */