*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(51, 51, 51);
}

.page-title{
  text-align: center;
}

.to-do-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.to-do-list__task{
  justify-self: center;
  margin: 5px;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a:hover{
  color: rgb(197, 197, 197);
}

.task-name{
  background-color: rgb(166, 231, 211);
  padding: 3px;
  margin: 3px;
  border-radius: 5px;
}

.delete{
  background-color: rgb(241, 215, 215);
  padding: 4px 6px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.delete:hover{
  background-color: rgb(246, 69, 69);
}