<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Form-EJS></Form-EJS></title>
    <link rel="stylesheet" href="../styles/styles.css" type="text/css" />
</head>
<body>
    <h2>Form</h2>
    <form action="/home" method="POST"> 
        <!-- con el metodo post y action le decimos que made esta info a home -->
        <input type="text" name="name" placeholder="Enter First Name" />
        <input type="text" name="surname" placeholder="Enter Surname" />
        <button type="submit"> Register</button>
    </form>
    
</body>
</html>