*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

* {
    font-family: 'Zen Dots', cursive;
}

html{
    width: 100vw;
    height: 100vh;
    background-image: url('../../images/pokedex.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    position: absolute;
    margin: 1% 0 0% 7%;
}

main {
    height: 100vh;
}

h1 {
    margin-top: 5%;
    margin-left: 62%;
}

.header__photo > img {
    width: 135px;
    height: 138px;
    border-radius: 100%;
}

.list {
    font-size: 127%;
    width: 69%;
    height: 20%;
    margin: 40% 0 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
}

.container-buttons {
    height: 6%;
    width: 39%;
    margin: 38% 0 0 51%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;

}

button {
    background-color: transparent;
    border: none;
    color: grey;
    font-size: 462%;
}

.detail {
    height: 86px;
    width: 82px;
    margin: -118px 0 0 3%;
}

.detail__photo {
    background-image: url('../../images/pokeball.png');
    background-size: cover;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}