@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@100;400;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
    max-width: 800px;
}

.task-creator-container {
    display: flex;
    flex-direction: row;
    &__button {
        background-color: rgb(28, 211, 28);
        color: white;
        padding: 10px 30px;
        border-radius: 15px;
    }

    &__input {
        width: 200px;
        margin-left: 10px;
        margin-right: 20px;
        padding-left: 20px;
    }
}

.tasks-list {
    list-style: none;
}