*,
 *::after,
 *::before  {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  margin: 0;
  padding: 0;
}

.board {
  height: auto;
  width: auto;
  background-color: gray;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.cells-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  border: 0.1em solid rgb(87, 87, 87);
  background-color: gray;
}
