*,
 *::after,
 *::before  {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  margin: 0;
  padding: 0;
}

.board {
  height: auto;
  width: auto;
  background-color: gray;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.cells-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.cell {
  width: 15px;
  height: 15px;
  display: flex;
  border: 0.1px solid rgb(87, 87, 87);
  background-color: gray;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  outline: none;
  border: none;
  color: white;
}
