@import "mixin";

*,
 *::after,
 *::before  {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Lucida Sans";
  color: white;
}

.game-board {
  @include flexbox(flex, column, null, center);
  margin: auto;
  margin-top: 10px;
}

.board {
  @include flexbox(inline-flex, column, flex-start, null);
  height: auto;
  width: auto;
  background-color: black;
}

.cells-row {
  @include flexbox(flex, row, flex-start, null);
}

.cell {
  width: 15px;
  height: 15px;
  display: flex;
  border: none;
  border: 0.1px solid rgb(29, 29, 29);
  background-color: black;
  border-radius: 50%;
}
.controls {
  @include flexbox(flex, row, center, null);
  margin-top: 10px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  outline: none;
  border: none;
  color: white;
}

.play {
  background-color: #cd5d7d;
}

.stop {
  background-color: #949cdf;
}

.reset {
  background-color: #a7c5eb;
}

.size {
  @include flexbox(flex, row, center, null);
  input {
    margin: 0 20px;
  }
}
