<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
</head>
<body>
    <main class="main">
        <h1>To do list</h1>

    <div class="addtask">
        <input type="text" class="addtask-input">
        <button class="addtask_button">+</button>
    </div>
        <ul class="todo-list">

        </ul>
    </main>
    
  <script src="./todolist.js"></script>  
</body>
</html>