<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>ToDoList</title>
</head>
<body>
    <main class="main">
        <h1>To do list</h1>

    <div class="addtask">
        <input type="text" class="addtask-input" value='' name='createTask'>
        <button class="addtask_button" onclick=handlerAddTask() >+</button>
    </div>
        <ul class="todo-list">


        </ul>
    </main>
    
    <script src="../store/storeV2.js"></script>  
    <script src="../actions/actionTypes.js"></script>  
    <script src="../actions/action.js"></script>  
    <script src="./todolist.js"></script>  
  <script src="../store/reducer.js"></script>  


</body>
</html>