/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Nunito Sans', sans-serif;
}

body{
    padding: 0 100px;
    background-color: rgb(240, 240, 240);
    margin-top: 20px;
}

.logo {
    width: 90px;
    margin-left: 10px;
}
