.presentation-images {

    display: flex;
    flex-direction: column;

    &__avatar {
        width: 40%;
        border-radius: 50%;
        position: absolute;
        right: 5%;
        top: 3%;
    }
}

.title {
    left: 0%;
    width: 60%;
    font-size: 8vmin;
    padding-left: 2vmin;
    font-family: 'Work Sans', sans-serif;
}

.resumee {

    font-family: 'Work Sans', sans-serif;
    padding: 0vmin 6vmin;
    
    &__title {

    }

    &__description {
    }

}

.bottom-nav {

    display: flex;
    justify-content: space-around;

    &__studies-work {
        height: 5em;
        width: 5em;
        border-radius: 50%;
        background-color: #333;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        outline: none;
    }

    &__studies-work::before {
        color: white
    }

    &__github {

    }

    &__skills {

    }

}