@import '../../styles/mixins';

html {
    height: 100%;
}

.presentation-images {

    display: flex;
    flex-direction: column;

    &__background {
        max-height: 150px;
        object-fit: cover;
    }

    &__avatar {
        max-width: 300px;
        width: 40%;
        border-radius: 50%;
        position: absolute;
        right: 5%;
        top: 3%;
    }
}

.title {
    left: 0%;
    width: 60%;
    font-size: 8vmin;
    padding-left: 2vmin;
    font-family: 'Work Sans', sans-serif;
}

.resumee {

    font-family: 'Work Sans', sans-serif;
    padding: 0vmin 6vmin;
    max-width: 1000px;
    
    &__title {

    }

    &__description {
    }

}

.bottom-nav {

    display: flex;
    justify-content: space-around;
    padding-top: 1em;

    &__studies-work {
        @include nav-buttons;
        flex-direction: column;
    }

    &__studies-work::before {
        color: white
    }

    &__github {
        @include nav-buttons;
    }

    &__skills {
        @include nav-buttons;
    }
}

.fa-graduation-cap {
    align-self: flex-start;
    padding-left: 0.6em;
    padding-top: 0.5em;
    font-size: 1.5em;
}

.fa-briefcase {
    align-self: flex-end;
    padding-right: 0.6em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
}

.fa-github {
    font-size: 4em;
}

.fa-code {
    font-size: 2em;
}


.contact {
    background: #333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0.55em 0;
}

@media (min-width: 600px) {

    .resumee__description {
        padding-top: 1em;
        max-width: 85%;
    }

    .contact {
        background: #333;
        color: white;
        display: flex;
        justify-content: center;
        padding: 1em 0;
        font-size: 1.2em;
        margin-top: 3em;
    }
}

@media (min-width: 1000px) {

    .resumee__description {
        padding-top: 1em;
        max-width: 85%;
    }

    .bottom-nav {
        padding: 3em 10em 0em 10em;
    }
}

@media (max-width: 600px) {

    .resumee__title {
        font-size: 1.2em;
    }
}
