$PRIMARY-DARK: #b8ecf7;
$PRIMARY-LIGHT: #B2F7EF;
$BACKGROUND-COLOR: #EFF7F6;
$SECONDARY-LIGHT: #F7D6E0;
$SECONDARY-DARK: #F2B5D4;

$MAIN-FONT: 'Amatic SC', cursive;
$SECONDARY-FONT: 'Architects Daughter', cursive;
