@import './colors.scss';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: $MAIN-FONT;
  }
  .page-title{
      background-color: $PRIMARY-DARK;
      font-size: 50px;
      margin: auto;
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 20px;
      text-align: center;
      width: 20%;
  }
  .nav{
    background-color:$BACKGROUND-COLOR;
    padding: 15px;
    .navigation__list{
        display: flex;
        justify-content: space-around;
        list-style: none;
        input{
          padding: 10px;
          border-radius: 10px;
          border-style: none;
        }
        button{
          padding: 10px;
          border-radius: 10px;
          border-style: none;
          margin-left: 2px;
          background-color: $SECONDARY-LIGHT;
        }
    }
  }

  .weekdays{
    display: flex;
    background-color:$BACKGROUND-COLOR;
    &__day{
        border-color: $SECONDARY-LIGHT;
        font-size: 30px;
        list-style: none;
        margin: 20px;
        padding: 20px;
        text-align: center;
        width: 90%;
    }
  }

  .tasks{
    background-color:$BACKGROUND-COLOR;
    display: flex;
    flex-direction: column;
    width: 100%;
    .task{
      border-color: $SECONDARY-LIGHT;
      font-size: 25px;
      list-style: none;
      padding: 10px;
      text-align: center;
      width: 90%;
    }
    .done{
      font-size: 25px;
      font-family: $MAIN-FONT;
      padding: 5px 10px;
      border-radius: 10px;
      border-style: none;
      margin-top: -10px;
      margin-left: 10px;
      background-color: #b5f2b8;
    }
    .delete{
      font-size: 25px;
      font-family: $MAIN-FONT;
      padding: 5px 10px;
      border-radius: 10px;
      border-style: none;
      margin-top: -10px;
      margin-left: 5px;
      background-color: #f2b5b5;
    }
  }
