.paginated-pokemons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .list-pokemon {
        display: flex;
        flex-direction: column;
        &--item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &--title {
    
    }
}