$gris-claro: #ccc;
$gris-medio: #555;
$gris-oscuro: #333;

$negro: #010101;
$naranja: #f90;
$naranrojo: #ff2200;

$text-color: $gris-oscuro;
$border-color: $gris-oscuro;
$background-color: $gris-claro;

$text-color: $negro;
$text-important: $naranrojo;
