@import "./colors";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$padding: 20px;
$margin: 20px;

@mixin common-tags($direction) {
  display: flex;
  flex-direction: $direction;
  border: solid 1px $border-color;
  padding: $padding;
  margin: $margin;
  color: $negro;
}

body {
  background: #eaeeea;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 20px;
}

.main {
  @include common-tags(row);
}

.sidebar {
  @include common-tags(column);
}

.form {
  @include common-tags(column);
}
