@import './mixins';
@import './colors';

$noto: 'Noto Sans', sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
    text-decoration: none;

    &:visited {
        color: white;
    }
}

html {
    font-family: $noto;
    font-size: 0.9em;
}

.nav-bar,
.logo-figure,
.extern-nav,
.nav-search,
.login-elements,
.searching-navs,
.login-register-navs {
    @include flex-direction(row);
    color: white;
}

.logo,
.cinema-nav,
.fre-anchor,
.subs-nav,
.help,
.login,
.register-button {
   cursor: pointer; 
}

.nav-bar{
    background-color: black;
    padding: 0 20px;
    height: 60px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
}

.register-button {
    background-color: $yellow;
    text-transform: uppercase;
    font-family: $noto;
    padding: 10px;
    border: 0;
    border-radius: 5%;
}

.logo-figure {
    align-items: center;
}

.logo{
    height: 19px;
    align-self: center;
}

.login-elements {
    width: 400px;
    justify-content: space-around;
}

@media (max-width: 750px) {
    .nav-bar {
      display: none;
    }
}

.cinema-nav {
}

.extern-nav {
    width: 350px;
    justify-content: space-around;
}

.nav-search {
    padding-right: 300px;
}