@import './mixins';
@import './colors';

$noto: 'Noto Sans', sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-family: $noto;
}

.nav-bar,
.logo-figure,
.extern-nav,
.nav-search,
.login-elements {
    @include flex-direction(row);
    color: white;
}

.nav-bar{
    background-color: black;
    padding: 0 20px;
    height: 60px;
    align-items: center;
}

.register-button {
    background-color: $yellow;
}

.logo-figure {
    align-items: center;
}

.logo{
    height: 20px;
    align-self: center;
}

.login-elements {
    justify-content: flex-end;
}

@media (max-width: 750px) {
    .nav-bar {
      display: none;
    }
}

.cinema-nav {
}