
$red-main-color: #FF5959;
$blue-color: #6199AF;
$yellow-color: #F6B436;

@mixin header-buttons {
    width: 100px;
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    margin-right: 5px;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
}
body {
    font: 12px/1.55 'Source Sans Pro', sans-serif;
    color: #67635F;
}

.header-top-links{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(230, 230, 230);
    margin-top: -10px;
    height:70px;
    z-index: 1;
}

.links-others{
    display: flex;
}

.ma{
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/maria-lunarillos.png) #FF5959 bottom center no-repeat;
    color: white;
    padding: 20px;
    list-style-type: none;
    height:90px;
    width: 80px;
    cursor: pointer;
    padding-top: 130px;
    margin-right: 5px;
}

.cu{
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/cucute.png) #6199AF bottom center no-repeat;
    color: white;
    padding: 20px;
    list-style-type: none;
    height:90px;
    width: 80px;
    cursor: pointer;
    margin-right: 5px;
}

.mu{
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/mumuchu.png) #F6B436 bottom center no-repeat;
    color: white;
    padding: 20px;
    list-style-type: none;
    height:90px;
    width: 80px;
    cursor: pointer;
    margin-right: 5px;
}
.ma:hover, .cu:hover, .mu:hover{
    padding-top: 130px;
}

.registrate{
    border: solid #FF5959;
    background-color: white;
    padding: 20px;
    height:60px;
    margin-top: 5px;
    cursor: pointer;
}

.social-media{
    border: solid #6199AF;
    background-color: white;
    padding: 20px;
    height:60px;
    margin-top: 5px;
    cursor: pointer;
}

.carrito{
    border: solid #F6B436;
    background-color: white;
    padding: 20px;
    height:60px;
    margin-top: 5px;
    cursor: pointer;
}
.registrate:hover, .social-media:hover, .carrito:hover{
    background-color: #FF5959;
}

.logo{
    margin-top: 80px;
}
.patata{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.quick-links{
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
    width: 100%;
}

.buttons{
 @include header-buttons;
}
.button-input{
    display:flex;
    flex-grow: 1.5;
}
#novedades{
    background-color: #9faa4d;
    padding-right: 8px;
    border: none;
    flex-grow: 1;
}

#offers{
    background-color: #8e789d;
    border: none;
    flex-grow: 1;
}
#search{
    flex-grow: 2;
}
#input-field{
    width:200px;
}
#submit{
    width:40px;
    flex-grow: 1;
    background-color: #bdbcbb;
    border: none;
}

.input-search{
    @include header-buttons; 
    height: 20px;
}

.main-header-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:80px;
}

.icons-nav{
    display: flex;
    justify-content: space-between;
}

.page-nav-icons{
    background-color: rgb(230, 230, 230);
    width:100px;
    height: 100px;
    padding: 10px;
    margin-right:5px;
}

.page-nav-icons:hover{
    background-color: $red-main-color;
}
#img-blog{
    background-color:$red-main-color;
    margin-left: 30px;
}
#img-blog:hover{
    background-color: rgb(230, 230, 230);
}

.main-container{
    width: 100%;
    align-content: center;
}

.icon-and-title{    
    text-align: center;
    margin-bottom: -130px;

}

.section-title{
    padding: 20px 5px;
    border-top: 1px #67635F;
}

.sub-sections{
    background-color: #f8f8f8;
    padding-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.banner-sections{
    position: relative;
    align-content: center;

}
.banner-text{
    display: flex;
    flex-direction: column;
    margin:10px;
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 150px;
    background-color:rgba(255,255,255,0.8);
    h3{
        margin: 10px;
        font-size: 20px;
        font-weight: 600;
    }
    .banner-paragraph{
        margin: 10px;
    }
}

.triangle{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 150px solid rgba(255,255,255,0.8);
    border-right: 100px solid transparent;
    position: absolute;
    right: -100px;
    top: 0; 
}

.section-images {
    display: flex;
    justify-content: center;
    margin:10px;
    align-content: center;
}

.icon-header{
    width:100px;
    height: 120px;
}


@media only screen and (min-width: 1105px){
    #images-vertical{
        display: flex;
        flex-direction: column;
    }
    
    #small-appliance{
        display: flex;
        justify-content: flex-end;
        right: 100px;
    }
    
    #basic-utensils{
        position: absolute;
        bottom: 320px;
    }
}

@media only screen and (max-width: 600px){
    .header{
        display: flex;
        flex-wrap: wrap;
    }
    .banner-sections{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        justify-content: center; 
        img{
            width: 300px; /* width of container */
            height: 150px; /* height of container */
            object-fit: cover;
            object-position: 10% 10%;
        }  
    }
}
@media only screen and (max-width: 1105px){
    .main-header-section{
        margin-top: 30px;
    }
    .cu, .mu{
        display: none;
    }
    .main-navigation{
        margin-top: 40px;
    }
    .banner-sections{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        position: relative;
        flex-wrap: wrap;
        width: 100%;
        img{
            width: 400px; /* width of container */
            height: 200px; /* height of container */
            object-fit: cover;
            object-position: 10% 10%;
        }  
    }
    .banner-paragraph{
        display:none;
    }
    .triangle{
        display:none;
    }
}
