.flat-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0 50px;
    &__item{
        width: 250px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        .flat-information{
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: white;
            padding: 20px;
            color: darkblue;
            font-weight: bold;
            font-size: 20px;
            height: 100px;
            .direction{
                text-transform: capitalize;
                white-space: normal;
            }
        }
        img{
            width: 100%;
        }
    }
}