* {
  margin: 0px;
}

.header-container-fixed {
  display: flex;
  justify-content: row;
  background-color: black;
  height: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1vmin;
  max-height: 90px;
  font-family: "Noto Sans", sans-serif;
  font-size: 8px;
  align-items: center;
}

.first-header-part {
  display: flex;
  list-style: none;
  color: white;
  justify-content: space-around;
  width: 700px;
  height: 10px;
}

#cinema:hover {
  color: yellow;
}

#gratis:hover {
  color: yellow;
}

#suscripciones:hover {
  color: yellow;
}

#logo img {
  width: 40px;
}

.second-header-part {
  width: 1600px;
}

input {
  background-color: rgb(196, 190, 190);
}

input:active {
  background-color: white;
}

.third-header-part {
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  list-style: none;
  color: white;
  width: 500px;
  height: 10px;
}

#ayuda {
  color: grey;
}

#ayuda:hover,
#entrar:hover {
  color: yellow;
}

#registrate {
  background: yellow;
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 8px;
}
