.footer-element {
    background-color:#21384f;
    color: #eeeeee;
    padding:25px ;
    .resources-element, .aboutUs {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
    }
}

.madeBy-element {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: small;
    color: grey;
}

a {
    color: #eeeeee;

}    

.aboutUs {
    padding-top: 20px;
}
