body {
    margin: 0;
    font: 12px/1.55 'Source Sans Pro', sans-serif;
    background-color: #FF5959;
}

.header {
    display: flex;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: #F8F8F8;
}

.header-info {
    margin: 0 auto;
    top: 50px;
    height: 300px;
    position: fixed;
    background: white;
    width: 100%;
    z-index: -1;
}

.first-block {
    position: fixed;
    top: 0;
    width: 80px;
    height: 140px;
    left: 135px;
    background: url(./images/maria-lunarillos.png) #FF5959 bottom center no-repeat;
}

.second-block,
.third-block {
    position: fixed;
    top: 0;
    width: 70px;
    height: 70px;
}

.second-block {
    left: 219px;
    background: url(./images/cucute.png) #6199AF bottom center no-repeat;
}

.third-block {
    left: 293px;
    background: url(./images/mumuchu.png) #F6B436 bottom center no-repeat;
}

.second-block:hover,
.third-block:hover {
    width: 70px;
    height: 140px;
}

.blocks {
    display: flex;
}

.social-media {
    display: flex;
    justify-content: space-between;
    margin-right: 210px;
    ;
}

.social-media img {
    margin: 10px;
}

.social-media p {
    margin-top: 18px;
}

.logo {
    padding-left: 95px;
    padding-top: 105px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    color: black;
    padding-top: 150px;
}