body {
    margin: 0;
    font: 12px/1.55 'Source Sans Pro', sans-serif;
    background-color: #FF5959;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    background: #F8F8F8;
}

.first-block {
    position: fixed;
    top: 0;
    width: 80px;
    height: 140px;
    left: 135px;
    background: url(./images/maria-lunarillos.png) #FF5959 bottom center no-repeat;
}

.second-block,
.third-block {
    position: fixed;
    top: 0;
    width: 70px;
    height: 70px;
}

.second-block {
    left: 219px;
    background: url(./images/cucute.png) #6199AF bottom center no-repeat;
}

.third-block {
    left: 293px;
    background: url(./images/mumuchu.png) #F6B436 bottom center no-repeat;
}

.second-block:hover,
.third-block:hover {
    width: 70px;
    height: 140px;
}

.login {
    display: flex;
    margin: 15px 7px 10px;
}

.login .icon {
    display: flex;
    background: url("./images/sprite.svg") 0 0 no-repeat;
    width: 27px;
    height: 27px;
    margin: -3px;
    padding-right: 10px;
}

.social-media {
    display: flex;
    margin-right: -190px;
}

.social-media .facebook,
.social-media .twitter,
.social-media .instagram,
.social-media .pinterest,
.social-media .youtube {
    width: 25px;
    height: 25px;
    margin: 15px 7px 0;
    display: block;
    text-indent: -3000px;
}

.social-media .facebook {
    background: url(https://img.icons8.com/material/24/000000/facebook-f.png);
}

.social-media .twitter {
    background: url(https://img.icons8.com/material/24/000000/twitter-squared.png);
}

.social-media .instagram {
    background: url(https://img.icons8.com/metro/26/000000/instagram-new.png);

}

.social-media .pinterest {
    background: url(https://img.icons8.com/ios/24/000000/pinterest--v1.png);

}

.social-media .youtube {
    background: url(https://img.icons8.com/material/24/000000/youtube--v1.png);

}

.checkout {
    display: flex;
    margin-right: -36px;
}

.carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 50px;
    display: block;
    text-indent: -3000px;
    background: url(https://img.icons8.com/material/48/000000/checkout--v1.png) white;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 50px;
    background-color: #FF5959;
    color: white;
    font-size: 15px;
}

.header-info {
    display: flex;
    margin: 0 auto;
    top: 50px;
    height: 300px;
    position: fixed;
    background: white;
    width: 100%;
    z-index: -1;
}

.logo {
    padding-left: 95px;
    padding-top: 108px;
}

.img-section {
    display: flex;
    align-content: center;
}

.utensilios,
.ingredientes,
.fiestas,
.marcas,
.blog {
    background-position: center;
    background-color: #f2f2f2;
    width: 100px;
    height: 100px;
    background-size: 50%;
    font-size: 15px;
    letter-spacing: 1px;
    color: #2E2925;
    position: relative;
    position: relative;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    font-weight: 600;
    background-repeat: no-repeat;
}

.utensilios {
    background-image: url(./images/utensiliosML.png);
}

.ingredientes {
    background-image: url(./images/magdalena.png);
}

.fiestas {
    background-image: url(./images/tarta-cumpleanos.png);
}

.marcas {
    background-image: url(./images/delantal.png);
}

.blog {
    background-image: url(./images/menu.svg);
}