@media (max-width: 1100px) {
  .recomendaciones,
  .free {
    width: 500px;
  }
  .search-movie {
    width: 70px;
  }
  .movie8,
  .movie7,
  .movie6,
  .help-disp {
    display: none;
  }
}

@media (max-width: 800px) {
  .free,
  .nav-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -15px;
  }
  .search-movie,
  .copy,
  .recomendaciones {
    display: none;
  }
  .free img {
    height: 400px;
    width: 320px;
    margin-left: 150px;
  }
}

body {
  background-color: black;
}

.header-fix {
  background-color: black;
  color: white;
  font-family: NotoSans-Bold, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
}

.header-fix__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
}

.header-fix__nav--logo {
  height: 40px;
  width: 150px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 10px;
}

.header-fix__nav--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 20px;
}

.header-fix__nav--left select {
  border: none;
  display: block;
  background-color: black;
  color: white;
  font-family: NotoSans-Bold, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 80px;
  margin-top: 9px;
}

.gratis,
.suscripciones {
  margin-right: 20px;
  margin-top: 9px;
}

.search-movie {
  height: 30px;
  width: 200px;
  background-color: #333;
  border-radius: 2px;
  margin-bottom: 5px;
  border: 0px solid;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.register__buttons {
  background-color: black;
  color: white;
  font-family: NotoSans-Bold, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 20px;
}

.register__buttons--help-disp, .register__buttons_--sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 10px;
  margin-top: 5px;
}

.register__buttons--sign-up {
  margin-top: 5px;
}

.register__buttons--help-disp {
  color: #3b3b3b;
}

.register__buttons--register-button {
  background-color: yellow;
  color: black;
  font-family: NotoSans-Bold, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 5px;
  padding-right: 8px;
  padding-left: 8px;
  min-height: 32px;
  border-radius: 2px;
  border: none;
}

.nav--left--select:hover,
.gratis:hover,
.suscripciones:hover,
.register__buttons--help-disp:hover,
.register__buttons--sign-up:hover {
  color: yellow;
  cursor: pointer;
}

#carouselExampleIndicators {
  margin-top: 70px;
}

.carousel-inner img {
  background-size: 100%;
  background-position: center center;
  width: 100%;
}

.recomendaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recomendaciones img {
  margin-left: 5px;
  width: 290px;
  border: 4px solid transparent;
}

.recomendaciones img:hover {
  border: 4px solid yellow;
  cursor: pointer;
}

.free {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.free img {
  padding: 0px;
  margin-left: 8px;
  margin-top: 60px;
  border: 4px solid transparent;
}

.free img:hover {
  border: 4px solid yellow;
}

.movies h2 {
  position: absolute;
  color: white;
  margin-top: 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background-color: black;
  color: white;
  margin-top: 7vh;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer--text {
  width: 80vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer--explain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer__firstexplain, .footer__secondexplain, .footer__thirdexplain {
  width: 10vw;
  color: white;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.footer__firstexplain img, .footer__secondexplain img, .footer__thirdexplain img {
  width: 80px;
  height: 80px;
}

.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  margin-top: 10px;
  color: white;
  margin-top: 60vh;
}
/*# sourceMappingURL=main.css.map */