@mixin colors($colorfondo, $colorletra) {
  background-color: $colorfondo;
  color: $colorletra;
  font-family: NotoSans-Bold, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
@mixin icon-size {
  width: 20px;
  height: 20px;
}
@mixin hover-style {
  filter: invert(47%) sepia(35%) saturate(3020%) hue-rotate(326deg)
    brightness(97%) contrast(95%);
  cursor: pointer;
}

@media (max-width: 800px) {
  .free,
  .nav-left {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
  }
  .search-movie,
  .copy,
  .recomendaciones {
    display: none;
  }
  .free img {
    height: 400px;
    width: 320px;
    margin-left: 150px;
  }
}
.navigation {
  display: flex;
  width: 100%;
  height: 60px;
}
.header-fix {
  @include colors(black, white);
  position: fixed;
  z-index: 2;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
}
.nav-left {
  display: flex;
  list-style: none;
  margin-top: 20px;
}
.logo {
  height: 40px;
  width: 150px;
  align-self: center;
  margin-top: 10px;
}

.gratis,
.suscripciones {
  margin-right: 20px;
  margin-top: 9px;
}
.search-movie {
  height: 30px;
  width: 200px;
  background-color: #333;
  border-radius: 2px;
  margin-bottom: 5px;
  border: 0px solid;
}
.cinema {
  border: none;
  display: block;
  @include colors(black, white);
  appearance: none;
  width: 80px;
  margin-top: 9px;
}
.register {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.help-disp,
.sign-up {
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  margin-top: 5px;
}
.help-disp {
  color: rgb(59, 59, 59);
}
.cinema:hover,
.gratis:hover,
.suscripciones:hover,
.help-disp:hover,
.sign-up:hover {
  // filter: invert(47%) sepia(35%) saturate(3020%) hue-rotate(326deg)
  //   brightness(97%) contrast(95%);
  color: yellow;
  cursor: pointer;
}
.register-buttons {
  @include colors(black, white);
  display: flex;
  list-style: none;
  margin-top: 20px;
}
.register-button {
  @include colors(yellow, black);
  margin-left: 10px;
  margin-right: 5px;
  padding-right: 8px;
  padding-left: 8px;
  min-height: 32px;
  border-radius: 2px;
  border: none;
}

.footerRakuten {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: black;
  color: white;
  margin-top: 7vh;
  text-align: center;
  justify-content: center;
  width: 100%;
  .help-text {
    width: 80vw;
    align-self: center;
  }
}
.explain {
  display: flex;
  justify-content: center;
  width: 100%;
}
.firstexplain,
.secondexplain,
.thirdexplain {
  width: 10vw;
  color: white;
}
.copy {
  display: flex;
  left: 0;
  margin-top: 10px;
  color: white;
  margin-top: 60vh;
}
.movie__picture {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  margin-top: 65px;
  background: url("https://images-1.wuaki.tv/system/shots/195245/original/the-forgotten-1597662391-width1920-quality80.jpeg");

  &--actions {
    display: flex;
    list-style: none;
    color: white;
    flex-direction: space-around;
    margin-top: -10vh;
    li {
      margin-left: 5px;
      width: 80px;
    }
    .pin {
      width: 50px;
      height: 50px;
    }
    .pin:hover {
      @include hover-style();
    }
  }
  &--title {
    align-self: center;
    justify-self: flex-end;
    margin-top: 50vh;
    width: 15vw;
    height: 7vh;
    h3 {
      margin-top: 10vh;
    }
  }
  &--button {
    align-self: center;
    justify-self: flex-end;
    background-color: #ffe300;
    font-weight: bold;
    border-radius: 5%;
    border: none;
    margin-top: 1vh;
    width: 15vw;
    height: 7vh;
  }
}
.body-web {
  display: flex;
  .movie-description {
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 1px solid #333;
    font-size: 16px;
    line-height: 180%;
    ul {
      display: flex;
    }
    &--time {
      li {
        list-style: none;
        margin-left: 15px;
      }
    }
    li {
      list-style: none;
      margin-left: 15px;
    }
    &--paragraph {
      justify-self: flex-start;
      margin-left: 2vw;
      width: 70vw;
    }
  }
  .icon__time {
    @include icon-size();
  }
  .movie__language {
    display: flex;
    &--list {
      display: flex;
      flex-direction: column;
    }
    &--list2 {
      display: flex;
      flex-direction: column;
      margin-top: 12vh;
    }
    &--title {
      font-weight: bold;
    }
  }
  .social__media {
    height: 30vh;
    width: 30vw;
    background-color: #ccc;
    &--list {
      li {
        list-style: none;
        margin-top: 3vh;
      }
      li:hover {
        @include hover-style();
      }
    }
  }
  .icon__social {
    @include icon-size();
  }
  .icon__social:hover {
    @include hover-style();
  }
  .actors {
    &--list ul li {
      margin-top: 10vh;
    }
    &--list--name li {
      margin-left: 5vw;
    }
    h5 {
      margin-left: 2vw;
      img {
        @include icon-size();
      }
    }
  }
}
