@import './colors';

body {
    margin: 0;
    overflow-x: hidden;
}

.navigation {
    display: flex;
    flex-direction: row;
    background-color: $black;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    
    &__img img {
        width: 130px;
        cursor: pointer;
    }
    
    &__search input {
        height: 40px;
        font-size: 20px;
        color: $black;
    }
    
    &__login img {
        width: 30px;
        cursor: pointer;
    }
    &__basket {
        margin-right: 20px;
    }
    &__basket img {
        width: 30px;
        cursor: pointer;
    }
}