/* ----- RESET ----- */

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------- */
/* ----- GLOBAL ----- */

body {
    background: none;
    font: 12px/1.55 'Source Sans Pro', sans-serif;
    color: #67635F;
}

li {
  list-style: none;
}

main {
    height: 1080px;
}

.fas, .fab, .far {
    font-size: 20px;
    color: black;
    cursor: pointer;
}

/* ------------------------ */
/* ----- FIRST HEADER ----- */

.fixed-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #F8F8F8;
}

.first-header {
    display: flex;
    justify-content: space-between;
    height: 50px; 
    max-width: 1080px;
    margin: auto;
}

.letters-logo {
    width: 232px;
    height: 140px; 
    cursor: pointer;
}

.icons-letters {
    display: flex;
    position:absolute;
    top: 0;
}

.letters-marialunarillo {
    background: url("images/maria-lunarillos.png") #FF5959;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    width: 80px; 
    height: 140px; 
    margin-right: 4px;
}

.letters-cucute {
    background: url("images/cucute.png") #6199AF;  
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    width: 70px;
    height: 70px;
    margin-right: 4px;
}

.letters-mumuchu {
    background: url("images/mumuchu.png") #F6B436; 
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    width: 70px;
    height: 70px;
}

.letters-cucute:hover, .letters-mumuchu:hover {
    transition: height;
    height: 140px;
}

.social-media, .shopping-space, .shopping-nav, .social-navigator  {
    display: flex;
}

.social-navigator {
   align-items: center;
   height: 100%;
}

.social-media {
    margin: 0 50px 0 30px;
}

.social-media > li {
    margin: 0 10px;
}

.register {
    text-decoration: none;
    font-weight: 400;
    color: #2E2925;
    font-size: 10px;
}

.fa-user-plus {
    margin-right:  11px;
}

.shopping-cart {
    width: 50px;
    height: 50px;
    background: white;
    padding: 13px 0;
    text-align: center;
}

.money {
    width: 50px;
    height: 50px;
    background: #FF5959;
    color: white;
    text-align: center;
    padding: 8px 0;
    font-size: 20px;
}

/* ------------------------- */
/* ----- SECOND HEADER ----- */

.second-header {
    display: flex;
    height: 218px;
    max-width: 1080px;
    margin: 88px auto 0 auto;
    font-weight: 600;
}

.logo-marialunarillo {
     margin-top: 80px;
}

.section-right {
    display: flex;
    flex-direction: column;
    margin-left: 210px;
}

.container-search {
    display: flex;
    margin: 10px 0 41px 0;
}

.news, .sales {
    color: white;
    cursor: pointer;
    width: 130px;
    height: 30px;
    text-align: center;
    padding: 5px 0;
    margin-right: 5px;
}

.news {
    background: #9faa4d;
}

.sales {
    background: #8e789d;
}

.form-search {
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.input-text, .button-search {
    height: 30px;
    border: none;
}

.input-text {
    width: 245px;
}

.button-search {
    width: 49px;
}

.images-nav {
    background-color: #F2F2F2;
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

.image-utensilios, .image-ingredientes, .image-fiestas, .image-marcas {
    height: 65px;
    margin: 20px 20px;
}

.image-blog {
    height: 47px;
    margin: 30px 24px;
}

.blog { 
    margin-left: 50px;
    background-color: #FF5959;
}

.names {
    margin-top: 5px;
    letter-spacing: 1px;
    color: #2E2925;
}

.utensilios {
    margin-left: 11px;
    margin-top: 0;
}

.ingredientes {
    margin-left: 11px;
}

.fiestas {
    margin-left: 24px;
}

.marcas {
    margin-left: 52px;
}

.blog-name {
    margin-left: 104px;
    color: #FF5959;
}

/* -------------------- */
/* ----- CAROUSEL ----- */

.carousel {
    width: 100%;
    height: 615px;
    margin: auto;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgb(112, 93, 117) 0%, rgb(112, 93, 117) 50%, rgb(146, 127, 151) 50%, rgb(146, 127, 151) 100%); 
}

.photos-carousel {
    display: flex;
    width: 1080px;
    cursor: pointer;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.image-promo  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}

/* --------------------------- */
/* ----- WRAPPER HEADER ----- */

.wrapper-container {
    width: 100%;
    height: 2285px;
    background: #F8F8F8;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    width: 1080px;
    height: 184px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-position {
    position: relative;
    width: 1080px;
    height: 125px;
}

.logo-utensilios {
    position: absolute;
    width: 93px;
    height: 125px;
    top: -32px;
    left: 270px;
}

.title {
    position: absolute;
    margin: 110px 0;
    width: 264px;
    height: 70px;
    left: 459px;
}

.title-content {
    border-top: 2px solid #2E2925;
    border-bottom: 2px solid #2E2925;
    padding: 20px 0;
    line-height: 30px;
    font-size: 30px;
    letter-spacing: 9px;
    text-align: center;
    color: #2E2925;
    font-weight: 900;
}

/* --------------------------- */
/* ----- WRAPPER PHOTOS ----- */

.first-photos-container, .second-photos-container, .third-photos-container {
    width: 1095px;
    height: 630px;
}

.first-photos-container {
    margin-top: 67px;
}

.banner-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-photo {
    width: 365px;
    height: 100%;
    padding: 7.5px;
}

.right-top-photo, .right-bottom-photo  {
    width: 730px;
    height: 50%;
    padding: 7.5px;
}

.widget-info {
    position: relative;
    width: 250px;
    height: 150px;
    padding: 20px 0 20px 20px;
    bottom: 155px;
    background: rgba(255,255,255,0.8);
}

.horizontal {
    left: 365px;
}

.description {
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    margin-bottom: 18px;
}

.link-description {
    text-decoration: none;
    color: #67635F;
    font-size: 21px;
    line-height: 24px;
    font-weight: 700;
}

.triangle {
    position: relative;
    bottom: 140px;
    left: 230px;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-bottom: 150px solid rgba(255,255,255,0.8)
}

.right-top {
    bottom: 134px;
}

.right-bottom {
    bottom: 158px;

}

