*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: none;
    font: 12px/1.55 'Source Sans Pro', sans-serif;
    color: #67635F;
}

.fas, .fab {
    font-size: 30px;
    color: black;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #F8F8F8;
}

.header-fix{
    display: flex;
    justify-content: space-between;
    height: 50px; 
    max-width: 1400px;
    margin: auto;
    align-items: center;
}


.social-media, .shopping-space {
    display: flex;
}

.social-navigator {
   display: flex;

}

.social-media {
    margin: 0 100px;
}

.social-media > li {
    margin: 0 15px;
}

.register {
    text-decoration: none;
    color: #67635F;
}

.money {
    width: 50px;
   /* height: 50px; */
    background: #FF5959;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.letters-marialunarillo {
    background: #FF5959;
}

.letters-cucute{
  background: url(../marialunarillos/images/cucute.png) #6199AF;  
}

.letters-mumuchu {
    background: url(../marialunarillos/images/mumuchu.png) #F6B436; 
}


.icons-letters {
    display: flex;
    justify-content: space-between;
    width: 185px;
}

li {
  list-style: none;
}