.carousel__container {
    margin: auto;
    max-width: 550px;
}

.carousel__slider {
    height: 630px;
    object-fit: cover;
}
.slider--wrapper--information{
    min-height: 245px;
    position: absolute;
    overflow: hidden;
    width: 40%;
    bottom: 46%;
    left: 2%;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px 40px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}
.carousel__inner-slide {
    animation: cambio 20s infinite normal;
    height: calc(88% - 20px);
    left: 10px;
    top: 10px;
    width: calc(100% - 20px);
}

.slider__image{
    width: 100%;
}

.slideHorizontal___1NzNV {
    float: left;
    width: 50%;
}

.carousel__slider-tray-wrapper{
    overflow: hidden;
}

.carousel__back-button{
    left: 30px;
}

.carousel__next-button{
    right: 30px;
}

.slider--information{

}

.overview {
    font-size: 33px;
    font-style: italic;
    font-weight: bolder;
    margin-left: 30px;
    margin-top: 23%;
    width: 76%;
}

.slider__title{
    font-size: 45px;
    line-height:60px;
}

.slider__vote-average{
    font-size: 16px;
    line-height: 24px;
    max-width: 70%;
}
