div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(28, 211, 22);
    margin: 0 auto;

    option{
        display:flex;
        justify-self: flex-end;

    }

    div {

        display:flex;
        flex-direction:row;
        justify-content: flex-end;

        input{
            border-radius: 5%;
            
        }
    }
}

