<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/home.css" rel="stylesheet" type="text/css">
    <title>Joum</title>
</head>
<body>
    <h1 class='title'>Llor deita is dis:</h1>
    <h2 class='name'>Llur neim: <%- name -%></h2>
    <h2 class='surname'>Llur surneim: <%- surname -%></h2>
</body>
</html>