<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/styles.css">
    <title>To do list</title>
</head>
<body>
   <!--  <div class="container-title">
        <h2>To do List</h2>
    </div>
    <main>
        <div class="container-todo">

        </div>

        <div class="container-buttons">
            <div>
                <input type="text">
                <button>Create</button>
            </div>
            <button>Update</button>
            <button>Delete</button>
        </div>
 -->
    </main>
    <script src="./../components/components.js"></script>
    <script src="./../action-creators/action.js"></script>
</body>

</html>