.about {
    display: flex;
    justify-content: space-around;
    background-color: #232a34;
    color: white;
    min-height: 100vh;
    align-items: center;
    &__img {
        font-size: 300px;
        color: rgb(107, 126, 235);

    }

    &__description {
        width: 500px;
        p {
            font-weight: 100;
            line-height: 25px;
        }
    }

}