* {
	text-align: center;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 24px;
}

h1 {
	margin-top: 40px;
}

button {
	font-weight: 100;
	font-size: 24px;
	font-style: normal;
	background: none;
	outline: none;
	border: none;
	width: 100%;
	height: 100%;
}

button img {
	width: 60%;
	height: 60%;
	margin-top: 20%;
}

.calculator {
	margin-top: 50px;
	width: 240px;
	background: #cfc8c8;
	border: 1px solid gray;
	border-bottom: none;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.display {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding-right: 20px;
	font-size: 50px;
}

.row {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid gray;
	display: flex;
}

.cell,
.cell-left,
.cell-right {
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.cell {
	flex-direction: column;
	justify-content: center;
}

.cell-right {
	justify-content: flex-end;
	padding-right: 20px;
}

.text-left {
	text-align: left;
	padding-left: 30px;
}

.w100 {
	width: 240px;
}

.w50 {
	width: 120px;
}

.w25 {
	width: 60px;
}

.h80 {
	height: 80px;
}

.br {
	border-right: 1px solid gray;
}

.bb {
	border-bottom: 1px solid gray;
}

.black {
	background: black;
	color: white;
}

.orange {
	background: #fd8c0e;
	color: white;
}

.pressed {
	background: #a8a3a3;
	border: 1px solid rgb(82, 79, 79);
}
