.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    border: 0.5px solid green;
  }
  

  .celdas{
    border: 0.5px solid green;
    height: 2px;
    width: 2px;
    text-align: center;
    border-radius: 50%;

  }

  .deadCell {
    border: 0.5px solid green;
    height: 2px;
    width: 2px;
    text-align: center;
    border-radius: 50%;
  }

  .aliveCell {
    border: 0.5px solid green;
    height: 2px;
    width: 2px;
    text-align: center;
    border-radius: 50%;
    background-color: red;
  }

  .stopBtn{
    height: 50px;
    width: 70px;
    align-items: center;
    font-size: large;

  }