*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F1F1F1;
    font-family: NotoSans-Bold, Arial, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: auto;
    background: #000;
    z-index: 1;
}

.navbar-items {
    display: flex;
    padding: 0 15px;
    font-family: NotoSans-Bold, Arial, sans-serif;
    background-color: black;
}

.rakuten-logo {
    width: 111px;
    height: 30px;
    margin-top: 17px;
    margin-left: 20px;
    background-color: black;
}

.rakuten-logo:hover {
    cursor: pointer;
}

.navbar-items-menu ul {
    display: flex;
    color: #fff;
    list-style-type: none;
    margin-left: 15px;
    background-color: black;
}

.navbar-items-menu {
    background-color: black;
}

.navbar-items-menu-text {
    font-size: 14px;
    margin-right: 15px;
    padding: 22px 0;
    font-weight: 600;
    background-color: black;
}

.navbar-items-menu-text:hover {
    color: #ffe300;
    cursor: pointer;
}

.navbar-items-logo,
.navbar-items-logo a {
    background-color: black;
}

.navbar-items-search {
    padding-left: 40px;
    height: 40px;
    width: 300px;
    background-color: #333;
    border-radius: 2px;
    margin-top: 10px;
    text-align: left;
}

.search-box-input {
    padding: 10px 10px 10px 5px;
    background-color: red;
    font-size: 17px;
    background-color: #333;
    border: none;
}

.search-box-input:focus {
    background-color: #fff;
    border: none;
    width: 231px;
    height: 38px;
}

.navbar-items-search::before {
    content: url("https://img.icons8.com/ios-glyphs/24/000000/detective.png");
    color: #999;
    background-color: #333;
    font-size: 24px;
    position: absolute;
    margin-left: -26px;
    margin-top: 7px;
}

.navbar-items-user {
    position: relative;
    width: 403px;
    height: 36px;
    margin-top: 15px;
    margin-left: 206px;
    background-color: black;
}

a:link {
    text-decoration: none;
}

.navbar-items-user-1 {
    margin-right: 15px;
    color: #999;
    font-size: 14px;
    font-weight: 600;
    background-color: black;
}

.navbar-items-user-2 {
    margin-right: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    background-color: black;
}

.navbar-items-user-3 {
    font-family: NotoSans-Bold, Arial, sans-serif;
    width: 108px;
    height: 32px;
    color: #252525;
    background-color: #ffe300;
    border: none;
    border-radius: 5%;
    font-weight: 600;
}

.navbar-items-user-1:hover,
.navbar-items-user-2:hover {
    color: #ffe300;
}

.navbar-items-user-3:hover {
    opacity: 0.9;
}

.film-img img {
    width: 1349px;
    height: 620px;
    margin-top: 60px;
}

.card {
    display: flex;
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #d9d9d9;
    height: 956px;
    width: 960px;
    background-color: #fff;
    margin-left: 20px;
    padding-left: 15px;
    margin-bottom: 5px;
}

.card__info-details,
.card__info-details span,
.card__info-summary p,
.card__info-lenguage,
.card__info-lenguage span,
.card__info-cast,
.card__info-cast span,
.card--img,
.card--img a,
.card--img a div,
.card__info-review,
.card__info-review span,
.card__info-review a,
.card__info-review div {
    background-color: white;
}

.card__info-details {
    display: flex;
    justify-content: flex-start;
    color: black;
    font-weight: 600;
}

.card__info-details span {
    margin-right: 25px;
}

.card__info-summary p {
    color: black;
    font-weight: 600;
    line-height: 180%;
}

.card__info-lenguage {
    display: flex;
    flex-direction: column;
}

.card--title,
.lang--title,
.card--rates,
.card--genres {
    font-size: 16px;
    font-family: NotoSans-Bold, Arial, sans-serif;
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
}

.lenguages {
    display: flex;
    background-color: white;
}

.lenguages div {
    background-color: white;
}

.lenguages div:nth-child(2) {
    margin-left: 40px;
}

.lenguages div p {
    background-color: white;
    color: #737373;
    /* margin-left:15px; */
}

.card--img {
    display: flex;
    justify-content: space-evenly;
}

.card--img a img {
    width: 80px;
    height: 120px;
}

.card--img a div {
    color: black;
}

.card__info-review {
    display: flex;
}

.card--rates span,
.card--genres span {
    display: flex;
    flex-direction: column;
}

.card__media {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}

.card__media div {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.card__media p {
    margin-top: 15px;
    margin-bottom: 34px;
}

.card__media button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    background-color: #fff;
    margin-bottom: 16px;
}

.card__media div button img {
    background-color: #fff;
}

.all-films {
    display: flex;
    flex-direction: column;
    top: 0;
    width: 1349px;
    position: relative;
    padding: 10px 15px 25px;
}

.all-films-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.all-films img {
    height: 279px;
    border: 4px solid transparent;
}

.all-films img:hover {
    border: 4px solid #ffe300;
    border-radius: 2px;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 135px;
    background-color: #0d0d0d;
    z-index: 1;
    padding: 5px 0;
    color: #ccc;
    font-size: 17px;
}

.footer-links p,
.footer-p p {
    background-color: #0d0d0d;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    color: #ccc;
    background-color: #0d0d0d;
}

.footer-links>*:hover {
    color: #fff;
    cursor: pointer;
    background-color: #0d0d0d;
}

.footer-p {
    margin-top: 5px;
    margin-left: 35px;
    color: #737373;
    background-color: #0d0d0d;

}