*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: auto;
    background: #000;
}

.navbar-items {
    display: flex;
    padding: 0 15px;
    font-family: NotoSans-Bold,Arial,sans-serif;
}

img.rakuten-logo {
    width: 142px;
    height: 30px;
    margin: 10px;
}

.navbar-items-menu ul {
    display: flex;
    color: #fff;
    list-style-type: none;
    margin-left: 15px;
}

.navbar-items-menu-text {
    font-size: 14px;
    margin-right: 15px;
    padding: 22px 0;
    font-weight: 600;
}

.navbar-items-menu-text:hover {
    color: #ffe300;
}

.navbar-items-search {
    padding-left: 40px;
    height: 40px;
    width: 300px;
    background-color: #333;
    border-radius: 2px;
    margin-top: 10px;
    text-align: left;
}

.search__box__input {
    padding: 10px 10px 10px 5px;
    background-color: red;
    font-size: 17px;
    background-color: #333;
    border: none;
    /* font-weight: 600; */
}

/* .navbar-items-search::before {
    content: "aaaaaaaaaaaaaaaaaaaa -";
    color: white;
    background-color: yellow;
} */