*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    background: #000;
}

.navbar-items {
    display: flex;
    padding: 0 15px;
}

img.rakuten-logo {
    width: 150px;
    height: 33px;
    margin: 10px;
}