*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: auto;
    background: #000;
    z-index: 1;
}

.navbar-items {
    display: flex;
    padding: 0 15px;
    font-family: NotoSans-Bold, Arial, sans-serif;
}

.rakuten-logo {
    width: 142px;
    height: 30px;
    margin: 10px;
}

.rakuten-logo:hover {
    cursor: pointer;
}

.navbar-items-menu ul {
    display: flex;
    color: #fff;
    list-style-type: none;
    margin-left: 15px;
}

.navbar-items-menu-text {
    font-size: 14px;
    margin-right: 15px;
    padding: 22px 0;
    font-weight: 600;
}

.navbar-items-menu-text:hover {
    color: #ffe300;
    cursor: pointer;
}

.navbar-items-search {
    padding-left: 40px;
    height: 40px;
    width: 300px;
    background-color: #333;
    border-radius: 2px;
    margin-top: 10px;
    text-align: left;
}

.search-box-input {
    padding: 10px 10px 10px 5px;
    background-color: red;
    font-size: 17px;
    background-color: #333;
    border: none;
}

.search-box-input:focus {
    background-color: #fff;
    border: none;
    width: 231px;
    height: 38px;
}

.navbar-items-search::before {
    content: url("https://img.icons8.com/ios-glyphs/24/000000/detective.png");
    color: #999;
    font-size: 24px;
    position: absolute;
    margin-left: -26px;
    margin-top: 7px;
}

.navbar-items-user {
    position: relative;
    width: 403px;
    height: 36px;
    margin-top: 15px;
    margin-left: 206px;
}

a:link {
    text-decoration: none;
}

.navbar-items-user-1 {
    margin-right: 15px;
    color: #999;
    font-size: 14px;
    font-weight: 600;
}

.navbar-items-user-2 {
    margin-right: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.navbar-items-user-3 {
    font-family: NotoSans-Bold, Arial, sans-serif;
    width: 108px;
    height: 32px;
    color: #252525;
    background-color: #ffe300;
    border: none;
    border-radius: 5%;
    font-weight: 600;
}

.navbar-items-user-1:hover,
.navbar-items-user-2:hover {
    color: #ffe300;
}

.navbar-items-user-3:hover {
    opacity: 0.9;
}

.sliders img{
    position: absolute;
    width: 1349px;
    height: 538.25px;
    margin-top: 60px;
}

.banners {
    display: flex;
    justify-content: space-evenly;
    top: 598px;
    background-color: #212121;
    width: 1349px;
    height: 200.77px;
    z-index: 100;
    position: relative;
    padding: 10px 15px 25px;
}

.banners img:hover{
    border: 4px solid #ffe300;
    border-radius: 2px;
    cursor: pointer;
}
