body {
    font-family: 'Rubik', sans-serif;
    background-color:lightgoldenrodyellow ;
}

#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}