body {
    font-family: 'Rubik', sans-serif;
    background-color:lightgoldenrodyellow ;
}

#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 1200px;
    height: 500px;
    background-color: lightgreen;
    border: 1px solid black;

    span{
        margin-top: 10px;
    }

    input {
        width: 200px;
        height: 20px;
    }
}