body {
    background-color: black;
    color: white;
    text-align: center;
}
.done {
    text-decoration: line-through;
    color: green;
}
button {
    color: black;
    background-color: white;
    border-radius: 5px;
}