@import "./colors";
@import "./mixins";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 300;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  color: $color-ma-secondary;
}

.nav-container {
  display: flex;
  background-color: $color-ma-secondary;
  min-height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.nav-content {
  width: 1080px;
  margin: 0 auto;
  display: flex;

  &__malu-pages {
    position: absolute;
    display: flex;
    top: 0;

    &--red {
      @include malu-logo(80px, 140px, "maria-lunarillos.png", $color-ma);
    }

    &--blue {
      @include malu-logo(80px, 70px, "cucute.png", $color-cu);
      &:hover {
        @include size-configuration(null, 140px);
        transition: 0.3s;
      }
    }

    &--yellow {
      @include malu-logo(80px, 70px, "mumuchu.png", $color-mu);
      &:hover {
        @include size-configuration(null, 140px);
        transition: 0.3s;
      }
    }
  }

  &__login-register {
    @include nav-items(2, flex-end, center);
    &:hover {
      color: $color-ma;
    }
  }

  &__social-networks {
    @include nav-items(1, center, center);

    .social-networks__social-item a {
      &:hover {
        color: $color-ma;
      }
    }
  }

  &__cart-container {
    @include nav-items(null, center, center);
    .cart-container__cart {
      @include cart-container-items();
      &:hover {
        background-color: $color-ma;
        color: white;
      }

      .cart-container__cart a {
        &:hover {
          background-color: $color-ma;
          color: white;
        }
      }
    }

    .cart-container__item-counter {
      @include cart-container-items();
      background-color: $color-ma;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.quick-access {
  @include flex-configuration(null, space-around, center);
  width: 1080px;
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-grow: 2;
  margin-top: 100px;
}

.search-products {
  @include flex-configuration(column);
  flex-grow: 1;
  max-width: 540px;
}

.product-categories-images {
  display: flex;
}

.product-category {
  @include flex-configuration(null, center, center);
  @include size-configuration(100px, 100px);
  background-color: $color-ma-secondary;
  margin-top: 40px;
  margin-right: 5px;
}

.product-category:hover {
  background-color: $color-ma;
}
.product-category:nth-last-child(1) {
  margin-left: 50px;
  background-color: $color-ma;
}

.product-category:nth-last-child(1):hover {
  background-color: $color-ma-secondary;
}

.product-category img {
  @include size-configuration(70px, 70px);
}
.product-category-name {
  @include flex-configuration(null, center, center);
  @include size-configuration(100px, 20px);
  margin-top: 5px;
  margin-right: 5px;
}

.search-product {
  @include flex-configuration(null, space-between, null);
  margin-top: 100px;
}

.new-products {
  @include temporary-products(#9faa4d);
}

.offer-products {
  @include temporary-products(#8e789d);
}

.search-bar {
  flex-grow: 2;
}

.search-button {
  background-color: #c2beba;
  flex-grow: 1;
}

.product-categories-name {
  display: flex;
}

.product-category-name:nth-last-child(1) {
  margin-left: 50px;
}

.banner-container {
  position: relative;
  @include flex-configuration(null, center);
  margin-top: 20px;
}

.side-figure {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 10px;
  max-width: 360px;
}
.caption {
  @include caption($color-ma-secondary);
  @include size-configuration(250px, 150px);
}

.main-figure {
  display: flex;
  flex-direction: row;
  position: relative;
}

.top-figure {
  margin-bottom: 10px;
}

.bottom-figure {
  justify-content: flex-end;
}

.triangle {
  @include caption(null);
  @include size-configuration(0px, 0px);
  margin-left: 250px;
  margin-right: 0px;
  background: none;
  border-style: solid;
  border-width: 150px 0 0 100px;
  border-color: transparent transparent transparent rgb(248, 248, 248);
}
.bottom-triangle {
  margin-right: 100px;
  margin-left: 0px;
}

.caption h2 {
  margin: 20px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}
.caption p {
  margin-left: 20px;
}
