@import "./colors";
@import "./mixins";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  list-style: none;
}
.navigator-container {
  display: flex;
  background-color: $color-ma-secondary;
  min-height: 50px;
}

.login-register {
  @include nav-items(2, flex-end, center);
}

.login-register:hover,
.social-item a:hover {
  color: $color-ma;
}

.malu-pages {
  position: absolute;
  display: flex;
  top: 0;
  left: 100px;
}

.ma {
  @include malu-logo(80px, 140px, "maria-lunarillos.png", $color-ma);
}

.cu {
  @include malu-logo(80px, 70px, "cucute.png", $color-cu);
}

.mu {
  @include malu-logo(80px, 70px, "mumuchu.png", $color-mu);
}

.cu:hover,
.mu:hover {
  @include size-configuration(null, 140px);
  transition: 0.3s;
}
.social-networks {
  @include nav-items(1, center, center);
}

.cart-container {
  @include nav-items(1, center, center);
}

.cart {
  @include cart-container-items();
}

.item-counter {
  @include cart-container-items();
  background-color: $color-ma;
  font-weight: bold;
  font-size: 20px;
}

.cart a:hover,
.cart:hover {
  background-color: $color-ma;
  color: white;
}

.quick-access {
  @include flex-configuration(null, space-around, center);
}

.logo {
  display: flex;
  flex-grow: 2;
  margin-top: 100px;
  margin-left: 100px;
}

.search-products {
  @include flex-configuration(column);
  flex-grow: 1;
  max-width: 540px;
  margin-right: 130px;
}

.product-categories-images {
  display: flex;
}

.product-category {
  @include flex-configuration(null, center, center);
  @include size-configuration(100px, 100px);
  background-color: $color-ma-secondary;
  margin-top: 40px;
  margin-right: 5px;
}

.product-category-name {
  @include flex-configuration(null, center, center);
  @include size-configuration(100px, 20px);
  margin-top: 5px;
  margin-right: 5px;
}

.search-product {
  @include flex-configuration(null, space-between, null);
  margin-top: 50px;
}

.temporary-products {
  @include size-configuration(null, 30px);
  margin-right: 8px;
  background-color: $color-ma;
  font-weight: bold;
  flex-grow: 1;
}

.search-bar {
  flex-grow: 2;
}

.search-button {
  flex-grow: 1;
}

.product-category:nth-last-child(1) {
  margin-left: 50px;
  background-color: $color-ma;
}

.product-category img {
  @include size-configuration(70px, 70px);
}
.product-categories-name {
  display: flex;
}

.product-category-name:nth-last-child(1) {
  margin-left: 50px;
}
