

/* Color Text*/

$primary-color:#fff;
$action-color :#f0d500;


/*Interactive Colors*/
$progress-bar:#b8d916;
$icons:#252525;
$color-icon:#999;



/*backgrounds colors*/
$background-primary: #101010;
$background-header: #000000;
$background-searcher: #333333;
$background-section: #192233;
$background-aside: #f1f1f1;

