$gris-claro: #ccc;
$gris-medio: #555;
$gris-oscuro: #333;
$negro: #010101;

$naranrojo: #ff2200;
$naranja: #ff9900;

$text-color: $negro;
$text-important: $naranrojo;
$border-color: $gris-oscuro;
$border-generic-color: $gris-medio;
$border-highlight: $naranrojo;

$background-color: $gris-claro;