/*Color del fondo de pantalla*/
body {
    background-color: rgba(241, 38, 38, 0.22);
}

/*Estilo del div que contiene la pantalla y todos los botones*/
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

/*Estilo de la pantalla de la calculadora*/
.display {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid white;
    background-color: rgb(41, 38, 61);
    font-size: 60px;
    min-height: 100px;
    max-height: auto;
}

/*Estilo del div el cual se van a mostrar los números de las operaciones*/
.display .current-numbers {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

/*Estilo del botón Ac y 0, para que salgan más anchos*/
.main>.first-row>.all-clear,
.main>.last-row>#zero {
    width: 204px;
}

/*Estilo de todos los botones*/
.main button {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    background-color: rgb(233, 233, 233);
    font-size: 30px;
}

/*Estilo del color de los botones de las signos de operación*/
button.division,
button.multiply,
button.substract,
button.addition,
button.equal {
    background-color: rgb(252, 137, 55);
    color: white;
    font-size: 30px;
    padding: 0;
}

/*Estilo de todos los botones, cambia a pointer cuando el cursor pasa por encima*/
button:hover {
    cursor: pointer;
    background-color: rgb(221, 180, 142);
}