.header-container{
    display: flex;
    justify-content: flex-start;
    align-items: center ;
}

.header-container__item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    color: black;
    background-color: yellow;
    width: 48vw;
    height: 20vh;
}

.avatar{
    margin-right: 100px;
    height: 30vh;
    width: 15vw; 
    border-radius:50%;
}

.change-container{
    display: flex;
    padding-bottom: 1em;
    justify-content: center;
    margin-right: 17em;
   
    &__item{
        border-style: none;
        border-radius: 20px;
        background-color: yellow;
        width: 15%;
        height: 5vh;
        margin-left: 8em;
    }
}

.main-container{
    background-color: gray;
    border-radius: 20px;

    &__title{
        margin-left: 5%;
        padding-top: 2%;
    }  
}

.wishlist-container{
    border-radius: 20px;
    padding: 3%;
    background-color: gray;
    height: 25vh;

    &__tablerow{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5%;
        
        border-radius: 20px;
        background-color: black;
        margin-top: 1%;
        width: 65%;
    }

    &__tabledata{
        display: flex;
        justify-content: center;
        margin-top: 1%;
        align-items: center;
        
    }
    &__button{
        border-style: none;
        border-radius: 20px;
        background-color: yellow;
        height: 3vh;
        width: 10vw;
    }
}

.footer-container{
 display: flex;
 justify-content: space-between;

    &__button{
        margin-top: 5%;
        border-radius: 20px;
        border-style: none;
        background-color: gray;

        &--big{
            margin-top: 2%;
            border-style: none;
            background-color: gray;
            border-radius: 20px;
            height: 7vh;
            width: 10vw;
        }
    }
}






