<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../../styles/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <title>Todo List</title>
</head>
<body>
  <main class="main"></main>

  <script src="./../store/store.js"></script>
  <script src="./../action/action.js"></script>
  <script src="./components.js"></script>
  <script src="./html-elements.js"></script>

</body>
</html>