@import './../../styles/mixin.scss';
@import '../../styles/colors.scss';

.category{
    columns: 5 200px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 30px 5%;
    &__item{
        width: 150px;
        margin: 0 1.5rem 1.5rem 0;
        display: inline-block;
        width: 100%;
        padding: 5px;
        img{
            width: 100%;
            border-radius: 20px;
        }
        &:hover{
            z-index: 1;
            opacity: 0.5;
        }
    }
    
}

