@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200;400&display=swap');

label {
    margin: 10px;
    
    input {
        margin-top: 15px;
        font-size: 1rem;
        color:rgb(224, 224, 224);
        padding: 0 10px;
        width: 540px;
        height: 35px;
        border: none;
        font-family: 'Poppins', sans-serif;
    }
    input:focus{
        outline: none;
    }
    .input-button {
        padding: 10px 30px;
        border: none;
        cursor: pointer;
        background-color: #7d0088;
        color: white;
        font-weight: bolder;
        height: 36px;
        margin-right: auto; 
    }
}





