body {
    background: black;
    color: white;
}

.heroesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.heroListElement{
    outline: none;
}