* {
  margin: 0px;
}

body {
  font: 12px/1.55 'Source Sans Pro', sans-serif;
}

header {
  position: absolute;
  top: -5px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.grey-menu {
  height: 50px;
  width: 100%;
  z-index: -1;
  position: absolute;
  background-color: #F8F8F8;
  overflow: auto;
}

.centered1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.topbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  width: 65%;
}

.centered2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 50px;
  width: 65%;
}

.centered2-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.centered2-left img {
  width: 70%;
  margin-bottom: 50px;
}

.centered2-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 50px;
  width: 55%;
}

.centered2-righ-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 40px 0px;
  width: 100%;
}

.centered2-right-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.header-big-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f2f2;
  width: 80px;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin-right: 3px;
}

.big-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-big-icon:hover {
  background-color: #FF5959;
  cursor: pointer;
}

.header-big-icon-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f2f2;
  width: 80px;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin-right: 3px;
  background-color: #FF5959;
  margin-right: 0px;
}

.header-big-icon-blog:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.big-icon-container-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 43px;
}

.big-icon-container, span {
  text-align: center;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
}

.centered2-righ-bottom > img {
  width: 50px;
  height: 70px;
  margin-top: 5px;
}

.delantal-icon {
  width: 85px;
}

.blog-icon {
  width: 55px;
  height: 45px;
  margin-top: 20px;
}

.input-text {
  float: left;
  width: calc(60% - 49px);
  border: 1px solid #BBB8B6;
  height: 26px;
  font-size: 12px;
  letter-spacing: 1px;
  text-indent: 0px;
  text-align: start;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  font: 400 13.3333px Arial;
}

.buscar-button {
  width: 83px;
  height: 30px;
  display: block;
  float: right;
  border: none;
  background: url(./../images/sprite.svg) -303px 2px no-repeat #BBB8B6;
}

.buscar-button2 {
  width: 50px;
  height: 50px;
  display: block;
  float: right;
  border: none;
  background: url(./../images/sprite.svg) -303px 10px no-repeat #BBB8B6;
  cursor: pointer;
  display: none;
}

.novedades-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 10px;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  background: #9faa4d;
  padding-right: 10px;
  height: 30px;
  width: 250px;
}

.ofertas-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 10px;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  background: #8e789d;
  height: 30px;
  width: 210px;
}

.sun-icon {
  width: 20px;
  height: 20px;
  padding: 0px 5px;
}

.fa-star {
  color: black;
  font-size: 20px;
  padding: 5px;
}

.entra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  float: left;
  height: input;
  line-height: 50px;
  font-weight: 400;
  color: #2E2925;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

.register-icon {
  width: 27px;
  height: 27px;
  background: url("./../images/sprite.svg") 0 0 no-repeat;
  margin: 10px;
}

.centered1 a:hover .register-icon {
  background: url("./../images/sprite.svg") -37px 0 no-repeat;
}

.centered1 a div:hover {
  fill: #FF5959;
}

.rojo {
  background: url(./../images/icons/maria-lunarillos.png) #FF5959 bottom center no-repeat;
  width: 80px;
  height: 150px;
  margin: 0px 3px 0px 0px;
  cursor: pointer;
}

.rojo2 {
  background: url(./../images/icons/maria-lunarillos.png) #FF5959 bottom center no-repeat;
  display: none;
  width: 70px;
  height: 70px;
  margin: 0px 3px 0px 0px;
  cursor: pointer;
  margin-bottom: 50px;
  margin-right: 10px;
}

.verde {
  background: url(./../images/icons/cucute.png) #6199AF bottom center no-repeat;
  width: 70px;
  height: 70px;
  margin: 0px 3px 0px 0px;
  cursor: pointer;
}

.verde:hover {
  height: 150px;
}

.amarillo {
  background: url(./../images/icons/mumuchu.png) #F6B436 bottom center no-repeat;
  width: 70px;
  height: 70px;
  margin: 0px 3px 0px 0px;
  cursor: pointer;
}

.amarillo:hover {
  height: 150px;
}

#three-bars {
  display: none;
  color: #FF5959;
  margin-top: 10px;
  font-size: 30px;
}

div.icons {
  /* border: 3px solid green; */
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 9px 30px;
}

div.empty {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

.fab {
  font-size: 20px;
  margin: 5px;
}

.fab:hover {
  color: #FF5959;
  cursor: pointer;
}

.cart-icon {
  background: #fff url(./../images/sprite.svg) -65px 15px no-repeat;
  width: 50px;
  height: 50px;
}

.cart-icon:hover {
  background: #FF5959 url(./../images/sprite.svg) -105px 14px no-repeat;
  cursor: pointer;
}

div.cart-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FF5959;
  width: 50px;
  height: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 25px;
  color: white;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.fiesta-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 150px;
  background-color: #F8F8F8;
}

.tarta-fiesta-image {
  width: 100px;
  height: 110px;
  -webkit-transform: translate(0px, -60px);
          transform: translate(0px, -60px);
}

.fiesta-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 100px;
  font-weight: 800;
  font-size: 30px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 230px;
  height: 60px;
}

.images-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid red;
  width: 65%;
}

.column-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.image1 > img {
  margin: 5px;
  margin-left: 0px;
  width: 100%;
  height: auto;
}

.image2 > img {
  margin: 5px;
  margin-left: 0px;
  width: 100%;
  height: auto;
}

.image3 {
  display: none;
  overflow: hidden;
}

.image3 > img {
  margin: 5px;
  margin-left: 0px;
  width: 100%;
  height: auto;
  margin: 0px 0px -500px 0px;
}

.image1 > .caption-shape {
  top: 622px;
  left: 507px;
  position: absolute;
  background-color: white;
  opacity: 70%;
  width: 500px;
  height: 400px;
  -webkit-clip-path: polygon(24% 100%, 24% 60%, 70% 60%, 100% 100%);
          clip-path: polygon(24% 100%, 24% 60%, 70% 60%, 100% 100%);
}

.image1 > span {
  position: absolute;
  text-align: left;
  top: 890px;
  left: 647px;
  color: black;
  font-size: 20px;
}

.image2 > .caption-shape {
  top: 910px;
  left: 488px;
  position: absolute;
  background-color: white;
  opacity: 70%;
  width: 500px;
  height: 400px;
  -webkit-clip-path: polygon(24% 100%, 24% 60%, 70% 60%, 100% 100%);
          clip-path: polygon(24% 100%, 24% 60%, 70% 60%, 100% 100%);
}

.image2 > span {
  position: absolute;
  text-align: left;
  top: 1180px;
  left: 630px;
  color: black;
  font-size: 20px;
}

.long-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  margin-right: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40%;
  border: 1px solid red;
}

.long-image > img {
  margin: 5px;
  margin-left: 0px;
  height: auto;
}

.long-image > .caption-shape {
  top: 1000px;
  left: 935px;
  position: absolute;
  background-color: white;
  opacity: 70%;
  width: 500px;
  height: 400px;
  -webkit-clip-path: polygon(24% 100%, 24% 60%, 70% 60%, 100% 100%);
          clip-path: polygon(24% 100%, 24% 60%, 70% 60%, 100% 100%);
  width: 450px;
  height: 350px;
}

.long-image > span {
  position: absolute;
  text-align: left;
  top: 1230px;
  left: 1050px;
  color: black;
  font-size: 20px;
}

.vermas-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 100px;
  height: 50px;
  background-color: #FF5959;
}

.marcas-section {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marcas-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 100px;
  font-weight: 800;
  font-size: 30px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 300px;
  height: 60px;
}

.marcas-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 65%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.marcas-block > img {
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: 10px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer;
}

.marcas-block > img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.envios-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px;
  padding: 50px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e8e6e5;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.envios-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 20px;
  width: 183px;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-furgo {
  background: url(./../images/sprite.svg) 0 -38px no-repeat transparent;
  margin-bottom: 10px;
  width: 90px;
  height: 60px;
  display: block;
}

.icon-time {
  background: url(../images/sprite.svg) -90px -38px no-repeat transparent;
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
  display: block;
}

.icon-envelope {
  background: url(../images/sprite.svg) -150px -36px no-repeat transparent;
  margin-bottom: 10px;
  width: 68px;
  height: 60px;
}

.icon-card {
  background: url(../images/sprite.svg) -223px -38px no-repeat transparent;
  margin-bottom: 10px;
  width: 77px;
  height: 60px;
}

.envios-container > .subtext {
  font-size: 12px;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0px;
}

.contact-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 30px;
}

.contact-iconsblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
}

.contact-iconsblock > .contact-facebook {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/sprite.svg) 0 -494px no-repeat transparent;
}

.contact-iconsblock > .contact-twitter {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/sprite.svg) -36px -494px no-repeat transparent;
}

.contact-iconsblock > .contact-instagram {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/sprite.svg) -71px -494px no-repeat transparent;
}

.contact-iconsblock > .contact-pinterest {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/sprite.svg) -106px -494px no-repeat transparent;
}

.contact-iconsblock > .contact-youtube {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/sprite.svg) -142px -494px no-repeat transparent;
}

.suscribete-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.suscribete-input-text {
  float: left;
  width: calc(60% - 49px);
  border: 1px solid #BBB8B6;
  height: 26px;
  font-size: 12px;
  letter-spacing: 1px;
  text-indent: 0px;
  text-align: start;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  font: 400 13.3333px Arial;
  width: 300px;
  margin-right: 5px;
  height: 32px;
}

.suscribete-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FF5959;
  border: none;
  font-size: 30px;
  color: white;
  text-align: center;
}

.contact-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 30px;
  padding: 10px 50px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 100px;
}

.contact-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-icon {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/sprite.svg) 0px -207px no-repeat transparent;
}

.contact-i {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/sprite.svg) 0px -245px no-repeat transparent;
}

.contact-cart {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/sprite.svg) 0px -285px no-repeat transparent;
}

.contact-text {
  margin-left: 3px;
  color: #FF5959;
}

.contact-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FF5959;
  color: white;
  width: 100%;
  margin-top: 100px;
  height: 50px;
}

@media (max-width: 600px) {
  .rojo {
    display: none;
  }
  .verde {
    display: none;
  }
  .amarillo {
    display: none;
  }
  .entra span {
    display: none;
  }
  .icons {
    display: none;
  }
  #three-bars {
    display: block;
  }
  .rojo2 {
    display: block;
  }
  .buscar-button2 {
    display: block;
  }
  .register-icon {
    margin-right: 50px;
  }
  .centered2-left {
    width: 100%;
    margin-top: 50px;
  }
  .centered2-right {
    display: none;
  }
  .long-image {
    display: none;
  }
  .marcas-section {
    display: none;
  }
  .contact-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .column-images {
    width: 100%;
  }
  .image3 {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */