.list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
.flat-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0 50px;
    color: #003b59;
    font-weight: 800;
    font-size: 20px;
    
    &__item{
        margin: 10px;
        width: 250px;
        display: flex;
        flex-direction: column;
        img{
            width: 250px;
            border-top-left-radius: 5%;
            border-top-right-radius: 5%;
        }
    }
    .info-container{
        padding: 15px;
        height: 110px;
        background-color: #FFFFFF;
        white-space: normal;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
        .number-info{    
            display: flex;
            justify-content: space-around;   
            padding-top: 10px; 
            .number-info__item{
                font-size: 13px;
                i{
                 font-size: 13px
                }
            }
        }
    }
}
    button{
        width: 100%;
        max-width: 140px;
        height: 46px;
        border-radius: 24px;
        background-color: #f25c0f;
        font-size: 16px;
        text-align: center;
        color: #fff;
        border: none;
        outline: 0;
        cursor: pointer;
        margin-bottom: 20px
    }
}