//declaro las variables de los colores que usare en mi html
$gris-claro: #ccc;
$gris-medio: #555;
$gris-oscuro: #333;
$naranja: #ff9900;
$naranrojo: #ff2200;
$negro: #010101;
$text-color: $negro;
$text-important: $naranrojo;
$border-color: $gris-oscuro;
$background-color: $gris-claro;
