*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$gris-claro: #ccc;
$gris-medio: #555;
$gris-oscuro: #333;
$naranja: #ff9900;
$negro: #010101;

$padding: 20px;
$margin: 20px;

$text-color: $negro;
$border-color: $gris-oscuro;
$background-color: $gris-claro;

@mixin common-tags($direction) {
  display: flex;
  flex-direction: $direction;
  border: solid 1px $border-color;
  padding: $padding;
  margin: $margin;
}

body {
  background: #eaeaea;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 20px;
}
.main {
  @include common-tags(row);
}
.sidebar {
  @include common-tags(column);
  flex-direction: column;
}
.form {
  @include common-tags(column);
  flex-direction: column;
}
