*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(127, 255, 212, 0.513);
}

nav{
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(127, 208, 255, 0.513);
  list-style: none;
}

button{
  background-color: rgb(255, 189, 127);
  margin-top: 10px;
  padding: 10px;
  border:none;
  margin-left: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
