@import './../../styles/colors.scss';

.task-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  margin-top: 30px;
  background-color: $color-secondary;
  h2 {
    font-size: 26px;
  }
  button {
    background-color: $color-main;
    color: $bg-color-main;
      &:hover {
        background-color: $bg-color-secondary;
      }
  }
  &__modify {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    input, button {
      border-radius: 5px;
      height: 30px;
    }
    input {
      margin-left: 20px;
      border: none;
      padding: 8px;
      width: 200px;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      font-size: 16px;
      
    }
  }
}