$bg: adjust-hue(#25313e, 0%);
$recessed: desaturate(lighten($bg, 20%), 5%);//#6c7886

body {
  background: $bg;
  color: #fff;
  font-family: 'Proxima Nova', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  padding-top: 2rem;
}

nav {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 40px;
 @media screen and (max-width: 600px){
   flex-direction: column;
   margin-bottom: 20px;
 }
 .nav__link {
  margin-right: 34px;
  color: $recessed;
  text-decoration: none;
  @media screen and (max-width: 600px){
    margin:20px 0 20px 0;
  }
 }
 
}

footer{
  text-align: center;
  img{
    width: 30px;
    height: auto;
    opacity: 0.35;
  }
    
  small{
    color: $recessed;
    font-size: .9rem;
  }  
}
  

h1 {
  color: $recessed;
  font-size: 2.4rem;
  text-align: center;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 1;
}


p {
  text-align: center;
  margin-bottom: 2rem;
}


$close-btn-bg: #f55551;
$minimize-btn-bg: #f6b73e;
$maximize-btn-bg: #32c146;
$command-colour: $maximize-btn-bg;
$btn-size: 12px;
$btn-left-offset: 18px;
$btn-inner-margin: 8px;
