@import './components/styles/colors.scss';

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  background: rgb(245,244,243);
  background: linear-gradient(180deg, rgba(245,244,243,1) 0%, rgba(182,180,175,1) 67%, rgba(91,89,87,1) 99%);
  color: #fff;
  font-family: 'Proxima Nova', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
}

main {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

nav {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 40px;
 @media screen and (max-width: 600px){
   flex-direction: column;
   margin-bottom: 20px;
 }
 .nav__link {
  margin-right: 34px;
  color: $color;
  text-decoration: none;
  @media screen and (max-width: 600px){
    margin:20px 0 20px 0;
  }
 }
 
}

footer{
  margin-top: auto;
  text-align: center;
  img{
    width: 30px;
    height: auto;
    opacity: 0.35;
  }
    
  small{
    color: $recessed;
    font-size: .9rem;
  }  
}
  

h1 {
  color: $color;
  font-size: 2.4rem;
  text-align: center;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 1;
}


p {
  text-align: center;
  margin-bottom: 2rem;
}

.importan-text {
  font-size: 20px;
  color: $bg;
}

$close-btn-bg: #f55551;
$minimize-btn-bg: #f6b73e;
$maximize-btn-bg: #32c146;
$command-colour: $maximize-btn-bg;
$btn-size: 12px;
$btn-left-offset: 18px;
$btn-inner-margin: 8px;
