.network:hover,
.shopping-icons:hover,
#register:hover {
  color: #ec655f;
}

input {
  outline: 0 none;
}

input:focus {
  color: hotpink;
  outline-color: hotpink;
}

.travel,
.arrival,
.outbound,
.fly-date,
.fly-class,
.passengers-number-input {
  height: 20px;
  width: 180px;
  margin-right: 20px;
}

.cuisine-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 67vmin;
  max-width: 159vmin;
  background-image: url("./../images/utensiliosbasicos.jpeg");
  background-repeat: no-repeat;
}

.cuisine-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Arimo',sans-serif;
}

.fly-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin: 10vmin;
  padding: 0 10vmin 5vmin 10vmin;
  border: 2px solid black;
}

.fly-form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fly-form-drop-downs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 200px;
}

.travel-drop-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.travel {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.outbound {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.arrival {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.fly-specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 200px;
}

.fly-date {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.passengers-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fly-class-drop-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.professional-travel-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.professional-travel {
  width: 30px;
  height: 7vmin;
}

.fly-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=form.css.map */