.network,
.shopping-icons,
#register {
    &:hover {
        color: rgb(236, 101, 95);
    }
}

.cuisine-section {
    display: flex;
    max-height: 67vmin;
    max-width: 159vmin;
    background-image:url("./../images/utensiliosbasicos.jpeg");
    background-repeat: no-repeat;
}

.figure-content{

}

.cuisine-image {

}

.cuisine-text {
    display: flex;
    flex-direction: column;
    
}

.cuisine-title {

}

.cuisine-description {

}

.flex-form {
    display: flex;
    justify-content: center;
    font-family: 'Arimo',sans-serif;
}

.fly-form {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin: 15vmin;
    padding: 0 10vmin 10vmin 10vmin;
    border: 2px solid black;
}

.fly-form-title {
    display: flex;
}

.fly-form-drop-downs {
    display: flex;
    flex-wrap: wrap;
}

.travel-drop-down {
    display: flex;
    flex-direction: column;
}

.travel {}
.outbound {}
.arrival {}


.fly-specifications {
    display: flex;
    flex-wrap: wrap;
}

.fly-date {}

.passengers-number {
    display: flex;
    flex-direction: column;
}

.fly-class-drop-down {
    display: flex;
    flex-direction: column;
}

.professional-travel-selector {
    display: flex;
}

.professional-travel {
}

.fly-button {

}
.search-fly-button {

}
