li {
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

header{
    display: flex;
    border:blueviolet solid 2px;
    flex-direction: column;
    /* max-width: fit-content; */
}

.nav-bars {
    display: flex;
    background-color: rgb(242, 242, 242);
    margin-left: 50px;
    justify-content: space-between;
}

.dropping-nav {
    display: flex;
    background-color: #F8F8F8;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}

.dropping-elements-list{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}

.dropping-nav-element {

    
}

.not-dropping-nav{
    display: flex;
    background-color: burlywood;
}

.not-dropping-element{
    display: flex;
    justify-content: flex-end;
    background-color: cadetblue;
}
.login-register {

}

.network {

}

.shopping-icons {

}

.header-container {
    display:flex;
}

.logo {
    display: flex;
    align-items: flex-end;
}

.search-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.general-search {
    display: flex;
}

.specific-search {
    display: flex;
}

.specific-search-img {
    padding: 15px 25px 15px 25px;
    width: 42px;
    background-color: rgb(242, 242, 242);
}

.blog-search {
    background-color: rgb(242, 242, 242);
    padding: 15px;
}

.fa-search {
    background-color: #ccc;
    transform: rotate(90deg);
}

input {
    outline: none;
    color: grey;
}

#marcas-img {
    padding: 20px;
}

#news-button {
    background-color: chartreuse;
}

#offers-button {
  background-color: purple;  
}

#maria-lunarillos-drop {
    background-color: rgb(236, 101, 95);
}

#cucute {
    background-color: rgb(111, 152, 173);
}

#mumuchu {
    background-color: rgb(236, 183, 81);
}