@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,900;1,600&display=swap');

$primary-font: 'Source Sans Pro', sans-serif;
$light:300;
$regular: 400;
$semiBold: 600;
$bold:900;