
/* display flex  generator*/

@mixin flex($direction, $justify, $align ){
  display:flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow:$direction;
  justify-content: $justify;
  align-items: $align;
  -webkit-box-align: $align;
  -moz-box-align: $align;
  -ms-flex-align: $align;
  -webkit-align-items:$align;
}

@mixin backgrounds($bg-color, $bg-image,$bg-size, $bg-repeat, $bg-attachment ){
  background-color: $bg-color;
  background-image: url($bg-image);
  background-size: $bg-size;
  background-repeat: $bg-repeat;
  background-attachment: $bg-attachment;
}