@font-face {
    font-family: 'Starjedi' ;
    src: url('./../../Starjedi.ttf') format('truetype');
}

.list-element {
    
    font-family: 'Starjedi';
    &__image {
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
    }
}