.main {
    background-color: $mainRed;
    height: 600px;
    width: 100%;
}

.slider {
    &__slider-1 {
        margin-left: 135px;
    }
}


.middle {
    height: 250px;
    width: 100px;
    margin: 0 auto;
    margin-top: 100px;

    &__image {
        height: 125px;
        width: 92px;
    }

    &__title {

        margin-left: -74px;
        margin-top: 10px;
        width: 268px;
        padding:10px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;

        span {
            line-height: 30px;
            font-size: 30px;
            letter-spacing: 10px;
        }
    }

   
}


.images {
    display: flex;
    justify-content: space-evenly;
    width: 1095px;
    height: 630px;
    margin: 0 auto;

    &__left {
        position: relative;
        margin-top: 10px;
        width: 350px;
        height: 615px;
        background: url(../images/moldesdereposteria.jpg);

        &-text {
            font-size: 24px;
            color: #67635F;
            position: absolute;
            bottom: 0;
            background: rgba(255, 255, 255, 0.8);
            width: 250px;
            height: 150px;
            text-align: center;
            font-weight: 600;
            padding-top: 20px;


            p {
                color: #67635F;
                font-size: 15px;
                line-height: 18px;
                font-weight: normal;

            }

            &::after {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border: transparent;
                border-bottom: 151px solid rgba(255, 255, 255, 0.8);
                border-right: 99px solid transparent;
                position: absolute;
                right: -99px;
                top: -1px;
            }
        }
    }

    &__right {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &-first,
        &-second {
            width: 715px;
            height: 300px;
        }

        &-first {
            background: url(../images/utensiliosbasicos.jpg);

        }

        &-second {
            background: url(../images/pequenoelectrodomestico2.jpg);
        }

        &-text2,
        &-text1 {
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            color: #67635F;
            font-weight: 600;
            position: absolute;
            bottom: 0;
            background: rgba(255, 255, 255, 0.8);
            width: 250px;
            height: 150px;
            padding-top: 20px;

            p {
                color: #67635F;
                font-size: 15px;
                line-height: 18px;
                font-weight: normal;
            }

            &::after {
                position: relative;
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border: transparent;
                border-bottom: 151px solid rgba(255, 255, 255, 0.8);
                border-right: 99px solid transparent;
                position: absolute;
                right: -99px;
                top: -1px;
            }
        }

        &-text1 {
            bottom: 320px;
        }

        &-text2 {
            margin-left: 371px;
        }
    }
}