@import "../style/variables";

header {
    display: flex;
    flex-direction: column;
}

.header__navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #f8f8f8;

    &-wrapper {
        display: flex;
        justify-content: space-evenly;
        width: 1080px;
        height: 50px;
        position: absolute;

        &-links {
            width: 232px;
            height: 140px;
        }

        &-ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
            margin-left: 20px;
        }

        &-extra {
            width: 418px;
            display: flex;
            justify-content: space-between;
            margin-right: 0;
        }
    }
}

.list {

    &__ma {
        width: 80px;
        height: 140px;
        background: url(../images/maria-lunarillos.png) #FF5959 bottom center no-repeat;
    }

    &__cu,
    &__mu {
        width: 70px;
        height: 70px;

        &:hover {
            height: 140px;
        }
    }

    &__cu {
        background: url(../images/cucute.png) #6199AF bottom center no-repeat;
    }

    &__mu {
        background: url(../images/mumuchu.png) #F6B436 bottom center no-repeat;
    }
}

.login {
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 129px;

    &__main {
        display: flex;
        &:hover {
            color: $mainRed;
        }
    }

    &__icon {
        margin-top: -5px;
    }

    &__text {
        display: flex;
        width: 160px;
    }

}

.social {
    &__list {
        display: flex;
        list-style: none;
        margin-left: 10px;
        margin-top: 10px;


        &-facebook {
            padding-left: 10px;
        }

        &-twitter {
            padding-left: 20px;
        }

        &-instagram {
            padding-left: 20px;
        }

        &-pinterest {
            padding-left: 20px;
        }

        &-youtube {
            padding-left: 20px;
        }
    }
}

.checkout {
    display: flex;
    margin-left: 25px;

    &__img {
        background-color: white;

        &:hover {
            background-color: $mainRed;
        }
    }

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 50px;
        height: 50px;
        background-color: $mainRed;
    }


}

.header__section {
    height: 310px;
    display: flex;
    justify-content: space-around;

    &-logo {
        margin-top: 170px;
        margin-left: 34px;
    }

    &-icons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 570px;
        height: 218px;
        margin-top: 70px;
    }
}

.search {
    display: flex;
    justify-content: space-evenly;

    &__novedades {
        height: 30px;
        width: 138px;
        text-align: center;
        padding-top: 5px;
        color: white;
    }

    &__novedades-green {
        background-color: #9faa4d;
        margin-left: -34px;
    }

    &__novedades-purple {
        background-color: #8e789d;
        margin-left: -34px;
    }
}

.img {
    display: flex;
    justify-content: space-evenly;

    &__blog {
        width: 100px;
        height: 100px;
        text-align: center;
        // padding-left: 10px;
        background-color: #f2f2f2;

        &:hover {
            background-color: $mainRed;
        }
    }

    &__blog-blog {

        // margin-left: 45px;
        background-color: red;

        &:hover {
            background-color: pink;
        }
    }
}