<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tour Of Pokemons</title>
</head>
<body>
    <div class="wrapper">
        <main class="content">
        </main>
    </div>
    
</body>
<script src="./../../store/store.js"></script>
<script src="./../../services/pokemons.service.js"></script>
<script src="./dashboard.js"></script>

</html>
