@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&family=Roboto:wght@100;400;900&display=swap');

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}
html {
  overflow: hidden;
  height: 100%;
  font-family: Roboto;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.title_section {
  font-family: 'Noto Sans JP';
  font-weight: 900;
  margin-bottom: 20px;
}