@import './../../styles/colors.scss';

.new-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $color-main;
  padding: 20px;
  border-radius: 5px;
  h2 {
    visibility: hidden;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color:$color-secondary;
  }
  input {
    margin-top:10px;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    height: 30px;
    font-size: 20px;
    width: 80%;
    outline:none;
    border: none;
  }
  button{
    margin: 0;
    margin-top: 15px;
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-secondary;
    &:hover {
      color: $color-main;
      background-color: $bg-color-main;
    }
  }
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}


