*, *::after, *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
      box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
}

.header {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    &__navbar{
        display: flex;
        flex-direction: row;
        justify-content: center; 
        width: 100%;     
    }
    &__logo{
        width: 300px;
    }
}

.navbar__button{
    margin-right: 10px;
    padding: 10px 10px;
    background-color: blue;
    list-style: none;
    a{
        color: white;
        outline: none;
        text-decoration: none;
    }
}

.dashboard{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: crimson;
    height: 300px;
    color: white;
    width: 100%;
    &__title{
        text-transform: uppercase;
        margin-bottom: 40px;
    }
}

.dashboard__top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0;
    padding: 0; 
    width: 100%;
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        margin:0 40px;
        }
        a{
            margin-top: 150px;
            position: absolute;
            text-decoration: none;
            text-transform: capitalize; 
            color: white;   
            font-size: 20px;
        }
        img{
            border-radius: 50%;
            background-color: white;
        }
}
