$gris-claro: #ccc;
$gris-medio: #555;
$gris-oscuro: #333;
$negro: #010101;

$naranja: #f90;
$naranrojo: #ff2200;
$hotpink: hotpink;

$text-color: $negro;
$text-important: $naranrojo;

$border-color: $gris-oscuro;
$generic-border-color: $gris-claro;
$border-highlight: $naranrojo;
$specific-border-color: $hotpink;

$background-color: $gris-claro;