@import "./colors";
@import "./values";
@import "./mixins";

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $gris-medio;
}

body {
    background: #eaeaea;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 20px;
}

main {
    @include common-tags(row);
}

.form {
    @include common-tags(column);
}

.sidebar {
    @include common-tags(column, $border-highlight);

    &-title {
        color: $text-important;
    }
}