@import "./colors";
@import "./values";

@mixin common-tags($direction, $specific-border-color: $border-color) {
    display: flex;
    flex-direction: $direction;
    border: borders(solid, 2px, $specific-border-color);
    padding: $padding;
    margin: $margin;
}

@mixin borders ($type, $width, $bcolor: $border-color) {
    border: $type $width $bcolor;
}