* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

a {
  color: #2e2925;
}

ul {
  padding-left: 0;
}
.nav-bar {
  /*Gemma ->
   display: flex;
  height: 50px;
  background-color: red; */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.links {
  display: flex;
}

.login {
  /*display: flex;
  margin-left: 100px;
  list-style: none;*/
  margin: 0;
  padding: 0;
  max-width: 15%;
}

.shopping {
  max-width: 15%;
  padding-left: 0;
}

.slice-icons {
  /*display: flex;
  flex-direction: row;
  height: 100%;
  list-style: none;*/
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  overflow: hidden;
  width: 23%;
  position: absolute;
  top: 8px;
  left: 8px;
  height: 140px;
}

.ma {
  background-color: #ff5959;
  /*max-width: 100%;
  height: 100px;*/
  margin: 0;
  min-height: 100%;
}

.cu {
  background-color: #6199af;
  max-width: 100%;
  margin: 0;
}

.mu {
  background-color: #f6b436;
  max-width: 100%;
  margin: 0;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding-left: 0;
  max-width: 70%;
}

.social-nav {
  width: 50%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.social-item {
  margin: 5px;
}
