.nav-bar {
  display: flex;
  height: 50px;
  background-color: #f8f8f8;
}

.links {
  display: flex;
}

.login {
  display: flex;
  margin-left: 100px;
  list-style: none;
}

.shopping {
  display: flex;
}

.slice-icons {
  display: flex;
  flex-direction: row;
  height: 100%;
  list-style: none;
}

.ma {
  background-color: #ff5959;
  max-width: 100%;
}

.cu {
  background-color: #6199af;
  max-width: 100%;
}

.mu {
  background-color: #f6b436;
  max-width: 100%;
}

.socials {
  list-style: none;
}
