html {
    background-color: black;
    color: white;
}

* {
    font-family: 'Roboto Mono', monospace;
}

li {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 3em;
    }
}
.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
}

.task {
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.tasksList {
    padding: 0 0 0 0;
}

.tasks-button-container {
    display: flex;
    justify-content: center;
}