.loginMessage {
    display: flex;
    font-weight: 700;
    margin-right: 20px;
    color:white;
}

#auth-button{
    margin-top: 13px;
    width: 110px;
    height: 30px;
    text-align: center;
}

