/* ------- GENERIC ------- */

@import "./colors";
@import "./mixins";

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

* {
    font-family: NotoSans-Bold,Arial,sans-serif;

}

html{
    main {
        width: 100%;
        height: 1000px;
        background-color: $background-color-main;
    }
    a:hover{
        text-decoration: none;
        color: $color-main;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-main;
}

/* ---------------------- */
/* ------- HEADER ------- */

.container-header {
    width: 100%;
    height: 61px;
    top: 0;
    position: fixed;
    background-color: $background-color-nav;
    color: $color-main;
    z-index: 2;
}

.nav-bar {
    max-width: 1680px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 20px;
}

.logo {
    width: 187px;
    background: url("data:image/svg+xml,%3Csvg height='42' viewBox='0 0 187 42' width='187' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff' fill-rule='evenodd'%3E%3Cpath d='m162.126 10.7207c-.054-.891-.075-1.259.593-1.663.467-.283 3.036-1.768 7.653-3.196.57-.178 1.09-.066 1.422.307.345.389.419.983.181 1.509-.433.952-.55 1.847-.068 2.224.395.309.782.418 1.982-.207 1.573-.821 3.433-2.885 3.32-6.274-.041-1.213-.495-2.119-1.349-2.695-.806-.544-1.888-.726-2.988-.726-2.999 0-4.453.746-8.406 2.158-5.48 1.958-12.385 4.246-16.209 5.186-1.572.386-2.948 1.543-2.948 3.131 0 2.512 3.026 3.152 5.096 2.459.435-.145 4.729-1.692 6.25-1.887.217-.028.322.053.339.212.025.209.118 2.362.158 3.335.169 4.105.515 12.084.547 12.642.062 1.058.07 4.386 1.882 4.386 1.685 0 2.497-1.8 2.924-4.386.601-3.656.1-8.888-.143-13.071-.069-1.181-.236-3.444-.236-3.444'%3E%3C/path%3E%3Cpath d='m184.6924 4.1435c-2.267 0-4.425 4.197-5.978 7.923-1.96 4.711-3.058 8.941-3.716 10.348-.517-1.36-1.872-5.359-2.563-6.809-1.176-2.471-2.432-4.368-4.029-4.368-.892 0-1.949.548-1.949 2.135 0 1.125.466 2.531.953 3.826.155.416 3.208 7.814 3.645 9.181 0 0 1.456 4.474 1.588 4.869.891 2.681 1.729 3.02 2.293 3.02.919 0 2.17-.37 2.809-3.107.406-1.745.986-3.728 1.481-5.352.898-2.94 3.146-8.501 4.592-11.886 1.173-2.745 2.645-5.907 2.645-7.871 0-.931-.393-1.909-1.771-1.909'%3E%3C/path%3E%3Cpath d='m111.2695 35.3252h-83.625l6.661 6.661z'%3E%3C/path%3E%3Cpath d='m30.5391 26.166c-2.889 0-5.004-2.844-5.004-6.438 0-3.591 2.115-6.436 5.004-6.436 2.893 0 4.931 2.845 4.931 6.436 0 3.594-2.038 6.438-4.931 6.438zm4.852-17.784v1.007c-1.552-.989-2.945-1.565-4.852-1.565-5.858 0-10.309 5.343-10.309 11.904 0 6.563 4.451 11.902 10.309 11.902 1.907 0 3.3-.572 4.852-1.563v1.006h5.15v-22.691z'%3E%3C/path%3E%3Cpath d='m76.6465 8.3818v13.33c0 2.5-1.719 4.612-4.221 4.612-2.5 0-4.218-2.112-4.218-4.612v-13.33h-5.151v13.33c0 5.469 3.741 9.919 9.212 9.919 2.533 0 4.378-1.401 4.378-1.401v.843h5.149v-22.691z'%3E%3C/path%3E%3Cpath d='m124.6328 31.0732v-13.33c0-2.501 1.718-4.612 4.22-4.612 2.5 0 4.219 2.111 4.219 4.612v13.33h5.151v-13.33c0-5.469-3.742-9.919-9.213-9.919-2.533 0-4.377 1.401-4.377 1.401v-.843h-5.15v22.691z'%3E%3C/path%3E%3Cpath d='m95.6768 25.7036c-.463.314-1.047.558-1.723.558-.84 0-2.427-.642-2.427-2.784v-9.71h4.404v-5.386h-4.404v-5.655h-5.151l.001 5.655h-2.725v5.386h2.725v9.789c-.002 5.067 3.816 8.093 7.655 8.093 1.432 0 3.418-.468 5.039-1.428z'%3E%3C/path%3E%3Cpath d='m53.3447 19.018 8.834-10.636h-7.219l-6.178 7.905v-15.434h-5.304v30.22h5.304v-9.321l7.595 9.321h7.216z'%3E%3C/path%3E%3Cpath d='m112.0684 16.7983h-9.275c1.083-5.314 8.271-5.62 9.275 0m-4.496-8.993c-5.961 0-10.236 5.239-10.236 11.922 0 7.028 5.366 11.924 10.748 11.924 2.715 0 6.196-.932 9.121-5.08l-4.549-2.627c-3.519 5.186-9.382 2.554-10.059-2.632l14.835.004c1.27-8.15-4.001-13.511-9.86-13.511'%3E%3C/path%3E%3Cpath d='m5.3857 8.1088h3.516c2.418 0 4.396 1.968 4.396 4.391 0 2.43-1.978 4.396-4.396 4.396h-3.516zm0 22.964v-8.791h3.811l6.594 8.791h6.743l-7.969-10.608c2.483-1.782 4.115-4.681 4.115-7.965 0-5.393-4.386-9.773-9.778-9.773h-8.902v28.346z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-size: 122px 36.4px;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-bar-menu, .nav-bar-user-menu {
    display: flex;
    height: 100%;
}

.non-visible-wrap {
    display: none;
    color: $color-main;
    width: 200px;
    height: 150px;
    background-color: $background-color-nav;
    li {
        text-transform: uppercase;
    }
}

.cinema {
    display: flex;
    flex-direction: column;
    position: relative;
    a {
    padding-left: 20px;
    }
}

.cinema {
    a:hover  {
    color: #FFE300;
    }
}

.cinema:hover {
.non-visible-wrap {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 50px;
        padding: 20px 0 20px 5px;
    }
}

.non-visible-wrap {
    li a:hover {
    color: #FFE300;
    }
}

.nav-bar-menu {
    width: 314px;
}

.search-container {
    height: 100%;
    flex-grow: 2;
    display: flex;
    input {
        position: absolute;
        margin-left: 20px;
        padding-left: 30px;
        width: 300px;
        height: 40px;
        margin-top:-20px;
        background-color: #333333;
        border: none;
        outline: none;
    }
    input:focus {
        background-color: $color-main;
    }
    i {
        margin-top:-8px;
        position: absolute;
        margin-left: 25px;
        z-index: 3;
        color: black;
    }
    .search-bar {
        width: 300px;
        margin: auto 0;
        position: relative;
    }
}

.search-mobile {
    display: none;
}

.nav-bar-user-menu {
    width: 369px;
    justify-content: space-between;
    li:nth-child(1) a {
        color: #999999; 
    }
     li:nth-child(2) a {
        color: $color-main; 
    }
    li:nth-last-child(1) a {
        background-color: #FFE300; 
        border-radius: 2px;
        width: 108px;
        height: 32px;
        color: #252525;
        padding: 8px 4px;
    }
}

.menu-item {
    cursor: pointer;
    display: flex;
    p, a {
        margin: auto;
    }
}

/* ---------------------------- */
/* ----- FIRST CAROUSEL ------- */

#main-carousel {
    margin-top: 61px;
    display: flex;
    z-index: 1;
    cursor: pointer;
}

.image {
    width: 100%;
}


/* ------------------------ */
/* ----- NAV MOVIES ------- */

.top-movies{
    height: 189px;
    margin: 25px 0 0;
    padding: 0 5px 0 5px;
}

.movies{
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.movie{
    flex-grow: 1;
    border-radius: 2px;
    border: 4px solid transparent;
    cursor: pointer;
}

.movie:hover{
    border: 4px solid #FFE300;
    transition: opacity .2s ease;
}

.movie img{
    width: 100%;
    border-radius: 2px;
}

/* ----------------------------- */
/* ----- SECOND CAROUSEL ------- */

.container-carousel {
    height: 327.5px;
    padding: 0 30px 15px;
}

.title {
    max-width: 1680px;
    display: flex;
    justify-content: space-between;
    .text-free {
        color: $color-main;
        font-size: 22px;
        span {
            text-transform: uppercase;
        }
    }
}

.view-all {
        color: $color-main;
        text-transform: uppercase;
        font-size: 14px;
}

.second-carousel  {
    .slide {
    img {
        cursor: pointer;
        width: 100%;
        transition: opacity .2s ease;
        border: 4px solid transparent;  
    }
    &:hover img {
       border: 4px solid #FFE300;
    }
}
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .slick-prev, .slick-next {
    font-size: 20px;
    line-height: 0;
    position: absolute;
    top: 40%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 1;
  }
  .slick-prev:before {
    font-family: 'slick';
    font-size: 3em;
    line-height: 1;
    color: $color-main;
    -webkit-font-smoothing: antialiased;
    content: '<';
  }
  .slick-next:after {
    font-family: 'slick';
    font-size: 3em;
    line-height: 1;
    color: $color-main;
    -webkit-font-smoothing: antialiased;
    content: '>';
    right:0;
  }
  .slick-prev {
    left:10px;
  }
  .slick-next {
    right:50px;
  }
}

/* -------------------- */
/* ----- FOOTER ------- */

footer {
    height: 576px;
    display: flex;
    flex-direction: column;
    color: $color-main;
    background-color: $background-color-footer;
}

.nav-footer {
    display: flex;
    flex-direction: column;
}

.container-footer-mobile {
    display: none;
}

.main-footer {
    padding: 25px;
    height: 440px;
    text-align: center;
}

.footer-info-title {
    margin-top: 15px;
    color: $color-main;
    font-size: 22px;
    text-align: center;
  span {
        text-transform: uppercase;
    }
}

.footer-info-text {
    margin: 10px auto 40px;
    width: 50%;
    color: $color-secundary;
    font-size: 14px;
    text-align: center;
    line-height: 160%;
}

.footer-faqs {
    display: flex;
    justify-content: center;
    height: 191px;
    li {
        display: flex;
        flex-direction: column;
        width: 364px;
        padding: 0 35px;
        i {
           font-size: 50px;
        }
    }
}

.faqs-title, .faqs-text {
    margin-top: 15px;
    span {
        text-transform: uppercase;
    }
}

.faqs-title {
    font-size: 24px;
}

.faqs-text {
    margin-top: 10px;
    color: $color-secundary;
    font-family: NotoSans-Regular,Arial,sans-serif;
    font-size: 14px;
    line-height: 160%;
    padding: 0 25px;
}

.rakuten-info {
    background-color: $background-color-mini-footer;
    height: 136px;
    width: 100%;
    padding: 35px 45px;
    color: $color-secundary;
    font-size: 14px;
    transition: color .1s ease;
}

.rakuten-info-link {
    display: flex;
    justify-content: space-between;
    a {
        color: $color-secundary;
        span {
        text-transform: uppercase;
    }
    }
}

.copirigth {
    color: #737373;
    margin: 20px 0 0 30px;
}

/* ------------------------- */
/* ----- MOBILE ------------ */

@media (max-width: 1250px){
    .nav-bar-user-menu li:first-child{
        visibility: hidden;
    }
    .container-header {
        position: absolute;
        background-color: transparent;
    }
    .nav-bar-menu, .search-container, .nav-bar-user-menu {
        display: none;
    }
    #main-carousel {
        margin-top: 0;
    }
    .nav-bar {
        justify-content: space-between;
    }
    .search-mobile {
        display: flex;
        margin: auto 0;
    }
    footer {
        height: 632px;
    }
    .footer-info-text {
        display: none;
    }
    .container-footer-mobile {        
        height: 56px;
        position: fixed;
        bottom: 0;
        z-index: 9;
        width: 100%;
        background-color: #000;
    }
    .footer-mobile {
        margin: auto 0;        
        justify-content: space-between;
        a {
            text-transform: uppercase;
            color:$color-secundary;
        }
    }
}


