.product-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        width: 22%;
        height: auto;
        img{
            max-width: 100%;
            height: auto;
        }
        a {
            text-decoration: none;
            color: black;
            cursor: pointer;
        }
    }

}