.game-window{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #023047;
    border-radius: 25px;
    color: #fa1919;
    display: flex;
    align-items: center;
    width: 50vw;
    height: 50vh;
     
} 
.game-window__question {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #219EBC;
    border-radius: 25px;
    margin-top: 5vh;
    width: 40vw;
    height: 5vh;

}

.answer-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 35vw;
    height: 25vh;
}

.answer-box__answer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 15vw;
    height: 10vh;
    background-color: yellow;
}
.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}