* {
    list-style: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerIntroduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerInstructions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-li{
    display: flex;
}

.containerImg{
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 210px;
    background-image: url("https://download.logo.wine/logo/Spotify/Spotify-Logo.wine.png");
    background-size: 300px;
    background-color:white;
    margin: 20px;
}

.begginButton{
    margin-top: 10px;
}

.musicLogo {
    width: 30px;
    height: 30px;
}

button {
    background: #47b431;
     padding: 5px 10px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     border-radius: 10px;
     display: block;

     .button:hover {
       background-position: right center;
       color: #fff;
       text-decoration: none;
     }
}
  