body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.header-content {
display: flex;
justify-content: center;
}
.image-presentation {
    max-width: 300px;
    max-height: 300px;
    margin: 50px;
}