.slider {
    width: 100%;
    margin-bottom: 30px;
    height: auto;
    
    img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        object-position: center;
    }
}