body {
    background-color: #aee1e1;
}

.header__tittle {
    display: flex; 
    justify-content: center;
    font-family: 'Patrick Hand', cursive;
    background-color: #fcd1d1;
    color: #02475e;
    text-transform: uppercase;
    font-size: 300%;
}

.header__ul {
    background-color: #fefecc;
    margin: 0 25% 2% 25%;
    border-radius: 5px;
    padding: 5% 0 5% 0;
}

input {
    display: flex;
    justify-content: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 120%;
    color: #02475e;
    border-radius: 5px;
    border: none;
}

.header__addButton {
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    border-radius: 10px;
    margin-top: 5px;
    background-color: #02475e;
    color: white;
}

.header__ul-list {
    display: flex;
    justify-content: center;
    align-items: center
}

.header__ul-list--span {
    font-family: 'Patrick Hand', cursive;
    font-size: 140%;
    padding-right: 25px;
}

.header__ul-list--modifyButton {
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    background-color: #02475e;
    color: white;
}

.header__ul-list--deleteButton {
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    background-color: #ff5200;
    color: white; 
}

.header__ul-list--doneButton {
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    background-color: #81b214;
    color: white;  
}

.header__ul-list--changeButton {
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    margin-left: 15px;
    background-color: #81b214;
    color: white; 
}

.resetButton {
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    margin-left: 40%;
    margin-top: 10%;
    background-color: #02475e;
    color: white;
    width: 20%;
}