*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 12px;
  background: #965f5f;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
}

.header-toplink {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #f8f8f8;
  padding: 0px 50px 0px 50px;
}

.first-block {
  position: fixed;
  top: 0;
  width: 70px;
  height: 130px;
  background: url(img/maria-lunarillos.png) #ff5959 bottom center no-repeat;
}

.second-block {
  position: fixed;
  top: 0;
  left: 125px;
  width: 60px;
  height: 70px;
  background: url(img/cucute.png) #6199af bottom center no-repeat;
}

.third-block {
  position: fixed;
  top: 0;
  left: 190px;
  width: 60px;
  height: 70px;
  background: url(img/mumuchu.png) #f6b436 bottom center no-repeat;
}

.header-logo-links {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
  background: white;
  padding: 0px 50px 0px 50px;
  margin-top: 50px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  padding-bottom: 50px;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.quick-access {
  display: flex;
  flex-direction: row;
  height: 150px;
}

.nav-bottom-container {
  height: 150px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
}

.button {
  width: 80px;
  height: 80px;
  background-size: 50%;
  background-color: #f2f2f2;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  margin: 3px;
  text-align: center;
}

.button.utensilio {
  background-image: url(img/utensiliosML.png);
}

.button.ingredientes {
  background-image: url(img/magdalena.png);
}

.button.fiestas {
  background-image: url(img/tarta-cumpleanos.png);
}

.button.marcas {
  background-image: url(img/delantal.png);
  background-size: 70%;
}

.button.blog {
  background-image: url(img/menu.svg);
  background-repeat: no-repeat;
  background-color: #ff5959;
  background-position: -320px 0;
  background-size: 560px;
}

.text-button {
  bottom: -90px;
  padding-top: 7px;
  position: relative;
  left: 0;
  width: 100%;
  padding: 0;
  color: #2e2925;
}
