* {
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
}

.containerPresentation {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #e471e4 0%, #4cd6e6 100%);
    border-radius: 20px;
    border: solid 5px pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    padding-top: 50px;
    padding-bottom: 20px;

    .containerPresentation__information-text{
        margin-left: 10px;
    }

    .containerPresentation__information-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;

    img {
        border-radius: 50%;
        border-color:white;
        border-style: solid;
        margin-left: 10px;
        width: 150px;
        height: 150px;
    }
    }

    .containerPresentation__information-button {
        .moreInfo {background-image: linear-gradient(to right, #f7ff00 0%, #db36a4  51%, #f7ff00  100%)}
        .moreInfo {
           margin: 10px;
           padding: 5px 20px;
           text-align: center;
           text-transform: uppercase;
           transition: 0.5s;
           background-size: 200% auto;
           color: black;
           font-weight: 700;     
           border-radius: 10px;
           font-size: 10px;
           display: block;
         }

         .moreInfo:hover {
           background-position: right center;
         }
        
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
    }
}