@import"./colors";

$padding:10px;
@mixin slideshow-images {
    color:rgba(255, 255, 255, 0);
    padding:50px;
    font-size:3em;
    height:40vw;
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center top;
    
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $black;
    font-family: Noto Sans,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.logo{
    width: 150px;
}
.header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-content: center;
    padding:10px 20px;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    .main-navigation{
        padding: $padding;
    }
    a{
        padding: $padding;
        color: #fff;
        text-decoration: none;
        align-self: center;
    }
    a:hover{
        color: $amarillo;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 60%;
        li{
            padding: $padding;
        }
    }
}
.navigation-sections{
    display: flex;
    align-content: center;
}
#register{
    background-color: $amarillo;
    color: $black;
    margin-top: 10px;
    border-radius: 5px;
}
/*--------------THIS IS THE SLIDESHOW---------------*/

    .stackend .slide1 {
    background-image: url("./../images/img-slice-1.png");
    @include slideshow-images;
    }
    .stackend .slide2 {
    background-image: url("./../images/img-slice-2.png");
    @include slideshow-images;
    }

/*--------------END OF SLIDESHOW---------------*/

.slideshow-images{
    width: 100%;
}

