@font-face {
  font-family: 'FontAwesome';
  src: url("../Font/fontawesome-webfont.eot?v=3.2.1");
  src: url("../Font/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../Font/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../Font/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../Font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #131313;
  font-family: Noto Sans,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.logo {
  width: 150px;
  height: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
}

.header .main-navigation {
  padding: 10px;
}

.header a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header a:hover {
  color: #ffe300;
}

.header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

.header ul li {
  padding: 10px;
}

.navigation-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.search-bar {
  padding: 10px;
  background-color: #333;
  color: #252525;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  background-image: url("./../images/search-icon.png");
  background-repeat: no-repeat;
  background-size: 21%;
  padding-left: 40px;
  color: white;
}

.user-functions {
  padding: 10px;
}

#register {
  background-color: #ffe300;
  color: #131313;
  margin-top: 10px;
  border-radius: 5px;
}

/*--------------THIS IS THE SLIDESHOW---------------*/
.stackend .slide1 {
  background-image: url("./../images/img-slice-1.png");
  color: rgba(255, 255, 255, 0);
  padding: 50px;
  font-size: 3em;
  height: 40vw;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.stackend .slide2 {
  background-image: url("./../images/img-slice-2.png");
  color: rgba(255, 255, 255, 0);
  padding: 50px;
  font-size: 3em;
  height: 40vw;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

/*--------------END OF SLIDESHOW---------------*/
.movie-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.images-categories {
  width: 100%;
  height: auto;
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
}

.images-categories:hover {
  padding: 0;
  border: 5px solid #ffe300;
}
/*# sourceMappingURL=styles.css.map */