body {
    width: 100%;
    background: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .header-container-fixed  {
    width: 86%;
    height: 37px;
    display : flex;
    flex-flow: row wrap;
    position: fixed; 
    background-color: rgb(248, 248, 248);
    justify-content: space-between;
    margin-top: -8px;
    z-index: 5000;
}

.background-large {
    width: 140%;
    height: 5%;
    /* margin-left: -20vw; */
    position: absolute;
}

.nav-icons {
    width: 50%;
    height: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.mainicons {
    width: 232px;
    height: 140px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-self: flex-start;
    /* margin-right: 325px;     */
}

#marialink {
    width: 80px;
    height: 140px;
    background-color: rgb(255, 89, 89);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#cucutelink {
    width: 70px;
    height: 70px;
    background-color: rgb(97, 153, 175);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#cucutelink:hover {
    height: 140px;
    transition: 0.2s;
}

#mumuchulink {
    width: 70px;
    height: 70px;
    background-color: rgb(246, 180, 54);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#mumuchulink:hover {
    height: 140px;
    transition: 0.2s;
}

.icon {
    width: 27px;
    height: 27px;
    background-color: white;
    background: url("./media/sprite.svg") 0 0;
}

.icon:hover {
    background: url("./media/sprite.svg") 313px 0;
}

#register {
    width: 158.85px;
    height: 49.6px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

#register:hover {
    width: 158.85px;
    height: 49.6px;
    display: flex;
    flex-direction: row;
    margin: auto;
    color: rgb(255, 89, 89);
}

.icon-charriot {
    width: 35px;
    height: 35px;
        background: url("./media/sprite.svg") 277px 0px;
}

.icon-charriot:hover {
    width: 35px;
    height: 35px;
        background: url("./media/sprite.svg") 236px 0px;
        background-color: rgb(255, 89, 89);
}

.qty{
    width: 35px;
    height: 35px;
    text-align: center;
    color: white;
    background-color: rgb(255, 89, 89);
}

.links {
    width: 275px;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
}

a.links * {
    width: 20px;
    height: 20px;
    color: white;
    border: 1px solid black;
    height: 100px;
}

.twitter {
    width: 35px;
    height: 35px;
    background: url("./media/sprite.svg") 0 0;
}

.instagram {
    width: 35px;
    height: 35px;
    background: url("./media/sprite.svg") 0 0;
}

.pinterest {
    width: 35px;
    height: 35px;
    background: url("./media/sprite.svg") 0 0;
}

.youtube {
    width: 35px;
    height: 35px;
    background: url("./media/sprite.svg") 165px 540px;
}

main {
    width:  85%;
    justify-content: center;
}

header {
    width: 85%;
    height: 218px;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    margin-top: 5%;
}

.large {
    width: 46% ;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.large-image {
    padding-bottom: 10%;
    margin-left: -7px;
}

.quick-access {
    width: 54%;
    height: 218px;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.welcome-msg {
    width: 100%;
    height: 30px;
    font-size: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.news {
    width: 25%;
    height: 26px;
    color: white;
    background-color: #9FAA4D;
    text-align: right;
}

.offers {
    width: 25%;
    height: 26px;
    color: white;
    background-color: #8E789D;
    text-align: right;
    margin-bottom: 1px;
}

.myInput {
    width: 42%;
    height: 28px;
    border: 1px solid #BBB8B6;
    margin-bottom: 1px;
}

.button {
    width: 7%;
    height: 28px;
    border: 1px solid #BBB8B6;
    background-color: #BBB8B6;
}

.nav-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav {
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row wrap;  
    justify-content: flex-start; 
    list-style: none;
}

.level-top {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin-left: 2px;
}

.level-top :nth-child(1) {
    background-color: red;
}

#blog-link {
    justify-self: flex-end;
    margin-left: 0px;
}    

.unfinished-next-section {
    width: 140%;
    height: 600px;
    text-align: center;
    font-size: larger;
    color: limegreen;
    background-color: #c1d6e7;
    margin-left: -20vw;
    display: flex;
    justify-content: center;
}

.gallery {
    width: 600px;
    height: 140%;
    margin-left: -20vw;
}






section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f8f8f8;
}    

.section-head {
    width: 100%;
    height: 259px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}    

.section-icon {
    width: 100%;
    height: 125px;
    border: 1px solid red;
}    

.section-title{
    width: 100%;
    height: 70px;
    color: #2E2925;
    text-align: center;
    text-transform: uppercase;

    border: 1px solid red;
}    

.section-gallery {
    width: 100%;
    height: 615px;
    display: flex;
    /* background-color: pink;
    border: 1px solid red; */
}

.column-canvas {
    background-image: url("./media/moldesdereposteria.jpeg");
    background-repeat: no-repeat;
    width: 31%;
    height: 600px;
    padding: 7.5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid red; */
}

.row-canvas {
    width: 65%;
    height: 630px;
    padding: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    /* border: 1px solid red; */
}

.row-top-canvas {
    background-image: url("./media/utensiliosbasicos.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    padding: 7.5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid red; */
}

.row-bottom-canvas {
    background-image: url("./media/pequenoelectrodomestico2.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    padding: 7.5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid red; */
}

.section-text-box {
    width: 100%;
    height: 150px;
    color: #67635F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.section-text-backgound {
    width: 250px;
    height: 150px;
    background-color: #FFFFFF;
    opacity: 0.5;
    position: absolute;

}

.section-text {
    width: 70%;
    height: 150px;
    text-transform: capitalize;
    z-index: 1;
}

.section-text-triangle {
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid transparent;
    border-left: 150px solid #FFFFFF;
    border-bottom: 50px solid #FFFFFF;
    opacity: 0.5;
}










footer {
    width: 100%;
    height: 409px;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
}

.info-box {
    width: 100%;
    height: 215px;
    background-color: #e8e6e5; 
    color: #67625f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-icons {
    width: 200px;
    height: 100px;
    border: 1px solid;
    margin: 0 30px;
}

.icons-free-shipping-img {
    width: 85px;
    height: 60px;
    background: url("./media/sprite.svg") -350px -41px;
}

.contact-footer {
    width: 100%;
    height: 257px;
    background-color: #f8f8f8;
    color: #67635F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
    width: 270px;
    height: 147px;
    flex-grow: 1;
}

.newsletter {
    height: 147px;
    width: 200px;
    border: 1px;
    flex-grow: 1;
}

.about-terms {
    width: 270px;
    height: 147px;
    list-style: none;
    flex-grow: 1;
}

.terms-list {
    width: 270px;
    height: 122px;
    display: flex;
    flex-direction: column;
}

.terms {
    width: 50px;
    height: 20 px;
    border: 1px solid red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact-icons {
    width: 30px;
    height: 31px;
    background: url("./media/sprite.svg") -350px 207px;
}

.about-us-icons {
    width: 30px;
    height: 31px;
    background: url("./media/sprite.svg") 0 0;
}

.sale-conditions-span {
    
    color: rgb(255, 89, 89);
}

.contact-span {
    width: 30px;
    height: 31px;
    color:rgb(255, 89, 89);
}

.sale-conditions-icons {
    width: 30px;
    height: 31px;
    background: url("./media/sprite.svg") 0 0;
}

.sale-conditions-span {
    
    color: rgb(255, 89, 89);
}

.content {
    width: 100%;
    height: 50px;
    background-color: #FF5959;
    color: #FFFFFF;
    text-align: center;
}







