@import './../../../styles/colors.scss';

.go-back-button{
  width: 100px;
  height: 30px;
  background-color: $color-gray-ligth;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
}