$general-background: #3A2D32;
$mid-color: #B01C5A;
$light-color: #E34F8D;

body {
    background-color:$general-background;
    color: $mid-color;
    font-family: 'Ubuntu', sans-serif;
}

input {
    text-align: center;
}

.tasks-adder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskTitle-input {
    background-color: $light-color;
    color: black;
    font-size: 1.5em;
    border-radius: 0.35em;
    border-style: none;
    outline: none;
    padding: 0.35em;
    margin-bottom: 0.35em;

    &::placeholder{
        color: $general-background;
    }

}

.taskDescription-input {
    background-color: $light-color;
    color: black;
    font-size: 1em;
    height: 2em;
    border-radius: 0.5em;
    border-style: none;
    outline: none;
    padding: 0.35em;

    &::placeholder{
        color: $general-background;
    }
}

.addTask-button {
        cursor: pointer;
        outline: none;
        border-style: none;
        background-color: transparent;
        padding: 2em 0em 0 0;

    img {
        width: 2em;
    }
}

.fa-plus-circle {
    &:hover {
        color: yellow;
    }
}