* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}



ul {
  list-style: none;
}

.header-fixed-container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
}

.header-fixed {
  width: 100%;
  height: 50px;
  background-color: lightgrey;
  display: flex;
  justify-content: flex-end;
}

.webs-container {
  width: 240px;
  height: 144px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 68.5px;
 
  a {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.ma {
  width: 80px;
  height: 140px;
  background-image: url("../images/maria-lunarillos.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #FF5959;
  margin: 2px;
}

.cu {
  width: 70px;
  height: 70px;
  background-image: url("../images/cucute.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #6199AF;
  margin: 2px;
}

.cu:hover,
.mu:hover {
  height: 140px;
}

.mu {
  width: 70px;
  height: 70px;
  background-image: url("../images/mumuchu.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #F6B436;
  margin: 2px;
}

.bars-menu-container  {
  display: none;
}

.login-link-container {
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #2E2925;
  font-size: 13px;
  
  a {
    display: flex;
    align-items: center;
  }
  a:link,
  a:visited {
    text-decoration: none;
    color: #2E2925;
  }
}

.login-icon {
  display: inline-block;
  width: 27px;
  height: 27px;
  background: url(../images/sprite.svg) 0 0 no-repeat;
}

.socialmedia-links-container {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; 

  i {
    width: 35px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
}


.search-container {
  display: none;
}

.cart-link-container {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-number {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF5959;
  color: white;
}

@media screen and (max-width: 800px) {
  header {
    display: flex;
    justify-content: flex-end;
  }
  .webs-container {
    display: none;
  }
  .bars-menu-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
  }
  .login-link-container {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .login-text {
    display: none;
  }
  .socialmedia-links-container {
    display: none;
  }
  .search-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;

    i {
      color: white;
    }
  }

}