* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

header {
  width: 100%;
  height: 50px;
  background-color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

ul {
  list-style: none;
}

.header-container-fixed {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.webs-container {
  width: 240px;
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  left: 68.5px;
}

.webs-container a {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .webs-container {
    display: none;
  }
}

.ma {
  width: 80px;
  height: 140px;
  background-image: url("../images/maria-lunarillos.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #FF5959;
  margin: 2px;
}

.cu {
  width: 70px;
  height: 70px;
  background-image: url("../images/cucute.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #6199AF;
  margin: 2px;
}

.cu:hover,
.mu:hover {
  height: 140px;
}

.mu {
  width: 70px;
  height: 70px;
  background-image: url("../images/mumuchu.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #F6B436;
  margin: 2px;
}

.bars-menu-container {
  display: none;
}

@media screen and (max-width: 800px) {
  .bars-menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.login-link-container {
  width: 180px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #2E2925;
  font-size: 13px;
}

.login-link-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-link-container a:link,
.login-link-container a:visited {
  text-decoration: none;
  color: #2E2925;
}

.login-icon {
  display: inline-block;
  width: 27px;
  height: 27px;
  background: url(../images/sprite.svg) 0 0 no-repeat;
}

@media screen and (max-width: 800px) {
  .login-text {
    display: none;
  }
}

.socialmedia-links-container {
  width: 200px;
  height: 60px;
  border: solid 2px orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 800px) {
  .socialmedia-links-container {
    display: none;
  }
}

.search-container {
  display: none;
}

@media screen and (max-width: 800px) {
  .search-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.carrito-link-container {
  width: 120px;
  height: 60px;
  border: solid 2px orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=maria-lunarillos.css.map */