*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(0, 0, 0);
	font-size: 14px;
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: 'Zen Dots', cursive;
	padding: 20px;
	height: 100vh;
}

ul {
	list-style: none;
}

.rules {
	margin-top: 20px;
	text-align: justify;
	text-align: center;
	h2 {
		text-align: center;
	}
}
.game {
	&__space {
		display: flex;
		justify-content: center;
		height: 100%;
		align-items: center;
		flex-grow: 1;
	}
	&__controls {
		margin: 20px 0;
	}
}

.cell {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	font-size: 8px;
	border: 1px solid rgb(49, 48, 48);
	&__text {
		display: none;
	}
	&--alive {
		background-color: red;
		color: red;
	}
}
