.task-container {
background-image: url("./../assets/pngfind.com-torn-notebook-paper-png-2535932.png");
  background-position: 45% 10px;
  background-repeat: no-repeat;
  background-size: 650px;
  height: 900px;
  padding-top: 80px;
}

.task-list {   
    display:flex;
    flex-direction:column;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.input-container {
    display: inline-flex;
}

.input-task {
    width: 300px;
    height: 45px;
    border-radius: 30px;
    padding: 0 30px;
    outline: none;
    font-size: 18px;
}

.task-item {
        width: 400px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin:5px 0;
        background-color: rgb(230, 230, 230);
        border-radius: 40px;
        padding: 0 15px 0 30px;
        height: 50px;
}

.task-item--done {
    text-decoration: line-through;
        width: 400px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin:5px 0;
        background-color: rgb(230, 230, 230);
        border-radius: 40px;
        padding: 0 15px 0 30px;
        height: 50px;
}

.button-delete {
    background-image: url("./../assets/trash-alt-solid.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  margin: 0;
  margin-right: 0;
  background-color: cyan;
filter: invert(1);
width: 30px;
height: 30px;
border-radius: 50%;
outline: none;
border: none;
}

.button-done {
    background-image: url("./../assets/check-solid.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    background-color: yellow;
    filter: invert(1);
    margin: auto;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:none;
    outline: none;
}

.button-add {
    width: 45px;
    height: 45px;
    font-size: 35px;
    background-color: green;
    color: white;
    border: 0;
    border-radius: 50%;
    margin-left: 10px;
}