*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  overflow: hidden;
  position: relative;
  margin-top: 120px;

  &__img {
    width: 200px;
    height: 280px;
    margin-left: 2px;
  }
}

.buttons-container {
  display: flex;
  justify-content: space-between;

  &__backButton, &__nextButton{
    border-radius: 50%;
    font-size: 30px;
    width: 40px;
    height: 40px;
  }
}